In [65]:
%load_ext autoreload
%autoreload 2
from PerfilGrupal import PerfilGrupal

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

[autoreload of PerfilGrupal failed: Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\user\anaconda3\lib\site-packages\IPython\extensions\autoreload.py", line 394, in superreload
    module = reload(module)
  File "C:\Users\user\anaconda3\lib\imp.py", line 314, in reload
    return importlib.reload(module)
  File "C:\Users\user\anaconda3\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 779, in exec_module
  File "<frozen importlib._bootstrap_external>", line 916, in get_code
  File "<frozen importlib._bootstrap_external>", line 846, in source_to_code
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "C:\Users\user\Documents\uaque\PerfilGrupal(MF)\PerfilGrupal.py", line 157
    filepath = "rC:\Users\user\Downloads\Tree_trained_model_"+now_time+".pkl"
               ^
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 3-4: truncated \UXXXXXXXX escape
]

In [32]:
pg = PerfilGrupal()

inicializando

In [33]:
pg.crearPesos()

In [34]:
pg.invocarTablaPesos()

                                  IDUsuario  DeweyUnidad  Peso
0  0162b51974d7858330fe99253c73f8ff03292f99          332  0.75
1  0162b51974d7858330fe99253c73f8ff03292f99          813  0.25
2  0162b51974d7858330fe99253c73f8ff03292f99          863  0.25
3  0162b51974d7858330fe99253c73f8ff03292f99          923  0.25
4  018f37636c3ba584df3ceb8b863dbb6867c78851          823  0.25

Total de IDs de usuarios:  312

                                  IDUsuario  DeweyDecena  Peso
0  0162b51974d7858330fe99253c73f8ff03292f99          330  0.75
1  0162b51974d7858330fe99253c73f8ff03292f99          810  0.25
2  0162b51974d7858330fe99253c73f8ff03292f99          860  0.25
3  0162b51974d7858330fe99253c73f8ff03292f99          920  0.25
4  018f37636c3ba584df3ceb8b863dbb6867c78851          820  0.25

Total de IDs de usuarios:  312

                                  IDUsuario  DeweyCentena  Peso
0  0162b51974d7858330fe99253c73f8ff03292f99           300  0.75
1  0162b51974d7858330fe99253c73f8ff03292f99           800  0.50
2  0162b51974d7858330fe99253c73f8ff03292f99           900  0.25
3  018f37636c3ba584df3ceb8b863dbb6867c78851           800  0.25
4  0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4           100  0.50

Total de IDs de usuarios:  312

In [37]:
pg.invocarNormalizarPesos()

Normalizando pesos...Iniciando
Normalizando pesos...Acabado
Normalizando pesos...Iniciando
Normalizando pesos...Acabado
Normalizando pesos...Iniciando
Normalizando pesos...Acabado

In [43]:
pg.invocarClustering()

Comenzando clustering...
Normalizando pesos...Iniciando
Normalizando pesos...Acabado
Finalizando clustering...
Comenzando clustering...
Normalizando pesos...Iniciando
Normalizando pesos...Acabado
Finalizando clustering...
Comenzando clustering...
Normalizando pesos...Iniciando
Normalizando pesos...Acabado
Finalizando clustering...

In [45]:
pg.exportarDatos()

In [61]:
pg.exportarModelo()

AttributeError: 'PerfilGrupal' object has no attribute 'n'