# Importación de librerias

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

# Importación de datos

join es la tabla de los prestamos junto a la información de los ítems después de la limpieza y extracción de atributos adicionales.

In [2]:
#importamos la tabla de join 
join = pd.read_json('https://www.dropbox.com/s/i1komhf7u1c4y95/joinTablas.json?dl=1')

In [3]:
#Eliminamos algunas columnas que no nos interesan para este notebook
join = join.drop(["Fecha","Dewey","Facultad","Temas","Union","TipoItem"], axis=1)
#Ejemplos y columnas del dataframe
display(join.head(3))
display(join.columns)

,RowID,IDItem,NumeroUbicacion,Ubicacion,Llave,Programa,IDUsuario,Year,Signatura,Autor,Titulo,AnioPublicacion,DeweyEspecifico,TemaDewey,DeweyUnidad,DeweyDecena,DeweyCentena
0,Row0,80000005327627,720.98 A71S,COL-GRAL-2,866245,CARRERA DE ARQUITECTURA,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019,720.98,"Arango Cardinal, Silvia 1948-",Ciudad y arquitectura seis generaciones que co...,2012.0,720.98,Arquitectura latinoamericana,720,720,700
1,Row1,80000001191496,720.9861 A71,COL-GRAL-2,309945,CARRERA DE ARQUITECTURA,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019,720.9861,"Arango Cardinal, Silvia 1948-",Historia de la arquitectura en Colombia Silvia...,1993.0,720.9861,Arquitectura colombiana,720,720,700
2,Row2,80000004979759,540 CH15Q 2010,COL-GRAL-3,822727,CARRERA DE ARQUITECTURA,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,2019,540,"Chang, Raymond",Química Raymond Chang ; revisión técnica Rosa ...,2010.0,540,Química,540,540,500

Index(['RowID', 'IDItem', 'NumeroUbicacion', 'Ubicacion', 'Llave', 'Programa',
       'IDUsuario', 'Year', 'Signatura', 'Autor', 'Titulo', 'AnioPublicacion',
       'DeweyEspecifico', 'TemaDewey', 'DeweyUnidad', 'DeweyDecena',
       'DeweyCentena'],
      dtype='object')

In [4]:
join.loc[join.IDUsuario == "6466dbb15c41fdacb59eb1179817958de2c57191"].shape[0]

17

# Preparación de los datos
Crearemos la columna de pesos así como el dataframe que identificará los gustos y preferencias de los usuarios. Estos dataframes se crearán teniendo en cuenta 3 columnas diferentes:
* DeweyUnidad 
* DeweyDecena
* DeweyCentena

**Creación de columna "Peso"**:
A partir del análisis con expertos en negocio, se ha entendido que es importante tomar en cuenta el cambio de gustos de los usuarios a través del tiempo y dar menos peso a prestamos que se realizaron en el pasado a prestamos más recientes. Para esto se creará una nueva columna denominada "Peso" la cual determinará el peso quue tiene dicho prestamo.
La disminución del peso será exponencial según la diferencia con el año actual y se calculará con la siguiente formula:

$Peso = \frac{1}{2^{(2021-20xx)}}$

In [5]:
#Creamos la columna pesos para el dataframe a partir del año en que se realizó el prestamo
join["Peso"] = join.apply(lambda row: 1/2**(2021-row.Year), axis=1 )

In [6]:
join.loc[join.IDUsuario == "6466dbb15c41fdacb59eb1179817958de2c57191"]

,RowID,IDItem,NumeroUbicacion,Ubicacion,Llave,Programa,IDUsuario,Year,Signatura,Autor,Titulo,AnioPublicacion,DeweyEspecifico,TemaDewey,DeweyUnidad,DeweyDecena,DeweyCentena,Peso
159618,Row174866,80000004724397,813 P15CA,COL-GRAL-0,797606,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Palahniuk, Chuck 1962-",Asfixia Chuck Palahniuk ; traducción de Javier...,2009.0,813,Novela histórica estadounidense,813,810,800,0.25
159621,Row174869,80000002595877,813 D35DR,COL-GRAL-0,349693,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"DeLillo, Don 1936-",Ruido de fondo Don DeLillo ; traducción de Gia...,1994.0,813,Novela histórica estadounidense,813,810,800,0.25
160653,Row175959,80000002595877,813 D35DR,COL-GRAL-0,349693,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"DeLillo, Don 1936-",Ruido de fondo Don DeLillo ; traducción de Gia...,1994.0,813,Novela histórica estadounidense,813,810,800,0.25
161597,Row176919,80000003726378,823 G73M,COL-GRAL-0,277628,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,823,"Greene, Graham 1904-1991",The ministry of fear Graham Greene,1963.0,823,Novela tanzana (Inglés),823,820,800,0.25
162412,Row177762,80000002595877,813 D35DR,COL-GRAL-0,349693,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"DeLillo, Don 1936-",Ruido de fondo Don DeLillo ; traducción de Gia...,1994.0,813,Novela histórica estadounidense,813,810,800,0.25
164093,Row179569,80000003726378,823 G73M,COL-GRAL-0,277628,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,823,"Greene, Graham 1904-1991",The ministry of fear Graham Greene,1963.0,823,Novela tanzana (Inglés),823,820,800,0.25
165231,Row180745,80000003726378,823 G73M|,COL-GRAL-0,277628,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,823,"Greene, Graham 1904-1991",The ministry of fear Graham Greene,1963.0,823,Novela tanzana (Inglés),823,820,800,0.25
166171,Row181719,80000004687401,621.3893 R47|,COL-GRAL-2,766719,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,621.3893,"Miranda, Eduardo Reck 1963-",Computer sound design synthesis techniques and...,2002.0,621.3893,Sistemas de sonido envolvente,621,620,600,0.25
166172,Row181720,80000005077492,813 A74IN|,COL-GRAL-0,838306,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Asimov, Isaac 1920-1992.",Nueve futuros Isaac Asimov ; traducción de Cés...,1990.0,813,Novela histórica estadounidense,813,810,800,0.25
166173,Row181721,80000005133846,813 B87WNE|,COL-GRAL-0,844792,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Burroughs, William Seward 1914-1997",El almuerzo desnudo William S. Burroughs ; tra...,2011.0,813,Novela histórica estadounidense,813,810,800,0.25
166924,Row182490,80000005077492,813 A74IN|,COL-GRAL-0,838306,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Asimov, Isaac 1920-1992.",Nueve futuros Isaac Asimov ; traducción de Cés...,1990.0,813,Novela histórica estadounidense,813,810,800,0.25
167347,Row182948,80000002908369,813 V65T,COL-GRAL-0,357344,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Vonnegut, Kurt",Timequake Kurt Vonnegut,1997.0,813,Novela histórica estadounidense,813,810,800,0.25
169334,Row185047,80000004314260,833 H37DI|,COL-GRAL-0,764308,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,833,"Hesse, Hermann 1877-1962",Demian Hermann Hesse ; translated by Stanley A...,2000.0,833,Novela suiza (Alemán),833,830,800,0.25
170985,Row186783,80000003285189,813 B71F|,COL-GRAL-0,605576,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Bradbury, Ray 1920-2012",Fahrenheit 451 Ray Bradbury ; traducción Franc...,1996.0,813,Novela histórica estadounidense,813,810,800,0.25
171640,Row187467,80000003285189,IQ813 B71F,COL-GRAL-0,605576,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Bradbury, Ray 1920-2012",Fahrenheit 451 Ray Bradbury ; traducción Franc...,1996.0,813,Novela histórica estadounidense,813,810,800,0.25
172767,Row188685,80000003285189,IQ813 B71F,COL-GRAL-0,605576,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Bradbury, Ray 1920-2012",Fahrenheit 451 Ray Bradbury ; traducción Franc...,1996.0,813,Novela histórica estadounidense,813,810,800,0.25
173161,Row189103,80000003285189,813 B71F,COL-GRAL-0,605576,CARRERA DE INGENIERÍA DE SISTEMAS,6466dbb15c41fdacb59eb1179817958de2c57191,2019,813,"Bradbury, Ray 1920-2012",Fahrenheit 451 Ray Bradbury ; traducción Franc...,1996.0,813,Novela histórica estadounidense,813,810,800,0.25

La siguiente función crea la tabla de preferencias y gustos de los usuarios a partir de los prestamos y la fecha de estos(Columna Peso).

Cada Fila representa un usuario, las columnas son los deweys y los datos es el nivel de pertenencia del usuario frente a dicho dewey.

In [7]:
agrupacion = join.groupby(["IDUsuario","DeweyUnidad"])["Peso"].sum().reset_index(name="Peso")
agrupacion

                                       IDUsuario  DeweyUnidad   Peso
0       00063d52cf68c65d2a569e95c40345c4a305ccc7          658  0.500
1       0006b3bdabeaa5389b211c8487bd67d339c97ef7          378  0.125
2       0006b3bdabeaa5389b211c8487bd67d339c97ef7          657  0.375
3       000a0630c32a437052696f6921e3181f155291d0            1  0.500
4       000c040064aedd76057c5309064a3823db970644          657  0.125
...                                          ...          ...    ...
125648  fff735f54719b720fc4c6c723208ad1f06e9605e          986  0.375
125649  fffb2be68fef4b27a810b11a641d84052eb02347          701  0.125
125650  fffb2be68fef4b27a810b11a641d84052eb02347          776  0.125
125651  fffb2be68fef4b27a810b11a641d84052eb02347          781  0.250
125652  ffff06c13f23ab304cfcb83035a1cecab8f5492d          133  0.500

[125653 rows x 3 columns]

In [8]:
#crearTablaPesos: crea la tabla de pesos por usuario
#parámetros
    #columna = {deweyUnidad|deweyDecena|deweyCentena}
    #nombreArchivo = nombre con el que se va a exportar el archivo
def crearTablaPesos(columna):
    #Tabla = pesos_usuarios
        #columnas = deweys
        #filas = usuarios
        #dato = peso que tiene el usuario en dicho dewey
    #creamos las columnas a partir de los deweys diferentes. 
    agrupacion = join.groupby(["IDUsuario",columna])["Peso"].sum().reset_index(name="Peso")
    display(agrupacion)
    
    pesos_usuarios = pd.DataFrame()
    aux = pd.DataFrame()
    ids = agrupacion["IDUsuario"].unique()
    print(len(ids))
    for usuario in ids:
        #obtenemos todos los prestamos del usuario
        prestamos = agrupacion.loc[agrupacion["IDUsuario"]==usuario]
        columnas = prestamos[columna].values
        pesos = prestamos["Peso"].values
        fila = pd.DataFrame(data = [pesos], columns = columnas)
        fila["IDUsuario"] = usuario
        #pesos_usuarios = pesos_usuarios.append(fila)
        aux = pd.concat([aux,fila])
        if(aux.shape[0] == 100):
            pesos_usuarios = pd.concat([pesos_usuarios,aux])
            aux = pd.DataFrame()
    pesos_usuarios = pd.concat([pesos_usuarios,aux])
    pesos_usuarios = pesos_usuarios.fillna(0)
    pesos_usuarios.reset_index(drop=True, inplace=True)
    return pesos_usuarios

Se crean 3 tablas de peso diferentes según la columna que se tuvo en cuenta:

{deweyUnidad|deweyDecena|deweyCentena}

In [9]:
pesos_usuarios_unidad=crearTablaPesos("DeweyUnidad")

                                       IDUsuario  DeweyUnidad   Peso
0       00063d52cf68c65d2a569e95c40345c4a305ccc7          658  0.500
1       0006b3bdabeaa5389b211c8487bd67d339c97ef7          378  0.125
2       0006b3bdabeaa5389b211c8487bd67d339c97ef7          657  0.375
3       000a0630c32a437052696f6921e3181f155291d0            1  0.500
4       000c040064aedd76057c5309064a3823db970644          657  0.125
...                                          ...          ...    ...
125648  fff735f54719b720fc4c6c723208ad1f06e9605e          986  0.375
125649  fffb2be68fef4b27a810b11a641d84052eb02347          701  0.125
125650  fffb2be68fef4b27a810b11a641d84052eb02347          776  0.125
125651  fffb2be68fef4b27a810b11a641d84052eb02347          781  0.250
125652  ffff06c13f23ab304cfcb83035a1cecab8f5492d          133  0.500

[125653 rows x 3 columns]

24407

In [10]:
pesos_usuarios_decena = crearTablaPesos("DeweyDecena")

                                      IDUsuario  DeweyDecena   Peso
0      00063d52cf68c65d2a569e95c40345c4a305ccc7          650  0.500
1      0006b3bdabeaa5389b211c8487bd67d339c97ef7          370  0.125
2      0006b3bdabeaa5389b211c8487bd67d339c97ef7          650  0.375
3      000a0630c32a437052696f6921e3181f155291d0            0  0.500
4      000c040064aedd76057c5309064a3823db970644          650  0.125
...                                         ...          ...    ...
96592  fff735f54719b720fc4c6c723208ad1f06e9605e          980  0.375
96593  fffb2be68fef4b27a810b11a641d84052eb02347          700  0.125
96594  fffb2be68fef4b27a810b11a641d84052eb02347          770  0.125
96595  fffb2be68fef4b27a810b11a641d84052eb02347          780  0.250
96596  ffff06c13f23ab304cfcb83035a1cecab8f5492d          130  0.500

[96597 rows x 3 columns]

24407

In [11]:
pesos_usuarios_centena = crearTablaPesos("DeweyCentena")

                                      IDUsuario  DeweyCentena   Peso
0      00063d52cf68c65d2a569e95c40345c4a305ccc7           600  0.500
1      0006b3bdabeaa5389b211c8487bd67d339c97ef7           300  0.125
2      0006b3bdabeaa5389b211c8487bd67d339c97ef7           600  0.375
3      000a0630c32a437052696f6921e3181f155291d0             0  0.500
4      000c040064aedd76057c5309064a3823db970644           600  0.125
...                                         ...           ...    ...
61835  fff735f54719b720fc4c6c723208ad1f06e9605e           600  2.625
61836  fff735f54719b720fc4c6c723208ad1f06e9605e           800  2.875
61837  fff735f54719b720fc4c6c723208ad1f06e9605e           900  0.375
61838  fffb2be68fef4b27a810b11a641d84052eb02347           700  0.500
61839  ffff06c13f23ab304cfcb83035a1cecab8f5492d           100  0.500

[61840 rows x 3 columns]

24407

In [12]:
pesos_usuarios_centena

,600,IDUsuario,300,0,200,800,700,100,400,500,900,-900
0,0.500,00063d52cf68c65d2a569e95c40345c4a305ccc7,0.000,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
1,0.375,0006b3bdabeaa5389b211c8487bd67d339c97ef7,0.125,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
2,0.000,000a0630c32a437052696f6921e3181f155291d0,0.000,0.500,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
3,0.125,000c040064aedd76057c5309064a3823db970644,0.000,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
4,0.000,000f23e62e6d4995ede7090c6447ad6736edc4de,1.000,0.000,0.5,0.000,0.0,0.000,0.0,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.000,fff71390a9f54ced5134452870d70ff18812f05f,2.125,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
24403,0.000,fff716c9685b5267e6ecfcdc00e9303509355bc1,1.000,0.000,0.0,0.000,0.0,0.000,0.0,0.0,0.000,0.0
24404,2.625,fff735f54719b720fc4c6c723208ad1f06e9605e,7.375,0.125,0.0,2.875,0.0,0.125,0.0,0.5,0.375,0.5
24405,0.000,fffb2be68fef4b27a810b11a641d84052eb02347,0.000,0.000,0.0,0.000,0.5,0.000,0.0,0.0,0.000,0.0
24406,0.000,ffff06c13f23ab304cfcb83035a1cecab8f5492d,0.000,0.000,0.0,0.000,0.0,0.500,0.0,0.0,0.000,0.0

Exportamos e Importamos las tablas para agilizar el proceso

In [13]:
pesos_usuarios_unidad.to_json(r'C:\Users\user\Downloads\pesos_usuario_x_dewey_unidad.json')
pesos_usuarios_decena.to_json(r'C:\Users\user\Downloads\pesos_usuario_x_dewey_decena.json')
pesos_usuarios_centena.to_json(r'C:\Users\user\Downloads\pesos_usuario_x_dewey_centena.json')

In [7]:
pesos_usuarios_unidad = pd.read_json('https://www.dropbox.com/s/aitygqwn9q47rlg/pesos_usuario_x_dewey_unidad.json?dl=1')

In [8]:
pesos_usuarios_decena = pd.read_json('https://www.dropbox.com/s/vr6ehn8xjhojuba/pesos_usuario_x_dewey_decena.json?dl=1')

In [9]:
pesos_usuarios_centena = pd.read_json('https://www.dropbox.com/s/2vnntgjnqpijkgg/pesos_usuario_x_dewey_centena.json?dl=1')

# Normalización de pesos
En busca de que dos usuarios con mismos gustos pero diferente cantidad de prestamos sean equivalentes se decidió  por normalizar cada una de las filas. Así un usuario con 3 prestamos en el dewey 600 y otro con un único prestamo en el dewey 600 se velven equivalente al tener gustos únicamente por este dewey.

In [10]:
#función: normalizar las filas por valores entre cero y uno.
    #Parámetros: pesos_usuario, representa la matriz dispersa que se va a normalizar.
    #{pesos_usuarios_unidad|pesos_usuarios_decena|pesos_usuarios_centena}
def normalizar_pesos(pesos_usuario):
    print("Normalizando pesos...Iniciando")
    usuarios = pesos_usuario['IDUsuario']
    pesos_usuario = pesos_usuario.apply(pd.to_numeric, errors='coerce').drop(["IDUsuario"],axis=1)
    display(pesos_usuario)
    #Normalizamos por fila
    sumatoria = pesos_usuario.max(axis=1)
    pesos_norm = pesos_usuario.div(pesos_usuario.sum(axis=1), axis=0)
    pesos_norm_id = pesos_norm.copy()
    # a la tabla le agregamos la columna de IDUsuario para poder identificar que pesos son de cada usuario
    if len(pesos_norm_id) == len(join.IDUsuario.unique()):
        pesos_norm_id['IDUsuario'] = usuarios
        display(pesos_norm_id.loc[pesos_norm_id["IDUsuario"] == "6466dbb15c41fdacb59eb1179817958de2c57191"])
    print("Normalizando pesos...Acabado")
    return pesos_norm_id

In [11]:
pesos_norm_id_unidad = normalizar_pesos(pesos_usuarios_unidad)
display(pesos_norm_id_unidad.shape)
pesos_norm_id_unidad.head(10)

Normalizando pesos...Iniciando

,658,378,657,1,227,347,350,808,812,813,...,964,367,383,494,413,496,799,855,876,97
0,0.5,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1,0.0,0.125,0.375,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2,0.0,0.000,0.000,0.500,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
3,0.0,0.000,0.125,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
4,0.0,0.000,0.000,0.000,0.5,0.5,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24403,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24404,0.5,0.000,0.000,0.125,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24405,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24406,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0

,658,378,657,1,227,347,350,808,812,813,...,367,383,494,413,496,799,855,876,97,IDUsuario
9664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado

(24407, 756)

,658,378,657,1,227,347,350,808,812,813,...,367,383,494,413,496,799,855,876,97,IDUsuario
0,1.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00063d52cf68c65d2a569e95c40345c4a305ccc7
1,0.000000,0.25,0.750000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0006b3bdabeaa5389b211c8487bd67d339c97ef7
2,0.000000,0.00,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,000a0630c32a437052696f6921e3181f155291d0
3,0.000000,0.00,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,000c040064aedd76057c5309064a3823db970644
4,0.000000,0.00,0.000000,0.0,0.333333,0.333333,0.333333,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,000f23e62e6d4995ede7090c6447ad6736edc4de
5,0.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.166667,0.166667,0.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00110738ad91d1cfb52f4c1fe3fa0e7c9b3e277e
6,0.461538,0.00,0.153846,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00159e086af7d72d80602291964442a68472ed39
7,0.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00186f0d22b83441cca048ddf1e6eab99cc95b7b
8,0.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,001c22ce26824deb5633eab2d4572e1a527b76e2
9,0.000000,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,001c411a83261e3123c261cc392bd59ce2237b18

In [12]:
pesos_norm_id_decena = normalizar_pesos(pesos_usuarios_decena)
display(pesos_norm_id_decena.shape)
pesos_norm_id_decena.head(3)

Normalizando pesos...Iniciando

,650,370,0,220,340,350,800,810,20,330,...,560,640,470,310,10,480,90,990,50,30
0,0.500,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.375,0.125,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000,0.000,0.500,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.125,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000,0.000,0.000,0.5,0.500,0.50,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24403,0.000,0.000,0.000,0.0,1.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24404,0.500,0.500,0.125,0.0,0.375,0.25,0.0,0.0,0.0,0.375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24405,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24406,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,650,370,0,220,340,350,800,810,20,330,...,640,470,310,10,480,90,990,50,30,IDUsuario
9664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado

(24407, 100)

,650,370,0,220,340,350,800,810,20,330,...,640,470,310,10,480,90,990,50,30,IDUsuario
0,1.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00063d52cf68c65d2a569e95c40345c4a305ccc7
1,0.75,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0006b3bdabeaa5389b211c8487bd67d339c97ef7
2,0.00,0.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,000a0630c32a437052696f6921e3181f155291d0

In [13]:
pesos_norm_id_centena = normalizar_pesos(pesos_usuarios_centena)
display(pesos_norm_id_centena.shape)
pesos_norm_id_centena.head(3)

Normalizando pesos...Iniciando

         600    300      0  200    800  700    100  400  500    900  -900
0      0.500  0.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
1      0.375  0.125  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
2      0.000  0.000  0.500  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
3      0.125  0.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
4      0.000  1.000  0.000  0.5  0.000  0.0  0.000  0.0  0.0  0.000   0.0
...      ...    ...    ...  ...    ...  ...    ...  ...  ...    ...   ...
24402  0.000  2.125  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
24403  0.000  1.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
24404  2.625  7.375  0.125  0.0  2.875  0.0  0.125  0.0  0.5  0.375   0.5
24405  0.000  0.000  0.000  0.0  0.000  0.5  0.000  0.0  0.0  0.000   0.0
24406  0.000  0.000  0.000  0.0  0.000  0.0  0.500  0.0  0.0  0.000   0.0

[24407 rows x 11 columns]

,600,300,0,200,800,700,100,400,500,900,-900,IDUsuario
9664,0.058824,0.0,0.0,0.0,0.941176,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado

(24407, 12)

,600,300,0,200,800,700,100,400,500,900,-900,IDUsuario
0,1.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00063d52cf68c65d2a569e95c40345c4a305ccc7
1,0.75,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0006b3bdabeaa5389b211c8487bd67d339c97ef7
2,0.00,0.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,000a0630c32a437052696f6921e3181f155291d0

# Agrupación disfusa
Para la agrupación cada usuario podrá pertenecer a uno o mas deweys. Cada usuario tendra un grado de pertenencia a un dewey en especifico dependiendo de sus gustos y preferencias resumidos en las matrices dispersas. 
La función se debe recorrer mínimo 3 veces con diferentes matrices de dispersión:
* pesos_usuarios_unidad
* pesos_usuarios_decena
* pesos_usuarios_centena

In [14]:
#Elimina los valores diferentes de cero para una fila especifica
#Sirve para visualizar únicamente los deweys donde el usuario tiene prestamos. 
def eliminar_cero(id_usuario, df_pesos):
    m1 = (df_pesos['IDUsuario'] == id_usuario)
    m2 = (df_pesos[m1] != 0).all()
    return df_pesos.loc[m1,m2]

In [20]:
eliminar_cero("33c7a2220802831409c62333e13f068363a5d768", pesos_norm_id_unidad)

             1       517         5                                 IDUsuario
4945  0.333333  0.333333  0.333333  33c7a2220802831409c62333e13f068363a5d768

In [21]:
#Esta función asocia una grado de pertenencia
#Parámetros:
    #pesos_usuarios: matrix dispersa de pesos {pesos_usuarios_unidad|pesos_usuarios_decena|pesos_usuarios_centena}
    #nombre_archivo: nombre del archivo a exportar con la tabla de df_pertenencia
#se crea la tabla df_pertenencia: describe la pertenecia de cada usuario a un cluster(dewey)
def clustering(pesos_usuarios):
    print("Comenzando clustering...")
    #normalizamos los pesos
    pesos_norm_id_unidad = normalizar_pesos(pesos_usuarios)
    #ponemos el usuario a ambos dataframes
    pesos_usuarios["IDUsuario"] = pesos_norm_id_unidad["IDUsuario"]
    #Creamos la estructura del dataframe
    df_pertenencia = pd.DataFrame(columns = ['IDUsuario', 'Cluster', 'Pertenencia','Peso'])
    #iteramos por cada fila(usuario) del dataframe
    for index, row in pesos_norm_id_unidad.iterrows():
        #Extraemos los usuarios
        usuario = row["IDUsuario"]
        #Extraemos los pesos deiferentes de cero normalizados y sin normalizar
        usuario_limpio_norm = eliminar_cero(row["IDUsuario"], pesos_norm_id_unidad)
        usuario_limpio_orig = eliminar_cero(row["IDUsuario"], pesos_usuarios)
        pertenecias = usuario_limpio_norm.drop(["IDUsuario"], axis=1).values
        pesos = usuario_limpio_orig.drop(["IDUsuario"], axis=1).values
        #los clusters son las columnas de estos dataframes
        clusters = usuario_limpio_norm.drop(["IDUsuario"], axis=1).columns
        #creamos un array que tenga las veces necesarias al usuario
        tamanio = len(clusters)
        usuarios = np.repeat([usuario], tamanio)
        #agregamos la fila al dataframe
        fila = pd.DataFrame(data = {'IDUsuario': usuarios, 'Cluster': clusters
                                   , 'Pertenencia': pertenecias[0], 'Peso': pesos[0]})
        df_pertenencia = df_pertenencia.append(fila)
    print("Finalizando clustering...")
    return df_pertenencia

In [22]:
pesos_clustering_unidad = clustering(pesos_usuarios_unidad)
display(pesos_clustering_unidad.head(3))

Comenzando clustering...
Normalizando pesos...Iniciando

,658,378,657,1,227,347,350,808,812,813,...,964,367,383,494,413,496,799,855,876,97
0,0.5,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1,0.0,0.125,0.375,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2,0.0,0.000,0.000,0.500,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
3,0.0,0.000,0.125,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
4,0.0,0.000,0.000,0.000,0.5,0.5,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24403,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24404,0.5,0.000,0.000,0.125,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24405,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
24406,0.0,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0

,658,378,657,1,227,347,350,808,812,813,...,367,383,494,413,496,799,855,876,97,IDUsuario
9664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado
Finalizando clustering...

                                  IDUsuario Cluster  Pertenencia   Peso
0  00063d52cf68c65d2a569e95c40345c4a305ccc7     658         1.00  0.500
0  0006b3bdabeaa5389b211c8487bd67d339c97ef7     378         0.25  0.125
1  0006b3bdabeaa5389b211c8487bd67d339c97ef7     657         0.75  0.375

In [23]:
pesos_clustering_decena = clustering(pesos_usuarios_decena)
display(pesos_clustering_decena.head(3))

Comenzando clustering...
Normalizando pesos...Iniciando

,650,370,0,220,340,350,800,810,20,330,...,560,640,470,310,10,480,90,990,50,30
0,0.500,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.375,0.125,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000,0.000,0.500,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.125,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000,0.000,0.000,0.5,0.500,0.50,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24402,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24403,0.000,0.000,0.000,0.0,1.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24404,0.500,0.500,0.125,0.0,0.375,0.25,0.0,0.0,0.0,0.375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24405,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24406,0.000,0.000,0.000,0.0,0.000,0.00,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,650,370,0,220,340,350,800,810,20,330,...,640,470,310,10,480,90,990,50,30,IDUsuario
9664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.705882,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado
Finalizando clustering...

                                  IDUsuario Cluster  Pertenencia   Peso
0  00063d52cf68c65d2a569e95c40345c4a305ccc7     650         1.00  0.500
0  0006b3bdabeaa5389b211c8487bd67d339c97ef7     650         0.75  0.375
1  0006b3bdabeaa5389b211c8487bd67d339c97ef7     370         0.25  0.125

In [24]:
pesos_clustering_centena = clustering(pesos_usuarios_centena)
display(pesos_clustering_centena.head(3))

Comenzando clustering...
Normalizando pesos...Iniciando

         600    300      0  200    800  700    100  400  500    900  -900
0      0.500  0.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
1      0.375  0.125  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
2      0.000  0.000  0.500  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
3      0.125  0.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
4      0.000  1.000  0.000  0.5  0.000  0.0  0.000  0.0  0.0  0.000   0.0
...      ...    ...    ...  ...    ...  ...    ...  ...  ...    ...   ...
24402  0.000  2.125  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
24403  0.000  1.000  0.000  0.0  0.000  0.0  0.000  0.0  0.0  0.000   0.0
24404  2.625  7.375  0.125  0.0  2.875  0.0  0.125  0.0  0.5  0.375   0.5
24405  0.000  0.000  0.000  0.0  0.000  0.5  0.000  0.0  0.0  0.000   0.0
24406  0.000  0.000  0.000  0.0  0.000  0.0  0.500  0.0  0.0  0.000   0.0

[24407 rows x 11 columns]

,600,300,0,200,800,700,100,400,500,900,-900,IDUsuario
9664,0.058824,0.0,0.0,0.0,0.941176,0.0,0.0,0.0,0.0,0.0,0.0,6466dbb15c41fdacb59eb1179817958de2c57191

Normalizando pesos...Acabado
Finalizando clustering...

                                  IDUsuario Cluster  Pertenencia   Peso
0  00063d52cf68c65d2a569e95c40345c4a305ccc7     600         1.00  0.500
0  0006b3bdabeaa5389b211c8487bd67d339c97ef7     600         0.75  0.375
1  0006b3bdabeaa5389b211c8487bd67d339c97ef7     300         0.25  0.125

In [25]:
pesos_clustering_unidad.reset_index(drop=True, inplace=True)
pesos_clustering_decena.reset_index(drop=True, inplace=True)
pesos_clustering_centena.reset_index(drop=True, inplace=True)

In [29]:
pesos_clustering_unidad.to_json(r'C:\Users\user\Downloads\pesos_clustering_unidad.json')
pesos_clustering_decena.to_json(r'C:\Users\user\Downloads\pesos_clustering_decena.json')
pesos_clustering_centena.to_json(r'C:\Users\user\Downloads\pesos_clustering_centena.json')

In [15]:
pesos_clustering_unidad = pd.read_json('https://www.dropbox.com/s/6j30n8y3fn8358l/pesos_clustering_unidad.json?dl=1')
pesos_clustering_decena = pd.read_json('https://www.dropbox.com/s/6m7vbpfq8b8qz4s/pesos_clustering_decena.json?dl=1')
pesos_clustering_centena = pd.read_json('https://www.dropbox.com/s/3rjqco5swu55cna/pesos_clustering_centena.json?dl=1')

In [16]:
display(pesos_clustering_unidad.head(20))
print(pesos_clustering_unidad.shape)

                                   IDUsuario  Cluster  Pertenencia   Peso
0   00063d52cf68c65d2a569e95c40345c4a305ccc7      658     1.000000  0.500
1   0006b3bdabeaa5389b211c8487bd67d339c97ef7      378     0.250000  0.125
2   0006b3bdabeaa5389b211c8487bd67d339c97ef7      657     0.750000  0.375
3   000a0630c32a437052696f6921e3181f155291d0        1     1.000000  0.500
4   000c040064aedd76057c5309064a3823db970644      657     1.000000  0.125
5   000f23e62e6d4995ede7090c6447ad6736edc4de      227     0.333333  0.500
6   000f23e62e6d4995ede7090c6447ad6736edc4de      347     0.333333  0.500
7   000f23e62e6d4995ede7090c6447ad6736edc4de      350     0.333333  0.500
8   00110738ad91d1cfb52f4c1fe3fa0e7c9b3e277e      808     0.166667  0.125
9   00110738ad91d1cfb52f4c1fe3fa0e7c9b3e277e      812     0.166667  0.125
10  00110738ad91d1cfb52f4c1fe3fa0e7c9b3e277e      813     0.666667  0.500
11  00159e086af7d72d80602291964442a68472ed39      658     0.461538  0.750
12  00159e086af7d72d80602291964442a68472ed39      657     0.153846  0.250
13  00159e086af7d72d80602291964442a68472ed39       27     0.076923  0.125
14  00159e086af7d72d80602291964442a68472ed39      330     0.307692  0.500
15  00186f0d22b83441cca048ddf1e6eab99cc95b7b      624     0.100000  0.125
16  00186f0d22b83441cca048ddf1e6eab99cc95b7b      720     0.900000  1.125
17  001c22ce26824deb5633eab2d4572e1a527b76e2      170     0.072727  0.500
18  001c22ce26824deb5633eab2d4572e1a527b76e2      297     0.036364  0.250
19  001c22ce26824deb5633eab2d4572e1a527b76e2      305     0.072727  0.500

(125653, 4)

In [17]:
pesos_clustering_unidad.loc[pesos_clustering_unidad.IDUsuario == "6466dbb15c41fdacb59eb1179817958de2c57191"]

                                      IDUsuario  Cluster  Pertenencia  Peso
49724  6466dbb15c41fdacb59eb1179817958de2c57191      813     0.705882  3.00
49725  6466dbb15c41fdacb59eb1179817958de2c57191      823     0.176471  0.75
49726  6466dbb15c41fdacb59eb1179817958de2c57191      621     0.058824  0.25
49727  6466dbb15c41fdacb59eb1179817958de2c57191      833     0.058824  0.25

# Recomendaciones

La función rank_material rankea el material de un dewey en especifico a partir de la experticie de los usuarios dentro de dicho dewey. A partir de los pesos sabemos que tanto sabe un usuario acerca de un dewey especifico. Normalizamos estos valores y a cada libro alquilado que tenga el usuario x al libro x se le da ese puntaje. El puntaje total de un libro es igual a la sumatoria de los puntajes dados por los usuarios.

In [18]:
#Parámetros:
 #cluster_pertenencia:dataframe con la pertenencia de los usuarios a un cluster.
 #cluster: cluster a evaluar
 #columna: define la columna sobre la cual se va a realizar el join {DeweyUnidad|DeweyDecena|DeweyCentena}
def rank_material(pesos_clustering, cluster, columna):
    #Buscamos únicamente a los usuarios que tienen un grado de pertenencia al cluster.
    usuarios = pesos_clustering.loc[pesos_clustering.Cluster == cluster]
    usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
    #si el peso de algún usuario es mayor a 10 este se deja con el valor de 10
    usuarios.loc[usuarios.Peso > 10, "Peso"] = 10
    
    #normalizar columna de peso
    max_value = usuarios["Peso"].max()
    min_value = usuarios["Peso"].min()
    usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
    #filtramos de la tabla de join los rows con el dewey
    prestamos = join.loc[join[columna] == int(cluster)]
    #display(prestamos)
    #join
    prestamos_data = pd.DataFrame(data=prestamos)
    usuario_data = pd.DataFrame(data=usuarios)
    join_tablas = pd.merge(prestamos_data, usuario_data, left_on='IDUsuario', right_on='IDUsuario', how='inner')
    #finalmente agrupamos al material por llave y hacemos la sumatoria de sus pesos
    materialRank = join_tablas.groupby(["Llave"])["Peso_y"].sum().reset_index(name="Peso")#Peso o Peso_y
    materialRank = materialRank.sort_values(by=["Peso"],ascending=False)
    return materialRank

In [19]:
material_rankeado = rank_material(pesos_clustering_unidad, 574, "DeweyUnidad")
material_rankeado

<ipython-input-18-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-18-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)

      Llave     Peso
329  722413  68.8375
429  825335  41.4375
522  884195  40.9625
386  788344  40.5250
396  804821  31.2375
..      ...      ...
373  769277   0.0125
41   269584   0.0125
213  525939   0.0125
532  894506   0.0125
28   269370   0.0125

[727 rows x 2 columns]

La función generar recomendación genera todas las recomendaciones para los usuarios de un único cluster teniendo en cuenta el nivel de pertenencia de los usuarios a cada cluster.
Parámetros:
* pesos_clustering: es la matriz generada por la función de clustering
* cluster: cluster del cual se van a sacar las recomendaciones
* peso_x_nivel: peso del nivel de clustering. Los niveles más especificos tienen mayor peso.
* total_recomendaciones: total de recomendaciones que van a recibir los usuarios
* material_rankeado: dataframe generada por la función rank_material.

In [22]:
import math
def generar_recomendacion(pesos_clustering, cluster, peso_x_nivel, total_recomendaciones, material_rankeado):
    recomendaciones = pd.DataFrame(columns = ['IDUsuario', 'Llave', 'Nivel', 'Pertenencia'])
    #buscamos los prestamos asociados unicamente a un cluster
    prestamos_cluster = pesos_clustering.loc[pesos_clustering.Cluster == cluster]
    #Cambiamos el tipo de dato de pertenencia a float
    prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float) 
    #cada row es un usuario diferente
    #display(material_rankeado)
    #display(prestamos_cluster)
    for index, row in prestamos_cluster.iterrows():
        num_prestamos = math.ceil(row["Pertenencia"] * peso_x_nivel * total_recomendaciones)
        prestamos_usuario = join.loc[(join["IDUsuario"] == row.IDUsuario) & (join["DeweyUnidad"] == row.Cluster) ]["Llave"].unique()
        #display(prestamos_usuario)
        recomendaciones = material_rankeado[~material_rankeado.Llave.isin(prestamos_usuario)].head(num_prestamos)
        llavesRecomendaciones = recomendaciones["Llave"]
        #display("Usuario", row.IDUsuario)
        for llave in llavesRecomendaciones:
            print(type(llave))
            aux_df = pd.DataFrame({'IDUsuario': row.IDUsuario, 'Llave': llave, 'Nivel': peso_x_nivel, 'Pertenencia': row.Pertenencia}, index = ["Index 1"])
            recomendaciones = pd.concat([recomendaciones, aux_df], ignore_index = True)
            display(recomendaciones)
        '''
        
        libro_rankeado = 0
        libros_recomendados = 0
        while libros_recomendados < num_prestamos and libro_rankeado < material_rankeado.shape[0]:
            llaveRecomendacion = material_rankeado.loc[libro_rankeado,'Llave']
            existe = join.loc[(join["IDUsuario"] == row.IDUsuario) & (join["Llave"] == llaveRecomendacion)]
            if existe.empty:
                libros_recomendados = libros_recomendados + 1
                aux_df = pd.DataFrame({'IDUsuario': row.IDUsuario,
                                   'Llave': llaveRecomendacion,
                                   'Nivel': peso_x_nivel,
                                  'Pertenencia': row.Pertenencia}, index = ["Index 1"])
                recomendaciones = pd.concat([recomendaciones, aux_df], ignore_index = True)
            libro_rankeado = libro_rankeado + 1
        '''
    return recomendaciones

In [23]:
recomendacion_cluster = generar_recomendacion(pesos_clustering_unidad, 574, 0.7, 10, material_rankeado)

<class 'int'>

<ipython-input-22-81a0e7bb16db>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,0023eb8457e3722d75e8926cb42f9b7fea38283d,0.7,0.187708

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,0023eb8457e3722d75e8926cb42f9b7fea38283d,0.7,0.187708
3,825335,NaN,0023eb8457e3722d75e8926cb42f9b7fea38283d,0.7,0.187708

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,825335,41.4375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,825335,NaN,0024fc55a484a66241eba9c79c8532c14a981fd8,0.7,0.166667

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,825335,41.4375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,825335,NaN,0024fc55a484a66241eba9c79c8532c14a981fd8,0.7,0.166667
3,884195,NaN,0024fc55a484a66241eba9c79c8532c14a981fd8,0.7,0.166667

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,007dc9488f267e0f74d0fd4f0720280da1ac8e5d,0.7,0.137931

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
5,825335,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
5,825335,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
6,884195,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
5,825335,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
6,884195,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429
7,788344,NaN,009d82769da84f736e209c54556240c2c5fa5776,0.7,0.571429

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
7,884195,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
7,884195,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
8,788344,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
7,884195,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
8,788344,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
9,804821,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
7,884195,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
8,788344,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
9,804821,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
10,888375,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,884195,40.9625,NaN,NaN,NaN
2,788344,40.5250,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,888375,29.8500,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,722413,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
7,884195,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
8,788344,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
9,804821,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
10,888375,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143
11,651445,NaN,00cd8b5934c2b1d828a405d37ba62c3b68a02f69,0.7,0.857143

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333
4,825335,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333
4,825335,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333
5,884195,NaN,00e26abf478efce05bb95948047e7aafa37a014d,0.7,0.333333

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,0186294820711e0f6c73ca16f2ff146c482ed9ea,0.7,0.090909

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,01a123aeaad526e2c862c2991a034a1b5f4e1362,0.7,0.055556

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,01cecc84e4b71fadc1ff7e4230a5a9cef7aa8e0e,0.7,0.018868

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,0216bb513d58bc26080141acd7f614b5e26e4e9a,0.7,0.272727

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,0216bb513d58bc26080141acd7f614b5e26e4e9a,0.7,0.272727
3,825335,NaN,0216bb513d58bc26080141acd7f614b5e26e4e9a,0.7,0.272727

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
5,825335,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
5,825335,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
6,884195,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
5,825335,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
6,884195,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588
7,788344,NaN,02253338411ac7edbf1ea8a5a01f4aea5444af7f,0.7,0.470588

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
5,825335,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
5,825335,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
6,884195,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,722413,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
5,825335,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
6,884195,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875
7,788344,NaN,0241f9f8ec169bcdb5110ca3a1ba21a85518e6f4,0.7,0.46875

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,02801a6eef03446ea7cbdddc2a225c136a737652,0.7,0.178571

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,02801a6eef03446ea7cbdddc2a225c136a737652,0.7,0.178571
3,825335,NaN,02801a6eef03446ea7cbdddc2a225c136a737652,0.7,0.178571

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32
4,825335,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,722413,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32
4,825335,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32
5,884195,NaN,028e11ea6b96887176e3a025d5a142ea39e61749,0.7,0.32

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,02c697ac4e59a58af666354e2196a518ae148e6e,0.7,0.046512

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,02d7e3c4f290a8f0ab1410414447af5a0560a088,0.7,0.095238

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,825335,41.4375,NaN,NaN,NaN
1,825335,NaN,02d838921287c2c38793a9d2be240e2b3f3966b7,0.7,0.099099

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,02e409f9d046d2e08ff99c31af9d8b6e24e01ee7,0.7,0.036697

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,031ab6f9a81f4b621930ced842c2de78b9ad7913,0.7,0.089286

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,825335,41.4375,NaN,NaN,NaN
1,825335,NaN,034becfb270efc43aa5d9de5a7bfb97de7b6c928,0.7,0.006452

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
9,884195,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
9,884195,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
10,788344,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
9,884195,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
10,788344,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
11,804821,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
9,884195,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
10,788344,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
11,804821,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
12,651445,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,651445,28.8500,NaN,NaN,NaN
6,921052,28.8125,NaN,NaN,NaN
7,722413,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
8,825335,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
9,884195,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
10,788344,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
11,804821,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
12,651445,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0
13,921052,NaN,035784bc02f37a3eb0ea8105aeec948e1b7d0f76,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,722413,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,722413,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
5,825335,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,722413,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
5,825335,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
6,884195,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,804821,31.2375,NaN,NaN,NaN
4,722413,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
5,825335,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
6,884195,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5
7,804821,NaN,03a0b43d078acfc8b761ddbfea1753cbaa2edb65,0.7,0.5

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,03efa0fc8b98fd12365dddcda6d1b0e72243ef45,0.7,0.026316

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
9,884195,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
9,884195,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
10,788344,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
9,884195,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
10,788344,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
11,804821,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
9,884195,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
10,788344,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
11,804821,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
12,888375,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,884195,40.9625,NaN,NaN,NaN
3,788344,40.5250,NaN,NaN,NaN
4,804821,31.2375,NaN,NaN,NaN
5,888375,29.8500,NaN,NaN,NaN
6,651445,28.8500,NaN,NaN,NaN
7,722413,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
8,825335,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
9,884195,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
10,788344,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
11,804821,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
12,888375,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0
13,651445,NaN,0467a8eac2b00291fd05a515dac3c1e57bdc6ca2,0.7,1.0

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,046f3d202cbf4c6ef19ccf91cee391c76b917afd,0.7,0.032258

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,722413,NaN,048c78f86ddf48c9183e92574cf4e81916bd62e9,0.7,0.015873

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,054ed1677bd7b764809bc44a6399969d3fc6f55d,0.7,0.151515

<class 'int'>

,Llave,Peso,IDUsuario,Nivel,Pertenencia
0,722413,68.8375,NaN,NaN,NaN
1,825335,41.4375,NaN,NaN,NaN
2,722413,NaN,054ed1677bd7b764809bc44a6399969d3fc6f55d,0.7,0.151515
3,825335,NaN,054ed1677bd7b764809bc44a6399969d3fc6f55d,0.7,0.151515

KeyboardInterrupt:

In [156]:
recomendacion_cluster.shape

(8, 5)

In [145]:
join.loc[join.DeweyUnidad == 587]["Llave"].unique()

array([311142, 637186, 527722, 720002, 272296, 900133, 284353],
      dtype=object)

La función recomendaciones_nivel genera recomendaciones para un nivel completo de clusters. 
Parámetros:
* pesos_clustering: {pesos_clustering_unidad|pesos_clustering_decena|pesos_clustering_centena}
* peso_x_nivel: peso del nivel. Valor entre cero y uno que representa el porcentaje de recomendaciones para dichoi nivel.
* total_recomendaciones: Total de recomendaciones que se le van a hacer a los usuarios.

In [81]:
def recomendaciones_nivel(pesos_clustering, peso_x_nivel, total_recomendaciones):#"DeweyUnidad"
    print("Comenzando Recomendaciones nivel ")
    recomendaciones = pd.DataFrame(columns = ['IDUsuario', 'Llave', 'Nivel'])
    for cluster in pesos_clustering.Cluster.unique():
        print("CLUSTER: ", cluster)
        material_rankeado = rank_material(pesos_clustering, cluster, "DeweyUnidad")
        #print(material_rankeado)
        lista_recomendaciones = generar_recomendacion(pesos_clustering, cluster, peso_x_nivel, total_recomendaciones, material_rankeado)
        #print(lista_recomendaciones.shape[0])
        recomendaciones = pd.concat([recomendaciones, lista_recomendaciones], ignore_index = True)
        #display(recomendaciones)
    print("Finalizando Recomendaciones nivel")
    return recomendaciones

In [83]:
recomendaciones_final_unidad = recomendaciones_nivel(pesos_clustering_unidad, 0.7, 10)
display(recomendaciones_final_unidad)

Comenzando Recomendaciones nivel
CLUSTER:  658

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
13315  ffdc305bb49a959ccecc67a127361158b8a7b696  211814    0.7     0.400000
13316  ffdc305bb49a959ccecc67a127361158b8a7b696  255792    0.7     0.400000
13317  ffdc305bb49a959ccecc67a127361158b8a7b696  256223    0.7     0.400000
13318  ffefc26657096bc280e03a8663340d48ae0a460f  211814    0.7     0.121339
13319  fff735f54719b720fc4c6c723208ad1f06e9605e  211814    0.7     0.034483

[13320 rows x 4 columns]

CLUSTER:  378

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
14024  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  256580    0.7     0.500000
14025  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  272464    0.7     0.500000
14026  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  276738    0.7     0.500000
14027  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  277346    0.7     0.500000
14028  ffefc26657096bc280e03a8663340d48ae0a460f  256580    0.7     0.016736

[14029 rows x 4 columns]

CLUSTER:  657

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                         ...     ...    ...          ...
16494  ff6f7df981358de16da8d870a06c1b3f3d1b18da  288831    0.7          1.0
16495  ff6f7df981358de16da8d870a06c1b3f3d1b18da  288832    0.7          1.0
16496  ffdc305bb49a959ccecc67a127361158b8a7b696  257558    0.7          0.3
16497  ffdc305bb49a959ccecc67a127361158b8a7b696  257700    0.7          0.3
16498  ffdc305bb49a959ccecc67a127361158b8a7b696  269306    0.7          0.3

[16499 rows x 4 columns]

CLUSTER:  1

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
19384  ffc620ab10bd9cc618a602aa9a652a65abf099e5  256741    0.7     0.555556
19385  ffc620ab10bd9cc618a602aa9a652a65abf099e5  256916    0.7     0.555556
19386  ffc620ab10bd9cc618a602aa9a652a65abf099e5  256917    0.7     0.555556
19387  ffefc26657096bc280e03a8663340d48ae0a460f  256737    0.7     0.058577
19388  fff735f54719b720fc4c6c723208ad1f06e9605e  256737    0.7     0.008621

[19389 rows x 4 columns]

CLUSTER:  227

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
19466  f0d8b0d8153e8da3e622fdde2dfd95bdff95be98  282506    0.7     1.000000
19467  f0d8b0d8153e8da3e622fdde2dfd95bdff95be98  352637    0.7     1.000000
19468  f677e5d26d4acf08e03ee8db301e1be728f76773  270934    0.7     0.038835
19469  f68b4d9937342f64aff7ef19d869219389620df4  270934    0.7     0.093023
19470  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  270934    0.7     0.042553

[19471 rows x 4 columns]

CLUSTER:  347

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
21329  ff8c3a110525287cea6b9f0f4107481ec4ac680f  287064    0.7     1.000000
21330  ffebfad66f6ffde2b9c93ec029e524c0deabb121  257276    0.7     0.511628
21331  ffebfad66f6ffde2b9c93ec029e524c0deabb121  258986    0.7     0.511628
21332  ffebfad66f6ffde2b9c93ec029e524c0deabb121  259691    0.7     0.511628
21333  ffebfad66f6ffde2b9c93ec029e524c0deabb121  285857    0.7     0.511628

[21334 rows x 4 columns]

CLUSTER:  350

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
21794  fad0856c2ff78e00514d88039196f2ccb522c93b  257155    0.7     0.333333
21795  fad0856c2ff78e00514d88039196f2ccb522c93b  257350    0.7     0.333333
21796  fed86974c1b264f8d7b6e36200c7ad5ca8ef5a90  256612    0.7     0.012903
21797  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  256612    0.7     0.041667
21798  ff508af0a589352e04d8bb11643008b5df2d6423  256612    0.7     0.064516

[21799 rows x 4 columns]

CLUSTER:  808

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                         ...     ...    ...          ...
23828  ffb61269e25025e6a0c66b40409347ab761f8be8  267108    0.7          1.0
23829  ffb61269e25025e6a0c66b40409347ab761f8be8  271633    0.7          1.0
23830  ffb61269e25025e6a0c66b40409347ab761f8be8  272877    0.7          1.0
23831  ffb61269e25025e6a0c66b40409347ab761f8be8  274493    0.7          1.0
23832  ffb61269e25025e6a0c66b40409347ab761f8be8  275490    0.7          1.0

[23833 rows x 4 columns]

CLUSTER:  812

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
23957  f8a542920ae576f26b4b4d22948796748173d291  278826    0.7     0.666667
23958  f8a542920ae576f26b4b4d22948796748173d291  278831    0.7     0.666667
23959  f8a542920ae576f26b4b4d22948796748173d291  278850    0.7     0.666667
23960  fcddd77ce1552dd5f836c72a2f777704aaa62f17  278818    0.7     0.250000
23961  fcddd77ce1552dd5f836c72a2f777704aaa62f17  278823    0.7     0.250000

[23962 rows x 4 columns]

CLUSTER:  813

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
28787  ff5481859cc1efde4393c90fd17753870c6e168c  258135    0.7     0.062500
28788  ff64e98cbe851aafd2e48ebf9a66ece9888c8d60  258135    0.7     0.111111
28789  ff9405f644c0ee61d48180cdaa55e08843f1e35c  258135    0.7     0.125000
28790  ffebfad66f6ffde2b9c93ec029e524c0deabb121  258135    0.7     0.139535
28791  ffefc26657096bc280e03a8663340d48ae0a460f  258135    0.7     0.058577

[28792 rows x 4 columns]

CLUSTER:  27

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
28897  ea5b9b568ed11f192587a963b7455b2420a70602  269480    0.7     0.206897
28898  f05a3ee2fe86d4866c13ea9a4033755643f80c67  269400    0.7     0.014286
28899  f5eb2e54d2163873aacf27a43db86b3a0cc3edf2  269400    0.7     0.001637
28900  f7997db1bfc44a4ffe12146496940684265480ae  269400    0.7     0.014060
28901  fed86974c1b264f8d7b6e36200c7ad5ca8ef5a90  269400    0.7     0.025806

[28902 rows x 4 columns]

CLUSTER:  330

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
33655  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  256318    0.7     0.062500
33656  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  256318    0.7     0.148148
33657  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  256676    0.7     0.148148
33658  ffefc26657096bc280e03a8663340d48ae0a460f  256318    0.7     0.016736
33659  fff735f54719b720fc4c6c723208ad1f06e9605e  256318    0.7     0.025862

[33660 rows x 4 columns]

CLUSTER:  624

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
35104  fdac76c5931aaf725019f7c364d525699b8d3981  208410    0.7     0.074074
35105  fe2850cf1ea11c5068869d0fc84181a453cee97c  208410    0.7     0.133333
35106  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  208410    0.7     0.333333
35107  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  256876    0.7     0.333333
35108  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  263461    0.7     0.333333

[35109 rows x 4 columns]

CLUSTER:  720

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
37526  ff1c9148b686bfe19d232b4b13d72b72ca701c95  255664    0.7     0.028571
37527  ff6d082c64341dda8deafe92b49259242fab86ff  255664    0.7     0.117647
37528  ffd24ec2ae25aea321acebccf1e1a08d314461cf  255664    0.7     0.333333
37529  ffd24ec2ae25aea321acebccf1e1a08d314461cf  257757    0.7     0.333333
37530  ffd24ec2ae25aea321acebccf1e1a08d314461cf  258317    0.7     0.333333

[37531 rows x 4 columns]

CLUSTER:  170

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
37933  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  265029    0.7     0.031250
37934  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  265029    0.7     0.020548
37935  fe93d442b576ca5f3f6c354bbaa492499b1ae375  265029    0.7     0.010417
37936  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  265029    0.7     0.133333
37937  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  265029    0.7     0.082192

[37938 rows x 4 columns]

CLUSTER:  297

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
38103  f7ea6d8329b38ed75f617c6c4768615229316467  266799    0.7     0.333333
38104  f7ea6d8329b38ed75f617c6c4768615229316467  275104    0.7     0.333333
38105  fa18f0ebf36d5102657beb1a70aecf688c768728  256250    0.7     0.045455
38106  fc8802fa8961274e09c61b51bb64bcb5abbd2d71  256250    0.7     0.083333
38107  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  256250    0.7     0.006849

[38108 rows x 4 columns]

CLUSTER:  305

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
40917  ff699a47aa1377f2142133d65ea0595dc2228f7d  255995    0.7     0.166667
40918  ff699a47aa1377f2142133d65ea0595dc2228f7d  257879    0.7     0.166667
40919  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255995    0.7     0.007547
40920  fff71390a9f54ced5134452870d70ff18812f05f  255995    0.7     0.176471
40921  fff71390a9f54ced5134452870d70ff18812f05f  257879    0.7     0.176471

[40922 rows x 4 columns]

CLUSTER:  428

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
43678  ff963091f64e3bbdde105e01a682dfdf4514dc2b  275290    0.7     1.000000
43679  ff963091f64e3bbdde105e01a682dfdf4514dc2b  275294    0.7     1.000000
43680  ff963091f64e3bbdde105e01a682dfdf4514dc2b  275303    0.7     1.000000
43681  ff963091f64e3bbdde105e01a682dfdf4514dc2b  275308    0.7     1.000000
43682  ffa956d8158d97d351f8ee09c9f18aef5289aafb  262902    0.7     0.049645

[43683 rows x 4 columns]

CLUSTER:  448

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
43861  f558e642d598c884fda9e781ced0214bf916f4f4  275612    0.7     0.021978
43862  f6b85791b718695ecda590e14dffacb016cde1da  275612    0.7     0.009346
43863  f6c2e9bcffc73fa469c27455b5cf6042f2deddf8  275612    0.7     0.214286
43864  f6c2e9bcffc73fa469c27455b5cf6042f2deddf8  275624    0.7     0.214286
43865  fe045f566a51a0af398af0ba38893a9f07c14afe  275612    0.7     0.141210

[43866 rows x 4 columns]

CLUSTER:  455

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
43986  f0f3dafe2f6c920183863612a4921b329b73d10c  322238    0.7     0.259259
43987  f3ba78d4cc59c331df50837c5001ec05f315f627  275638    0.7     0.012195
43988  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  275638    0.7     0.007092
43989  f90221acf466cb1337329ec392a65b154776290d  275638    0.7     0.054795
43990  fb8e1e8e43d66cb9d7b8dafd932a4b8a3b83c954  275638    0.7     0.019544

[43991 rows x 4 columns]

CLUSTER:  616

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
49767  ffef3d7df73415910c342920b43799512dcb9ef5  210242    0.7     0.555556
49768  ffef3d7df73415910c342920b43799512dcb9ef5  210244    0.7     0.555556
49769  ffef3d7df73415910c342920b43799512dcb9ef5  211832    0.7     0.555556
49770  ffef3d7df73415910c342920b43799512dcb9ef5  255732    0.7     0.555556
49771  fff735f54719b720fc4c6c723208ad1f06e9605e  210242    0.7     0.077586

[49772 rows x 4 columns]

CLUSTER:  759

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
50446  ff4ea2a593e3f01c248e52be4d870d5f5d84b538  261034    0.7     0.800000
50447  ff4ea2a593e3f01c248e52be4d870d5f5d84b538  261269    0.7     0.800000
50448  ff4ea2a593e3f01c248e52be4d870d5f5d84b538  261294    0.7     0.800000
50449  ff699a47aa1377f2142133d65ea0595dc2228f7d  261017    0.7     0.041667
50450  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  261017    0.7     0.062500

[50451 rows x 4 columns]

CLUSTER:  863

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
57989  ffbe1434bf04cc80807696d6aa8eb70806f8050b  211390    0.7     0.333333
57990  ffbe1434bf04cc80807696d6aa8eb70806f8050b  255810    0.7     0.333333
57991  ffefc26657096bc280e03a8663340d48ae0a460f  207974    0.7     0.041841
57992  fff735f54719b720fc4c6c723208ad1f06e9605e  207974    0.7     0.198276
57993  fff735f54719b720fc4c6c723208ad1f06e9605e  211390    0.7     0.198276

[57994 rows x 4 columns]

CLUSTER:  891

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
59311  fe9e8afb29498a76228b8da6208aeda7f149934d  259510    0.7     0.666667
59312  fe9e8afb29498a76228b8da6208aeda7f149934d  259878    0.7     0.666667
59313  fe9e8afb29498a76228b8da6208aeda7f149934d  261816    0.7     0.666667
59314  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  255802    0.7     0.033333
59315  ffefc26657096bc280e03a8663340d48ae0a460f  255802    0.7     0.104603

[59316 rows x 4 columns]

CLUSTER:  530

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
61372  ff21f204a3e3e275024c74c4b8102554131ca600  255693    0.7     0.085106
61373  fff169350c34c6e40763143d1643df3d94698cd4  255693    0.7     0.500000
61374  fff169350c34c6e40763143d1643df3d94698cd4  255695    0.7     0.500000
61375  fff169350c34c6e40763143d1643df3d94698cd4  255740    0.7     0.500000
61376  fff169350c34c6e40763143d1643df3d94698cd4  255861    0.7     0.500000

[61377 rows x 4 columns]

CLUSTER:  348

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
63076  fd8a3799c81c73c7c4d2e0fd19043cb607a269e5  286896    0.7     0.333333
63077  fe93d442b576ca5f3f6c354bbaa492499b1ae375  255836    0.7     0.007812
63078  ff1c9148b686bfe19d232b4b13d72b72ca701c95  255836    0.7     0.028571
63079  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  255836    0.7     0.062500
63080  fff735f54719b720fc4c6c723208ad1f06e9605e  255836    0.7     0.008621

[63081 rows x 4 columns]

CLUSTER:  332

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7        1.000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7        1.000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7        1.000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7        1.000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7        1.000
...                                         ...     ...    ...          ...
65187  ffa1273dd140bd378f4387099bffda0e9fb899dc  276970    0.7        1.000
65188  ffa1273dd140bd378f4387099bffda0e9fb899dc  285653    0.7        1.000
65189  ffa1273dd140bd378f4387099bffda0e9fb899dc  285662    0.7        1.000
65190  ffa1273dd140bd378f4387099bffda0e9fb899dc  285669    0.7        1.000
65191  ffcc6f19a01a8ddb93e50e04027aa74821eaf0cc  256424    0.7        0.125

[65192 rows x 4 columns]

CLUSTER:  340

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
66955  fe93d442b576ca5f3f6c354bbaa492499b1ae375  257902    0.7     0.036458
66956  fec423cc257da88e874e90d12604249676e339e4  257902    0.7     0.044444
66957  fee6ae01d54d2dcfa882f209295064d7d63d17b5  257902    0.7     0.055556
66958  ff15d268f28bd209506f3c931d281b6c8c42bead  257902    0.7     0.081818
66959  ff7c782aa4b5f15e359406784853642b5062c3a9  257902    0.7     0.116279

[66960 rows x 4 columns]

CLUSTER:  941

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
67076  f1393ccd6e5b91b041f33dab1ffa50757fc13f81  520544    0.7     0.200000
67077  f1393ccd6e5b91b041f33dab1ffa50757fc13f81  546749    0.7     0.200000
67078  f1ecbdbffa627ca6a2a33e1f702ad52d7ca67c0e  520544    0.7     0.008511
67079  f8e96198e47bf96862bd81448831efbb391acab7  520544    0.7     0.166667
67080  f8e96198e47bf96862bd81448831efbb391acab7  546749    0.7     0.166667

[67081 rows x 4 columns]

CLUSTER:  155

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
67454  fd1e55b7b3e27e9df679c3a0cde16f44560e2589  257115    0.7     0.076923
67455  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  257115    0.7     0.008929
67456  fe93d442b576ca5f3f6c354bbaa492499b1ae375  257115    0.7     0.010417
67457  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  257115    0.7     0.041096
67458  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257115    0.7     0.037037

[67459 rows x 4 columns]

CLUSTER:  160

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
67649  f1295769be40f61ecaff2b18f6d337306b254fa1  255835    0.7     0.075472
67650  f2f2a012f451f25592a978b42ca8db9184853634  255835    0.7     0.013793
67651  f34c0e398696698e459671a842cf17158d8e1166  255835    0.7     0.125000
67652  f3704d074cc7b33d6f01e942c597c8d2454ac95d  255835    0.7     0.003617
67653  feaf1269b7319434a2d2b525e6006529c5def2cb  255835    0.7     0.060606

[67654 rows x 4 columns]

CLUSTER:  333

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
69161  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  255590    0.7     0.058252
69162  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255590    0.7     0.011321
69163  fff71390a9f54ced5134452870d70ff18812f05f  255590    0.7     0.411765
69164  fff71390a9f54ced5134452870d70ff18812f05f  255817    0.7     0.411765
69165  fff71390a9f54ced5134452870d70ff18812f05f  256409    0.7     0.411765

[69166 rows x 4 columns]

CLUSTER:  338

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
71500  ff508af0a589352e04d8bb11643008b5df2d6423  256452    0.7     0.709677
71501  ff508af0a589352e04d8bb11643008b5df2d6423  257365    0.7     0.709677
71502  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  211593    0.7     0.074074
71503  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  211593    0.7     0.158491
71504  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255648    0.7     0.158491

[71505 rows x 4 columns]

CLUSTER:  339

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
72430  ff6aba19e56804134768d21fbe43fcc9aa450221  213307    0.7     0.500000
72431  ff6aba19e56804134768d21fbe43fcc9aa450221  255797    0.7     0.500000
72432  ff6aba19e56804134768d21fbe43fcc9aa450221  256437    0.7     0.500000
72433  ff6aba19e56804134768d21fbe43fcc9aa450221  267235    0.7     0.500000
72434  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  213307    0.7     0.055556

[72435 rows x 4 columns]

CLUSTER:  364

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
73323  fb2e6d195d6cc7b03720414222b0c7d225168096  273526    0.7     0.285714
73324  fb8560d5a37ade2a195adff4f78f36ac276e9765  256402    0.7     0.090909
73325  fe408396eb451a8fc4a412701ea1fa6d9951a3e9  256402    0.7     0.013158
73326  fe8fb699e1e514f5a49383187e7c1267f6d648d2  256402    0.7     0.016393
73327  fff735f54719b720fc4c6c723208ad1f06e9605e  256402    0.7     0.017241

[73328 rows x 4 columns]

CLUSTER:  370

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
75421  fe7940f297a7a5e59cf537858901e37c08aea7fb  211929    0.7     0.142857
75422  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  211921    0.7     0.027397
75423  ff508af0a589352e04d8bb11643008b5df2d6423  211921    0.7     0.032258
75424  ff8c7c63debe0277dcf283f80f22e3409af212f2  211921    0.7     0.153846
75425  ff8c7c63debe0277dcf283f80f22e3409af212f2  211929    0.7     0.153846

[75426 rows x 4 columns]

CLUSTER:  391

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
75506  e401ed5042fdb446c3109b2f5a8483faddc5005b  315317    0.7     0.043614
75507  ea3489dee463d3e7521add6b4c55aa30c350b65b  315317    0.7     0.135593
75508  fbc5b3182634e138af6eae07540046d8fbe1a0ec  315317    0.7     0.003503
75509  fbfe6ad995bcf37ba0c68157098d9c386dccfe83  315317    0.7     0.111111
75510  febf731f9f1d9c6e09c2a91d664485ec793ad870  315317    0.7     0.019950

[75511 rows x 4 columns]

CLUSTER:  401

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
76165  fd1e55b7b3e27e9df679c3a0cde16f44560e2589  257745    0.7     0.076923
76166  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  257745    0.7     0.026846
76167  fe045f566a51a0af398af0ba38893a9f07c14afe  257745    0.7     0.109510
76168  ff8c7c63debe0277dcf283f80f22e3409af212f2  257745    0.7     0.153846
76169  ff8c7c63debe0277dcf283f80f22e3409af212f2  274520    0.7     0.153846

[76170 rows x 4 columns]

CLUSTER:  512

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
77002  fe7aae0c2bca11bde1d3d6536620314302151438  257249    0.7     0.230769
77003  fe7aae0c2bca11bde1d3d6536620314302151438  257251    0.7     0.230769
77004  fec423cc257da88e874e90d12604249676e339e4  257249    0.7     0.044444
77005  ff15d268f28bd209506f3c931d281b6c8c42bead  257249    0.7     0.018182
77006  fff735f54719b720fc4c6c723208ad1f06e9605e  257249    0.7     0.034483

[77007 rows x 4 columns]

CLUSTER:  551

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
77367  f4b80f33d86331be2360e9450c94bf7a49cd5fe5  257404    0.7     0.033333
77368  fa18f0ebf36d5102657beb1a70aecf688c768728  257404    0.7     0.022727
77369  fbf35ae5f81d68c465462bc6d7d6c7efb6118a4c  257404    0.7     0.025157
77370  fcb9389b631e9d1fcfc369d7652c2cd9893be977  257404    0.7     0.014388
77371  fd0b9d9137a404b39d84e47e64e07c65e8f6ba05  257404    0.7     0.107143

[77372 rows x 4 columns]

CLUSTER:  574

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7      1.00000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7      1.00000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7      1.00000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7      1.00000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7      1.00000
...                                         ...     ...    ...          ...
81163  ff8164315c407f57567651c4d7d4b83f28a4c69b  257415    0.7      0.54491
81164  fff169350c34c6e40763143d1643df3d94698cd4  255933    0.7      0.50000
81165  fff169350c34c6e40763143d1643df3d94698cd4  257221    0.7      0.50000
81166  fff169350c34c6e40763143d1643df3d94698cd4  257328    0.7      0.50000
81167  fff169350c34c6e40763143d1643df3d94698cd4  257415    0.7      0.50000

[81168 rows x 4 columns]

CLUSTER:  581

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
82015  ffebbc4d31d01f611848b0d608480608228fa110  256938    0.7     0.666667
82016  ffebbc4d31d01f611848b0d608480608228fa110  261790    0.7     0.666667
82017  ffebbc4d31d01f611848b0d608480608228fa110  264913    0.7     0.666667
82018  ffebbc4d31d01f611848b0d608480608228fa110  265790    0.7     0.666667
82019  ffebbc4d31d01f611848b0d608480608228fa110  271164    0.7     0.666667

[82020 rows x 4 columns]

CLUSTER:  591

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
82398  fc3e3bd88355378df9ff06e5eb8197ef4926fc9a  257223    0.7     0.500000
82399  fca7cea455d431b1f7bb1ed38011e1064a041567  256778    0.7     0.235294
82400  fca7cea455d431b1f7bb1ed38011e1064a041567  256781    0.7     0.235294
82401  fd903799aa3b726a912c7059a927b680f89f9395  256778    0.7     0.062500
82402  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  256778    0.7     0.041667

[82403 rows x 4 columns]

CLUSTER:  592

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
82601  f5b745b968522a214f21b66057b2d61fd91a2eea  272880    0.7     0.008621
82602  f73147c7ce945cb1df8ba5ec94c574d78071cb54  272880    0.7     0.020833
82603  f7fd9c84ccd0ce7c4cc6212722333a0fefa6d09e  272880    0.7     0.125000
82604  fa28d683239323a8a7ac587a6edbb1fe3e9b5daf  272880    0.7     0.142857
82605  fa28d683239323a8a7ac587a6edbb1fe3e9b5daf  272884    0.7     0.142857

[82606 rows x 4 columns]

CLUSTER:  595

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
82897  fb2b20e7ef5d841acaade9f3bc90b7c440e09bcb  211577    0.7     0.018519
82898  fbf35ae5f81d68c465462bc6d7d6c7efb6118a4c  211577    0.7     0.037736
82899  fd903799aa3b726a912c7059a927b680f89f9395  211577    0.7     0.187500
82900  fd903799aa3b726a912c7059a927b680f89f9395  272916    0.7     0.187500
82901  ff15d268f28bd209506f3c931d281b6c8c42bead  211577    0.7     0.018182

[82902 rows x 4 columns]

CLUSTER:  599

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
83113  fe97da5dbe5750568c4e75b352a696374c76f0ae  257298    0.7     0.666667
83114  fe97da5dbe5750568c4e75b352a696374c76f0ae  257406    0.7     0.666667
83115  fe97da5dbe5750568c4e75b352a696374c76f0ae  263432    0.7     0.666667
83116  fe97da5dbe5750568c4e75b352a696374c76f0ae  273100    0.7     0.666667
83117  fef80b3959acb0e63e2b8d28d0fda7288731738f  213911    0.7     0.111111

[83118 rows x 4 columns]

CLUSTER:  611

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                         ...     ...    ...          ...
85487  ff7a9ba4102f42a08804e466b16a28b4e9058827  259365    0.7          1.0
85488  ff7a9ba4102f42a08804e466b16a28b4e9058827  259369    0.7          1.0
85489  ffea929b2f529502d4c4f693f9ba863fc175ebb3  259268    0.7          0.4
85490  ffea929b2f529502d4c4f693f9ba863fc175ebb3  259271    0.7          0.4
85491  ffea929b2f529502d4c4f693f9ba863fc175ebb3  259293    0.7          0.4

[85492 rows x 4 columns]

CLUSTER:  628

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
85975  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  263888    0.7     0.666667
85976  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  283692    0.7     0.666667
85977  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  283701    0.7     0.666667
85978  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  288762    0.7     0.666667
85979  ff0acd287c6b50a8e890f2a39bcfb14c619408c6  292292    0.7     0.666667

[85980 rows x 4 columns]

CLUSTER:  639

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
85995  8f4a87d31b0a3a2c748be44bb9072bdfb5207cdc  646282    0.7     0.666667
85996  a61345be0ef1125e7d3b9d4fa99a7e8ce89d42f8  288792    0.7     0.025000
85997  b036f5986a5b7e78197493528663b2f65ff1a8e5  288792    0.7     0.150301
85998  b036f5986a5b7e78197493528663b2f65ff1a8e5  352104    0.7     0.150301
85999  bff79cd84237226c059a08f705845017dd68f54d  288792    0.7     0.075758

[86000 rows x 4 columns]

CLUSTER:  650

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
86052  e1f327837b06d890d67b4ce9369471263ab45ed0  357467    0.7     0.454545
86053  e1f327837b06d890d67b4ce9369471263ab45ed0  361796    0.7     0.454545
86054  e88070586ed888e74eeab0fa8f7779179f7c3061  309646    0.7     0.384615
86055  e88070586ed888e74eeab0fa8f7779179f7c3061  317252    0.7     0.384615
86056  e88070586ed888e74eeab0fa8f7779179f7c3061  357467    0.7     0.384615

[86057 rows x 4 columns]

CLUSTER:  792

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
87214  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  266530    0.7     0.575342
87215  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  267602    0.7     0.575342
87216  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  267606    0.7     0.575342
87217  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  267608    0.7     0.575342
87218  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  267611    0.7     0.575342

[87219 rows x 4 columns]

CLUSTER:  986

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
89731  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  257083    0.7     0.003774
89732  ffd24ec2ae25aea321acebccf1e1a08d314461cf  257083    0.7     0.333333
89733  ffd24ec2ae25aea321acebccf1e1a08d314461cf  257144    0.7     0.333333
89734  ffd24ec2ae25aea321acebccf1e1a08d314461cf  257339    0.7     0.333333
89735  fff735f54719b720fc4c6c723208ad1f06e9605e  257083    0.7     0.025862

[89736 rows x 4 columns]

CLUSTER:  575

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
90202  fde919610c66dcdc25a6be680cee82fc5b8912c8  260048    0.7     0.666667
90203  fde919610c66dcdc25a6be680cee82fc5b8912c8  268303    0.7     0.666667
90204  fde919610c66dcdc25a6be680cee82fc5b8912c8  271853    0.7     0.666667
90205  fe5fdb8e1e225c9f10371de94ff82742ca72bc96  256818    0.7     0.111111
90206  ff8164315c407f57567651c4d7d4b83f28a4c69b  256818    0.7     0.005988

[90207 rows x 4 columns]

CLUSTER:  576

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
90942  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  256930    0.7     0.085106
90943  fbcb0b0ecb2b3283177901f855669f555977b6dc  259375    0.7     0.027778
90944  fc3e3bd88355378df9ff06e5eb8197ef4926fc9a  256930    0.7     0.272727
90945  fc3e3bd88355378df9ff06e5eb8197ef4926fc9a  259375    0.7     0.272727
90946  fc702a73debffabf74dd0ed4a44dc72e266419b7  256930    0.7     0.085714

[90947 rows x 4 columns]

CLUSTER:  582

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
91000  f76cac65da7ea5485ee6672837795d1e9f5528be  265850    0.7     0.500000
91001  f76cac65da7ea5485ee6672837795d1e9f5528be  272147    0.7     0.500000
91002  f76cac65da7ea5485ee6672837795d1e9f5528be  272177    0.7     0.500000
91003  f76cac65da7ea5485ee6672837795d1e9f5528be  283097    0.7     0.500000
91004  f7b31d426c52724e7529c6d1dfdcaceac0b25c91  265850    0.7     0.021739

[91005 rows x 4 columns]

CLUSTER:  587

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
91020  c020b69a503d6a171ddefce8a37b79a93b501c2f  272296    0.7     0.058824
91021  ca250c749c8d09d88f7965065e8e360cd04bfa8a  284353    0.7     0.064516
91022  cf4073509093036b49f1eede1ccb826bb7fab36c  272296    0.7     0.022727
91023  f7b31d426c52724e7529c6d1dfdcaceac0b25c91  272296    0.7     0.021739
91024  fd903799aa3b726a912c7059a927b680f89f9395  272296    0.7     0.125000

[91025 rows x 4 columns]

CLUSTER:  822

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                         ...     ...    ...          ...
91652  fe5d2bf31bda681282d0c5f4fa0dfe63d0c898b1  259524    0.7          0.8
91653  fe5d2bf31bda681282d0c5f4fa0dfe63d0c898b1  265756    0.7          0.8
91654  fe5d2bf31bda681282d0c5f4fa0dfe63d0c898b1  277357    0.7          0.8
91655  fe5d2bf31bda681282d0c5f4fa0dfe63d0c898b1  277361    0.7          0.8
91656  fe5d2bf31bda681282d0c5f4fa0dfe63d0c898b1  277367    0.7          0.8

[91657 rows x 4 columns]

CLUSTER:  823

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
95466  ff8164315c407f57567651c4d7d4b83f28a4c69b  274728    0.7     0.035928
95467  ff9405f644c0ee61d48180cdaa55e08843f1e35c  274728    0.7     0.250000
95468  ff9405f644c0ee61d48180cdaa55e08843f1e35c  275475    0.7     0.250000
95469  ffefc26657096bc280e03a8663340d48ae0a460f  274728    0.7     0.158996
95470  ffefc26657096bc280e03a8663340d48ae0a460f  275475    0.7     0.158996

[95471 rows x 4 columns]

CLUSTER:  153

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                         ...     ...    ...          ...
96162  ff72cd5671b17ceb2fa13aea333f2a044cec720d  258647    0.7          1.0
96163  ff72cd5671b17ceb2fa13aea333f2a044cec720d  260276    0.7          1.0
96164  ff72cd5671b17ceb2fa13aea333f2a044cec720d  281210    0.7          1.0
96165  ff72cd5671b17ceb2fa13aea333f2a044cec720d  281998    0.7          1.0
96166  ff72cd5671b17ceb2fa13aea333f2a044cec720d  282000    0.7          1.0

[96167 rows x 4 columns]

CLUSTER:  158

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
96665  fe9470edac129ca6a1a2cad6e033ce0b51bbe0c3  258075    0.7     0.400000
96666  fe9470edac129ca6a1a2cad6e033ce0b51bbe0c3  258091    0.7     0.400000
96667  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  258064    0.7     0.027397
96668  ff8c7c63debe0277dcf283f80f22e3409af212f2  258064    0.7     0.076923
96669  ffef3d7df73415910c342920b43799512dcb9ef5  258064    0.7     0.111111

[96670 rows x 4 columns]

CLUSTER:  159

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
96775  f0a219294243e90a29ee73f848d31cfade53f359  258127    0.7     0.400000
96776  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  258097    0.7     0.035088
96777  faeaae3c3ab1a1a7ee646370e13ff69d653d262d  258097    0.7     0.015152
96778  fbdcc540c90ae59d76022b1f182d76b714fddb48  258097    0.7     0.142857
96779  fbdcc540c90ae59d76022b1f182d76b714fddb48  258117    0.7     0.142857

[96780 rows x 4 columns]

CLUSTER:  230

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
97043  fc8368b80f71bc76f578b6f42b2d9c00646bc334  270971    0.7     0.200000
97044  fc8368b80f71bc76f578b6f42b2d9c00646bc334  270976    0.7     0.200000
97045  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270971    0.7     0.333333
97046  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270976    0.7     0.333333
97047  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270995    0.7     0.333333

[97048 rows x 4 columns]

CLUSTER:  344

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
98583  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  258470    0.7     0.008929
98584  fe2c7ec8e3f94b6c08fce3592a8345ea0a262c78  258470    0.7     0.012658
98585  fe93d442b576ca5f3f6c354bbaa492499b1ae375  258470    0.7     0.083333
98586  fff716c9685b5267e6ecfcdc00e9303509355bc1  258470    0.7     0.250000
98587  fff716c9685b5267e6ecfcdc00e9303509355bc1  259404    0.7     0.250000

[98588 rows x 4 columns]

CLUSTER:  440

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
99135  fdfc6142d2b0f5bcb4e8cddd7625e488b1e330ce  359882    0.7     0.142857
99136  fdfc6142d2b0f5bcb4e8cddd7625e488b1e330ce  506683    0.7     0.142857
99137  fe045f566a51a0af398af0ba38893a9f07c14afe  359882    0.7     0.109510
99138  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  359882    0.7     0.160000
99139  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  506683    0.7     0.160000

[99140 rows x 4 columns]

CLUSTER:  613

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                      IDUsuario   Llave  Nivel  Pertenencia
0      00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1      00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2      00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3      00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4      00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                         ...     ...    ...          ...
99831  ff3133b4f4366d2c452c001a8e04359de252fd06  260995    0.7     0.750000
99832  ff3133b4f4366d2c452c001a8e04359de252fd06  311225    0.7     0.750000
99833  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  257360    0.7     0.166667
99834  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  260820    0.7     0.166667
99835  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  257360    0.7     0.125000

[99836 rows x 4 columns]

CLUSTER:  300

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7         1.00
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7         1.00
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7         1.00
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7         1.00
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7         1.00
...                                          ...     ...    ...          ...
101110  ffb7f8052ac61290650aebc539a9d376b33cf0de  284773    0.7         0.95
101111  ffb7f8052ac61290650aebc539a9d376b33cf0de  297104    0.7         0.95
101112  ffb7f8052ac61290650aebc539a9d376b33cf0de  297111    0.7         0.95
101113  ffb7f8052ac61290650aebc539a9d376b33cf0de  297112    0.7         0.95
101114  ffb7f8052ac61290650aebc539a9d376b33cf0de  297127    0.7         0.95

[101115 rows x 4 columns]

CLUSTER:  598

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
101456  fe4f40ab8f76da7adee201dd58ee25366da71435  211738    0.7     0.148148
101457  fe4f40ab8f76da7adee201dd58ee25366da71435  273066    0.7     0.148148
101458  fe5fdb8e1e225c9f10371de94ff82742ca72bc96  211738    0.7     0.333333
101459  fe5fdb8e1e225c9f10371de94ff82742ca72bc96  273066    0.7     0.333333
101460  fe5fdb8e1e225c9f10371de94ff82742ca72bc96  273068    0.7     0.333333

[101461 rows x 4 columns]

CLUSTER:  335

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
101868  faf7191ba1ecb47ce2b061599cc0510ae6008b3f  256406    0.7     0.200000
101869  faf7191ba1ecb47ce2b061599cc0510ae6008b3f  270736    0.7     0.200000
101870  fbc5b3182634e138af6eae07540046d8fbe1a0ec  256406    0.7     0.003503
101871  fe1b823cf30c0868fb57869751be5885c8d18cd1  256406    0.7     0.060606
101872  fe408396eb451a8fc4a412701ea1fa6d9951a3e9  256406    0.7     0.078947

[101873 rows x 4 columns]

CLUSTER:  947

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
101990  f80a3f3ce48e37ec7ea11f99663dbe927bbe6b17  271187    0.7     0.222222
101991  f9ba5a24a5aa55f7cd30bc68a904167f0b1c5e3a  271170    0.7     0.176471
101992  f9ba5a24a5aa55f7cd30bc68a904167f0b1c5e3a  271187    0.7     0.176471
101993  fb2e6d195d6cc7b03720414222b0c7d225168096  271170    0.7     0.071429
101994  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  271170    0.7     0.006849

[101995 rows x 4 columns]

CLUSTER:  -999

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
107528  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  219893    0.7     0.018519
107529  ffbe1434bf04cc80807696d6aa8eb70806f8050b  219893    0.7     0.333333
107530  ffbe1434bf04cc80807696d6aa8eb70806f8050b  255738    0.7     0.333333
107531  ffbe1434bf04cc80807696d6aa8eb70806f8050b  255915    0.7     0.333333
107532  fff735f54719b720fc4c6c723208ad1f06e9605e  219893    0.7     0.034483

[107533 rows x 4 columns]

CLUSTER:  136

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
108811  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  256129    0.7     0.007663
108812  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  256129    0.7     0.041096
108813  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  256129    0.7     0.074074
108814  ff29e537372aef3370837245a1f80ca929c8f5db  256129    0.7     0.055944
108815  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  256129    0.7     0.100000

[108816 rows x 4 columns]

CLUSTER:  760

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
108866  d72b03e08b36360444999a15e6dece5767bdcc1f  267042    0.7     0.285714
108867  d72b03e08b36360444999a15e6dece5767bdcc1f  267052    0.7     0.285714
108868  e25ff1c796d5e523b92ca8e6bd687a4c90b90668  267042    0.7     0.007874
108869  f23168818e5656b18873d12c586eb51d0cc97d9f  267042    0.7     0.060606
108870  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  267042    0.7     0.018913

[108871 rows x 4 columns]

CLUSTER:  150

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
109579  fe056c970338d3c4ea17d9c608c58d99e023c6fd  256891    0.7     1.000000
109580  fe056c970338d3c4ea17d9c608c58d99e023c6fd  256893    0.7     1.000000
109581  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  256739    0.7     0.053640
109582  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  256739    0.7     0.148148
109583  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  256813    0.7     0.148148

[109584 rows x 4 columns]

CLUSTER:  152

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
109980  fcef46e75d8a0d1bcd78e235f1a757d9b1857a89  257094    0.7     0.333333
109981  fcef46e75d8a0d1bcd78e235f1a757d9b1857a89  257095    0.7     0.333333
109982  fdec51dc149b0a5c7f84d523409123c0763861cb  257093    0.7     0.128440
109983  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257093    0.7     0.148148
109984  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257094    0.7     0.148148

[109985 rows x 4 columns]

CLUSTER:  306

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
112920  ff7adae511933c6abcc6f7b8173d73d1bd9d688f  257150    0.7     0.265060
112921  ff8164315c407f57567651c4d7d4b83f28a4c69b  256673    0.7     0.023952
112922  ff8c7c63debe0277dcf283f80f22e3409af212f2  256673    0.7     0.076923
112923  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  256673    0.7     0.030189
112924  fff735f54719b720fc4c6c723208ad1f06e9605e  256673    0.7     0.051724

[112925 rows x 4 columns]

CLUSTER:  618

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
113469  fd485aa26a717b3ed9b23b6356c173288858ca7d  210260    0.7     0.375000
113470  fd485aa26a717b3ed9b23b6356c173288858ca7d  210265    0.7     0.375000
113471  fd485aa26a717b3ed9b23b6356c173288858ca7d  210268    0.7     0.375000
113472  fe2c7ec8e3f94b6c08fce3592a8345ea0a262c78  210260    0.7     0.050633
113473  ff1c9148b686bfe19d232b4b13d72b72ca701c95  210260    0.7     0.028571

[113474 rows x 4 columns]

CLUSTER:  617

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
117421  feff15aa5b0c68d8570634d8c7f426b12ed9a3ca  256193    0.7     1.000000
117422  ff4c028d1f23744d9ebc3d6e917e088f59b001b6  210266    0.7     0.285714
117423  ff4c028d1f23744d9ebc3d6e917e088f59b001b6  256122    0.7     0.285714
117424  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  210266    0.7     0.062500
117425  ffefc26657096bc280e03a8663340d48ae0a460f  210266    0.7     0.016736

[117426 rows x 4 columns]

CLUSTER:  780

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7         1.00
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7         1.00
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7         1.00
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7         1.00
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7         1.00
...                                          ...     ...    ...          ...
118458  fd0e9f989106ef4d6f8c6340ed26c30248d334d0  257485    0.7         0.30
118459  fd0e9f989106ef4d6f8c6340ed26c30248d334d0  257800    0.7         0.30
118460  fd0e9f989106ef4d6f8c6340ed26c30248d334d0  258290    0.7         0.30
118461  ff9405f644c0ee61d48180cdaa55e08843f1e35c  257485    0.7         0.25
118462  ff9405f644c0ee61d48180cdaa55e08843f1e35c  257800    0.7         0.25

[118463 rows x 4 columns]

CLUSTER:  532

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
118566  fe3be54abe7900a3bd58a68d3deded52f116e1cb  266467    0.7     0.200000
118567  ff11a7e84c47be4e47f0217a7b15938b3f7df66b  266458    0.7     0.444444
118568  ff11a7e84c47be4e47f0217a7b15938b3f7df66b  266467    0.7     0.444444
118569  ff11a7e84c47be4e47f0217a7b15938b3f7df66b  266476    0.7     0.444444
118570  ff11a7e84c47be4e47f0217a7b15938b3f7df66b  266495    0.7     0.444444

[118571 rows x 4 columns]

CLUSTER:  515

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
118966  fe7aae0c2bca11bde1d3d6536620314302151438  256784    0.7     0.076923
118967  ff3c5480fef06940d521240a782a127ec994d9df  256784    0.7     0.500000
118968  ff3c5480fef06940d521240a782a127ec994d9df  258535    0.7     0.500000
118969  ff3c5480fef06940d521240a782a127ec994d9df  262190    0.7     0.500000
118970  ff3c5480fef06940d521240a782a127ec994d9df  262450    0.7     0.500000

[118971 rows x 4 columns]

CLUSTER:  531

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
119456  fb0f8fdaa3d3be65f2d7cc540308a1fbb5f3c7ee  260607    0.7     0.157895
119457  fb0f8fdaa3d3be65f2d7cc540308a1fbb5f3c7ee  260610    0.7     0.157895
119458  fb6bb065b46878819a5605caf84e7e9a5027f514  260607    0.7     0.166667
119459  fb6bb065b46878819a5605caf84e7e9a5027f514  260610    0.7     0.166667
119460  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  260607    0.7     0.106796

[119461 rows x 4 columns]

CLUSTER:  111

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
119698  fab90cd83125b5aeb3e7f6bfdfada43b91490c06  256031    0.7     0.085714
119699  faeaae3c3ab1a1a7ee646370e13ff69d653d262d  256031    0.7     0.090909
119700  fb4b985e6461d157afb185b342d75108944eba55  256031    0.7     0.009390
119701  fd2f0549036c243a1b15ba6cc59c98ba6fea6bae  256031    0.7     0.010417
119702  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  256031    0.7     0.040268

[119703 rows x 4 columns]

CLUSTER:  608

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
119712  7de89e5201da9f2b14599edb37785e27a51270a8  846000    0.7     0.007797
119713  b97720dc9a1527101e4cd9e5573174f182646762  846000    0.7     0.015326
119714  f9f71cd59deab1bcda93f0d7f41f92af0b2f94bc  879888    0.7     0.111111
119715  fae09c40bbf926196bf4695ca1cdd8e3c11ea6f3  846000    0.7     0.250000
119716  fae09c40bbf926196bf4695ca1cdd8e3c11ea6f3  879888    0.7     0.250000

[119717 rows x 4 columns]

CLUSTER:  700

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
119782  f17dec10de11c7647e9c6cc8e651a6b39e3305c5  723204    0.7     1.000000
119783  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  342005    0.7     0.002364
119784  fa78ec3eccef31a9a539afd7e038c336e5262894  342005    0.7     0.070588
119785  fbe9ab23c2ce8e83edce22e2032cfdab13aea8ce  342005    0.7     0.114286
119786  fbfe79d8c80bcea8fcb474ba9253e97015ed2e6e  342005    0.7     0.041667

[119787 rows x 4 columns]

CLUSTER:  701

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7      1.00000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7      1.00000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7      1.00000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7      1.00000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7      1.00000
...                                          ...     ...    ...          ...
120940  fe8fb699e1e514f5a49383187e7c1267f6d648d2  255704    0.7      0.04918
120941  ff57b158bb7324a7b04536e19b3da40c36d98194  255704    0.7      0.12500
120942  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  255704    0.7      0.06250
120943  fffb2be68fef4b27a810b11a641d84052eb02347  255704    0.7      0.25000
120944  fffb2be68fef4b27a810b11a641d84052eb02347  255791    0.7      0.25000

[120945 rows x 4 columns]

CLUSTER:  709

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
122397  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  226067    0.7     0.013699
122398  fe93d442b576ca5f3f6c354bbaa492499b1ae375  226067    0.7     0.020833
122399  ff15d268f28bd209506f3c931d281b6c8c42bead  226067    0.7     0.036364
122400  ff1c9148b686bfe19d232b4b13d72b72ca701c95  226067    0.7     0.014286
122401  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  226067    0.7     0.033333

[122402 rows x 4 columns]

CLUSTER:  740

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
122408  846efbf8424b067987c37816330b44e903f5b311  261458    0.7     0.400000
122409  846efbf8424b067987c37816330b44e903f5b311  261467    0.7     0.400000
122410  8e41a3ccebfc4e3301a13d3e527832dfbcc17ef0  261458    0.7     0.022989
122411  e3eb7082217f59c53615220c0ec45bd557062738  261447    0.7     0.166667
122412  e3eb7082217f59c53615220c0ec45bd557062738  919989    0.7     0.166667

[122413 rows x 4 columns]

CLUSTER:  741

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
125450  ff15d268f28bd209506f3c931d281b6c8c42bead  257151    0.7     0.036364
125451  ff29e537372aef3370837245a1f80ca929c8f5db  257151    0.7     0.167832
125452  ff29e537372aef3370837245a1f80ca929c8f5db  258315    0.7     0.167832
125453  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  257151    0.7     0.126214
125454  ff699a47aa1377f2142133d65ea0595dc2228f7d  257151    0.7     0.083333

[125455 rows x 4 columns]

CLUSTER:  743

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
125653  f879fffd9b5d10abccf60536ee4a37df62fda8a1  259120    0.7     0.025641
125654  f93c35771a377534d9052957f22b87ee2ce65dd7  259120    0.7     0.023810
125655  fac93a532ce70f8866da6dde1e4ba2d73b0ff812  259120    0.7     0.090909
125656  faeaae3c3ab1a1a7ee646370e13ff69d653d262d  259120    0.7     0.007576
125657  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  259120    0.7     0.013699

[125658 rows x 4 columns]

CLUSTER:  770

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
126250  fd1d044961f1d013f315e11b83f5f2fee71ea484  267101    0.7     0.500000
126251  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  260189    0.7     0.003831
126252  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  260189    0.7     0.066667
126253  ffa82c14824daa260c030d1a95ebafb5438b3e22  260189    0.7     0.142857
126254  ffa82c14824daa260c030d1a95ebafb5438b3e22  267095    0.7     0.142857

[126255 rows x 4 columns]

CLUSTER:  323

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
127097  fe96e235a658c039bd6f45b8d7395157ee608ef9  282637    0.7     0.727273
127098  fe96e235a658c039bd6f45b8d7395157ee608ef9  285045    0.7     0.727273
127099  fe96e235a658c039bd6f45b8d7395157ee608ef9  285180    0.7     0.727273
127100  fe96e235a658c039bd6f45b8d7395157ee608ef9  285265    0.7     0.727273
127101  feaf1269b7319434a2d2b525e6006529c5def2cb  270738    0.7     0.045455

[127102 rows x 4 columns]

CLUSTER:  342

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
128624  ff45aaa3222cb930987e86288772013f81b1d163  281362    0.7     1.000000
128625  ff45aaa3222cb930987e86288772013f81b1d163  282625    0.7     1.000000
128626  fff716c9685b5267e6ecfcdc00e9303509355bc1  256651    0.7     0.250000
128627  fff716c9685b5267e6ecfcdc00e9303509355bc1  258262    0.7     0.250000
128628  fff735f54719b720fc4c6c723208ad1f06e9605e  256651    0.7     0.008621

[128629 rows x 4 columns]

CLUSTER:  343

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
129803  fed0e1e68b3136ad44c26b7caf37c22ec141fd51  284530    0.7     1.000000
129804  fed0e1e68b3136ad44c26b7caf37c22ec141fd51  286520    0.7     1.000000
129805  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  276184    0.7     0.160000
129806  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  279133    0.7     0.160000
129807  ff699a47aa1377f2142133d65ea0595dc2228f7d  276184    0.7     0.104167

[129808 rows x 4 columns]

CLUSTER:  345

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
131021  ff8c7c63debe0277dcf283f80f22e3409af212f2  259834    0.7     0.076923
131022  ffbe1434bf04cc80807696d6aa8eb70806f8050b  259834    0.7     0.333333
131023  ffbe1434bf04cc80807696d6aa8eb70806f8050b  278975    0.7     0.333333
131024  ffbe1434bf04cc80807696d6aa8eb70806f8050b  279825    0.7     0.333333
131025  ffebfad66f6ffde2b9c93ec029e524c0deabb121  259834    0.7     0.116279

[131026 rows x 4 columns]

CLUSTER:  346

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
133975  ffef3d7df73415910c342920b43799512dcb9ef5  210839    0.7     0.111111
133976  fff716c9685b5267e6ecfcdc00e9303509355bc1  210839    0.7     0.500000
133977  fff716c9685b5267e6ecfcdc00e9303509355bc1  279230    0.7     0.500000
133978  fff716c9685b5267e6ecfcdc00e9303509355bc1  282684    0.7     0.500000
133979  fff716c9685b5267e6ecfcdc00e9303509355bc1  282685    0.7     0.500000

[133980 rows x 4 columns]

CLUSTER:  869

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
134766  fddd7d4cf1ba310cff9be590d0c4c33ffe661fae  289776    0.7     0.250000
134767  fddd7d4cf1ba310cff9be590d0c4c33ffe661fae  310690    0.7     0.250000
134768  fdf277193d5d66aebcdf98bbb4869c73e72bcf4a  289776    0.7     0.100000
134769  fe0b44b12572d11bd37cb3223032e43053f64149  289776    0.7     0.117647
134770  ff29e537372aef3370837245a1f80ca929c8f5db  289776    0.7     0.006993

[134771 rows x 4 columns]

CLUSTER:  303

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
138628  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255799    0.7     0.007547
138629  fff71390a9f54ced5134452870d70ff18812f05f  255799    0.7     0.411765
138630  fff71390a9f54ced5134452870d70ff18812f05f  261208    0.7     0.411765
138631  fff71390a9f54ced5134452870d70ff18812f05f  268715    0.7     0.411765
138632  fff735f54719b720fc4c6c723208ad1f06e9605e  255799    0.7     0.103448

[138633 rows x 4 columns]

CLUSTER:  843

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
140301  fe8fb699e1e514f5a49383187e7c1267f6d648d2  265929    0.7     0.032787
140302  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  265929    0.7     0.062500
140303  ff29e537372aef3370837245a1f80ca929c8f5db  265929    0.7     0.013986
140304  ffefc26657096bc280e03a8663340d48ae0a460f  265929    0.7     0.196653
140305  ffefc26657096bc280e03a8663340d48ae0a460f  268110    0.7     0.196653

[140306 rows x 4 columns]

CLUSTER:  854

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
140354  f73544c35031d07a1d321c652a45c8a70c062065  261536    0.7     0.005848
140355  f879fffd9b5d10abccf60536ee4a37df62fda8a1  261536    0.7     0.025641
140356  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  261536    0.7     0.047281
140357  fb8e1e8e43d66cb9d7b8dafd932a4b8a3b83c954  279035    0.7     0.009772
140358  feaf1269b7319434a2d2b525e6006529c5def2cb  261536    0.7     0.015152

[140359 rows x 4 columns]

CLUSTER:  79

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
140539  fab545bda7804c4e635b59b66cda77456ebf6c4c  268327    0.7     0.198347
140540  fd0386986b06856e122aa1c52b4d5ae6f3ad107c  268304    0.7     0.083333
140541  fe1569e4c93a3b8241c466b33f41556ab4631997  268304    0.7     0.033333
140542  fe2d28200aea617faaade87892175e7209829e32  268304    0.7     0.166667
140543  fe2d28200aea617faaade87892175e7209829e32  268327    0.7     0.166667

[140544 rows x 4 columns]

CLUSTER:  302

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
142671  ff3ff7a4eb9e4ef36ffd76fd08e38db8bbd87be2  257002    0.7     1.000000
142672  ff3ff7a4eb9e4ef36ffd76fd08e38db8bbd87be2  260080    0.7     1.000000
142673  ff3ff7a4eb9e4ef36ffd76fd08e38db8bbd87be2  268490    0.7     1.000000
142674  ff3ff7a4eb9e4ef36ffd76fd08e38db8bbd87be2  269989    0.7     1.000000
142675  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  207884    0.7     0.030189

[142676 rows x 4 columns]

CLUSTER:  909

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
143201  fe8fb699e1e514f5a49383187e7c1267f6d648d2  199645    0.7     0.098361
143202  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  199645    0.7     0.148148
143203  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  288164    0.7     0.148148
143204  ff8164315c407f57567651c4d7d4b83f28a4c69b  199645    0.7     0.023952
143205  ffa956d8158d97d351f8ee09c9f18aef5289aafb  199645    0.7     0.007092

[143206 rows x 4 columns]

CLUSTER:  943

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
143367  f4ee5641ddf198c929348fe784d9528738dac90a  257334    0.7     0.018868
143368  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  257334    0.7     0.026316
143369  f6c73fa1bd41a039d7a0f437fb2daf0652f222b1  257334    0.7     0.005208
143370  ffc9639e31d4edee7f1f489137419d65ea15da5e  257334    0.7     0.200000
143371  ffc9639e31d4edee7f1f489137419d65ea15da5e  258793    0.7     0.200000

[143372 rows x 4 columns]

CLUSTER:  461

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
143521  f558e642d598c884fda9e781ced0214bf916f4f4  275790    0.7     0.010989
143522  fa85a9d47c9a74d66269c1bb663cefdb78385e63  275790    0.7     0.026667
143523  fa8ceb8679294ec3bb8c0cae1663992c94deffe4  275790    0.7     0.172414
143524  fa8ceb8679294ec3bb8c0cae1663992c94deffe4  275796    0.7     0.172414
143525  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  275790    0.7     0.036036

[143526 rows x 4 columns]

CLUSTER:  184

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
144115  ff1fa273502afe4fc172cb7cd2ab400cae4f0ff4  262852    0.7     0.500000
144116  ff1fa273502afe4fc172cb7cd2ab400cae4f0ff4  265957    0.7     0.500000
144117  ff1fa273502afe4fc172cb7cd2ab400cae4f0ff4  265961    0.7     0.500000
144118  ff8c7c63debe0277dcf283f80f22e3409af212f2  261553    0.7     0.153846
144119  ff8c7c63debe0277dcf283f80f22e3409af212f2  262852    0.7     0.153846

[144120 rows x 4 columns]

CLUSTER:  194

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
145480  feff49bab7e494985a76e292cb8617e1c4f71a36  258539    0.7     1.000000
145481  feff49bab7e494985a76e292cb8617e1c4f71a36  258540    0.7     1.000000
145482  ff508af0a589352e04d8bb11643008b5df2d6423  208301    0.7     0.032258
145483  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  208301    0.7     0.062500
145484  ff8164315c407f57567651c4d7d4b83f28a4c69b  208301    0.7     0.023952

[145485 rows x 4 columns]

CLUSTER:  301

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
147682  ff8c7c63debe0277dcf283f80f22e3409af212f2  255843    0.7     0.076923
147683  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255843    0.7     0.316981
147684  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  256411    0.7     0.316981
147685  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  256531    0.7     0.316981
147686  ffef3d7df73415910c342920b43799512dcb9ef5  255843    0.7     0.111111

[147687 rows x 4 columns]

CLUSTER:  304

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
148234  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  274493    0.7     0.010929
148235  fd2c6c6320332d6b2463429f488199d38dc72d13  274493    0.7     0.032258
148236  fdabf1f57d0d1f347282d13206986b99ea4c90cd  274493    0.7     0.166667
148237  fdabf1f57d0d1f347282d13206986b99ea4c90cd  285008    0.7     0.166667
148238  fec423cc257da88e874e90d12604249676e339e4  274493    0.7     0.133333

[148239 rows x 4 columns]

CLUSTER:  307

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
148830  feaf1269b7319434a2d2b525e6006529c5def2cb  258132    0.7     0.015152
148831  fefa453b4101d894073b31d4ed031f3cbfc2f939  258132    0.7     0.142857
148832  fefa453b4101d894073b31d4ed031f3cbfc2f939  282630    0.7     0.142857
148833  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  258132    0.7     0.062500
148834  ff508af0a589352e04d8bb11643008b5df2d6423  258132    0.7     0.032258

[148835 rows x 4 columns]

CLUSTER:  320

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
151396  feaf1269b7319434a2d2b525e6006529c5def2cb  211590    0.7     0.030303
151397  ff1c9148b686bfe19d232b4b13d72b72ca701c95  211590    0.7     0.014286
151398  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  211590    0.7     0.015094
151399  fff735f54719b720fc4c6c723208ad1f06e9605e  211590    0.7     0.163793
151400  fff735f54719b720fc4c6c723208ad1f06e9605e  258354    0.7     0.163793

[151401 rows x 4 columns]

CLUSTER:  321

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
152063  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  255816    0.7     0.021858
152064  fe17a7dd708da1029866ec52432518f34fae3522  255816    0.7     0.062500
152065  fe2c7ec8e3f94b6c08fce3592a8345ea0a262c78  255816    0.7     0.002110
152066  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  255816    0.7     0.166667
152067  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  257235    0.7     0.166667

[152068 rows x 4 columns]

CLUSTER:  322

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
152755  fd9cbbc9b896ea8446504fb166d759fed4201f6d  273228    0.7     0.235294
152756  fe045f566a51a0af398af0ba38893a9f07c14afe  258503    0.7     0.011527
152757  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  258503    0.7     0.041667
152758  ff15d268f28bd209506f3c931d281b6c8c42bead  258503    0.7     0.245455
152759  ff15d268f28bd209506f3c931d281b6c8c42bead  273228    0.7     0.245455

[152760 rows x 4 columns]

CLUSTER:  362

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
153420  fd19cb6950a62a534349f7a6e4acb72dc59fca62  212487    0.7     0.071429
153421  fe1569e4c93a3b8241c466b33f41556ab4631997  212487    0.7     0.066667
153422  fe90a4601a6d87fa5cea89893239648fbe4d0f8c  212487    0.7     0.074074
153423  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  212487    0.7     0.067925
153424  fff735f54719b720fc4c6c723208ad1f06e9605e  212487    0.7     0.008621

[153425 rows x 4 columns]

CLUSTER:  365

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
153537  fade07ac77a69ae9169ffb7622840ccc68840693  287520    0.7     0.500000
153538  fade07ac77a69ae9169ffb7622840ccc68840693  287524    0.7     0.500000
153539  faf2032d2e0931f3631d48195a4d9bef79d01e7a  287513    0.7     0.166667
153540  faf2032d2e0931f3631d48195a4d9bef79d01e7a  287517    0.7     0.166667
153541  fe963d67cba6fce2d09881e64e75a22ea8c2137e  287513    0.7     0.033333

[153542 rows x 4 columns]

CLUSTER:  379

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
153649  fb5266c714d5537ef9ec36c3522cef3e2c6f47ad  281042    0.7     0.500000
153650  fb5266c714d5537ef9ec36c3522cef3e2c6f47ad  281047    0.7     0.500000
153651  fb5266c714d5537ef9ec36c3522cef3e2c6f47ad  281054    0.7     0.500000
153652  fb5266c714d5537ef9ec36c3522cef3e2c6f47ad  281058    0.7     0.500000
153653  ff508af0a589352e04d8bb11643008b5df2d6423  281042    0.7     0.096774

[153654 rows x 4 columns]

CLUSTER:  860

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
154411  fd345b4d48d692ba4dee2d2d861c7842eab751ad  256359    0.7     0.466667
154412  fd345b4d48d692ba4dee2d2d861c7842eab751ad  257494    0.7     0.466667
154413  fd345b4d48d692ba4dee2d2d861c7842eab751ad  266203    0.7     0.466667
154414  fd345b4d48d692ba4dee2d2d861c7842eab751ad  272933    0.7     0.466667
154415  ff7adae511933c6abcc6f7b8173d73d1bd9d688f  256359    0.7     0.060241

[154416 rows x 4 columns]

CLUSTER:  864

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
155220  fefe0c50844f6fc390a2dad054ae4f69bf689447  255801    0.7     0.666667
155221  fefe0c50844f6fc390a2dad054ae4f69bf689447  255808    0.7     0.666667
155222  fefe0c50844f6fc390a2dad054ae4f69bf689447  257545    0.7     0.666667
155223  fefe0c50844f6fc390a2dad054ae4f69bf689447  258680    0.7     0.666667
155224  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  255696    0.7     0.003774

[155225 rows x 4 columns]

CLUSTER:  336

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
155561  f80661a795f9f5e73ce62a0ba790d1230a9a181c  267280    0.7     0.012158
155562  f82ce2f1186d2df522100e1a02681f6e6d9b5af5  267280    0.7     0.049383
155563  faeaae3c3ab1a1a7ee646370e13ff69d653d262d  267280    0.7     0.030303
155564  fc6c7ba95ebd4789fd0e9bd72d17fa3f09610695  267280    0.7     0.057143
155565  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  267280    0.7     0.062500

[155566 rows x 4 columns]

CLUSTER:  327

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
157059  feaf1269b7319434a2d2b525e6006529c5def2cb  257040    0.7     0.106061
157060  ff15d268f28bd209506f3c931d281b6c8c42bead  257040    0.7     0.136364
157061  ff21f204a3e3e275024c74c4b8102554131ca600  257040    0.7     0.127660
157062  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  257040    0.7     0.007547
157063  fff735f54719b720fc4c6c723208ad1f06e9605e  257040    0.7     0.008621

[157064 rows x 4 columns]

CLUSTER:  819

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
157285  fc70c04b70b4aa6c4114b03fb7f6a490af6b6b93  284047    0.7     0.011765
157286  fd5f587f0f9b42d4ba283b507129c9b59ae3928f  284047    0.7     0.333333
157287  fd5f587f0f9b42d4ba283b507129c9b59ae3928f  350257    0.7     0.333333
157288  fd5f587f0f9b42d4ba283b507129c9b59ae3928f  350311    0.7     0.333333
157289  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  284047    0.7     0.041667

[157290 rows x 4 columns]

CLUSTER:  621

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
159490  ff3c5480fef06940d521240a782a127ec994d9df  271934    0.7     0.500000
159491  ff3c5480fef06940d521240a782a127ec994d9df  277158    0.7     0.500000
159492  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  264988    0.7     0.333333
159493  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  268501    0.7     0.333333
159494  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  271934    0.7     0.333333

[159495 rows x 4 columns]

CLUSTER:  572

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
159940  fe17a7dd708da1029866ec52432518f34fae3522  256542    0.7     0.125000
159941  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  256542    0.7     0.007663
159942  fe8fb699e1e514f5a49383187e7c1267f6d648d2  256542    0.7     0.016393
159943  fe93d442b576ca5f3f6c354bbaa492499b1ae375  256542    0.7     0.010417
159944  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  256542    0.7     0.113208

[159945 rows x 4 columns]

CLUSTER:  833

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
160841  feaf1269b7319434a2d2b525e6006529c5def2cb  255921    0.7     0.015152
160842  ff29e537372aef3370837245a1f80ca929c8f5db  255921    0.7     0.013986
160843  ff57b158bb7324a7b04536e19b3da40c36d98194  255921    0.7     0.125000
160844  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  255921    0.7     0.037037
160845  ffefc26657096bc280e03a8663340d48ae0a460f  255921    0.7     0.008368

[160846 rows x 4 columns]

CLUSTER:  193

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
162614  ff2fb47c454f3c16685f060130aa8f6c1ed87385  255684    0.7     0.285714
162615  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  212924    0.7     0.038835
162616  ff8164315c407f57567651c4d7d4b83f28a4c69b  212924    0.7     0.047904
162617  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  212924    0.7     0.015094
162618  ffefc26657096bc280e03a8663340d48ae0a460f  212924    0.7     0.033473

[162619 rows x 4 columns]

CLUSTER:  509

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
162709  ef1a9b03a417859c5e29a36653c14786175d5db9  257022    0.7     0.166667
162710  ef822809c8c07cc9b848f43895f7627ec246022e  256887    0.7     0.025000
162711  f728441fce3d0a2c89799e13086d1a4907bb2845  256887    0.7     0.016949
162712  f7997db1bfc44a4ffe12146496940684265480ae  257016    0.7     0.045694
162713  fa24ef9ff8df29c608b7ad96e22d24dea5d8b10f  256887    0.7     0.010033

[162714 rows x 4 columns]

CLUSTER:  712

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
163071  f9a38abb83c884463b119c630a18110578540f28  276415    0.7     0.333333
163072  fc1b6977192ebf5961c26521398d97aeac83536c  276367    0.7     0.200000
163073  fc1b6977192ebf5961c26521398d97aeac83536c  276401    0.7     0.200000
163074  fcfdfed0e5f6dc22c6b324ab0e25590acdf7429b  276367    0.7     0.076923
163075  ff6d082c64341dda8deafe92b49259242fab86ff  276367    0.7     0.117647

[163076 rows x 4 columns]

CLUSTER:  589

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
163433  f6bd95547dbfa20c765abd2a4b638c86ef8bae66  272349    0.7     0.434783
163434  f6bd95547dbfa20c765abd2a4b638c86ef8bae66  272358    0.7     0.434783
163435  f6bd95547dbfa20c765abd2a4b638c86ef8bae66  272364    0.7     0.434783
163436  f87c307752dbf464ac7bedb995fd894f604b992c  267640    0.7     0.011976
163437  f88486694e4af15d1b2164f1551dc4251db2e98e  267640    0.7     0.111111

[163438 rows x 4 columns]

CLUSTER:  751

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
163643  f1ecbdbffa627ca6a2a33e1f702ad52d7ca67c0e  262588    0.7     0.004255
163644  f55561f6fa39fc95260400310f453cbdf33b93df  262588    0.7     0.006536
163645  f60024c27597c5f3f60db5dbf97caa000cbbcc42  262588    0.7     0.015152
163646  f80661a795f9f5e73ce62a0ba790d1230a9a181c  262588    0.7     0.027356
163647  f97837727b6e7ad3ab3f839c3a8301d83f05b0aa  262588    0.7     0.049383

[163648 rows x 4 columns]

CLUSTER:  192

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
163945  f8cb03a6663467465dd28d89e475f4497d2fed81  257326    0.7     0.070588
163946  fbc5b3182634e138af6eae07540046d8fbe1a0ec  257326    0.7     0.007005
163947  fc295580f35e4d348603543abc7e01d62e7046fd  257326    0.7     0.017316
163948  fe408396eb451a8fc4a412701ea1fa6d9951a3e9  257326    0.7     0.013158
163949  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  257326    0.7     0.020548

[163950 rows x 4 columns]

CLUSTER:  233

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
164097  f8864c532fb1433397c8515da7841b5a9702a80c  325571    0.7     0.160714
164098  f8864c532fb1433397c8515da7841b5a9702a80c  325635    0.7     0.160714
164099  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  325571    0.7     0.042553
164100  fe0b44b12572d11bd37cb3223032e43053f64149  325571    0.7     0.117647
164101  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  325571    0.7     0.006849

[164102 rows x 4 columns]

CLUSTER:  25

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
164633  fe7940f297a7a5e59cf537858901e37c08aea7fb  255793    0.7     0.142857
164634  fe7940f297a7a5e59cf537858901e37c08aea7fb  256458    0.7     0.142857
164635  fee6ae01d54d2dcfa882f209295064d7d63d17b5  255793    0.7     0.277778
164636  fee6ae01d54d2dcfa882f209295064d7d63d17b5  256458    0.7     0.277778
164637  ff05e71b488ced6f05de2fb66220693e5b93fbaa  255793    0.7     0.111111

[164638 rows x 4 columns]

CLUSTER:  201

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
164699  f25371ad6d66bba9545346c2a3a95c2a907b60d0  270208    0.7     0.333333
164700  f25371ad6d66bba9545346c2a3a95c2a907b60d0  270217    0.7     0.333333
164701  f25371ad6d66bba9545346c2a3a95c2a907b60d0  270219    0.7     0.333333
164702  f93c35771a377534d9052957f22b87ee2ce65dd7  270208    0.7     0.023810
164703  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  270208    0.7     0.017857

[164704 rows x 4 columns]

CLUSTER:  468

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
165429  febf731f9f1d9c6e09c2a91d664485ec793ad870  261943    0.7     0.214464
165430  febf731f9f1d9c6e09c2a91d664485ec793ad870  276144    0.7     0.214464
165431  ffa956d8158d97d351f8ee09c9f18aef5289aafb  261943    0.7     0.425532
165432  ffa956d8158d97d351f8ee09c9f18aef5289aafb  276144    0.7     0.425532
165433  ffa956d8158d97d351f8ee09c9f18aef5289aafb  276181    0.7     0.425532

[165434 rows x 4 columns]

CLUSTER:  615

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
166288  fc77a6895d0e68e05ae29324ae57839afc0fa996  263604    0.7     1.000000
166289  fd11317ba22402139d16fd42b62e2f3541592e40  259734    0.7     0.250000
166290  fd11317ba22402139d16fd42b62e2f3541592e40  263383    0.7     0.250000
166291  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  259734    0.7     0.032787
166292  ff699a47aa1377f2142133d65ea0595dc2228f7d  259734    0.7     0.083333

[166293 rows x 4 columns]

CLUSTER:  745

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
167763  fec27b88db22faea472916e5969397c3bef57f17  262063    0.7     0.666667
167764  fec27b88db22faea472916e5969397c3bef57f17  262071    0.7     0.666667
167765  fec27b88db22faea472916e5969397c3bef57f17  262100    0.7     0.666667
167766  ffa82c14824daa260c030d1a95ebafb5438b3e22  210127    0.7     0.285714
167767  ffa82c14824daa260c030d1a95ebafb5438b3e22  257427    0.7     0.285714

[167768 rows x 4 columns]

CLUSTER:  248

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
168024  fc4e88a0cc27e854e6b9fa3a2077d095eeff77bd  272740    0.7          1.0
168025  fc4e88a0cc27e854e6b9fa3a2077d095eeff77bd  272829    0.7          1.0
168026  fc4e88a0cc27e854e6b9fa3a2077d095eeff77bd  328431    0.7          1.0
168027  fc4e88a0cc27e854e6b9fa3a2077d095eeff77bd  328721    0.7          1.0
168028  fc4e88a0cc27e854e6b9fa3a2077d095eeff77bd  333182    0.7          1.0

[168029 rows x 4 columns]

CLUSTER:  261

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
168538  fde642e05c3c1c2e7b40aa1165d3556dd13c9c31  257284    0.7     0.034483
168539  fec423cc257da88e874e90d12604249676e339e4  257284    0.7     0.044444
168540  ff7e21770a973ffb525dc49cb0ee103d282a9f7d  257284    0.7     0.333333
168541  ff7e21770a973ffb525dc49cb0ee103d282a9f7d  273368    0.7     0.333333
168542  ff7e21770a973ffb525dc49cb0ee103d282a9f7d  273461    0.7     0.333333

[168543 rows x 4 columns]

CLUSTER:  262

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
168669  ec20036fab18c5cd3d4d63fd7fd30614206d2907  273987    0.7     0.014493
168670  f5eb2e54d2163873aacf27a43db86b3a0cc3edf2  273987    0.7     0.001637
168671  f78238b670c5305b5028803c6004025e72b0546e  273987    0.7     0.011765
168672  f7997db1bfc44a4ffe12146496940684265480ae  273987    0.7     0.014060
168673  fbdd00c2bd40de8790f065d5cd0d7dd5127dbec1  273987    0.7     0.037736

[168674 rows x 4 columns]

CLUSTER:  268

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
168704  daa762219f599f6b33fec01dccb9c806a54fc759  271892    0.7     0.014388
168705  daab3322d226e0885daf9ef8a521a53ccc21c2d7  271892    0.7     0.003155
168706  f3b3c78220b9e344e61f038d97a622ebf0eb8d70  271892    0.7     0.015873
168707  f54d09ca9973519e55d975a2ef85414267b08725  271892    0.7     0.066667
168708  f5eb2e54d2163873aacf27a43db86b3a0cc3edf2  271892    0.7     0.003273

[168709 rows x 4 columns]

CLUSTER:  341

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
169792  fe80c862262909c1a16e518cc3973900db5ef4f8  286460    0.7     1.000000
169793  fe80c862262909c1a16e518cc3973900db5ef4f8  304589    0.7     1.000000
169794  fe920d969904452de9905600d516deef04422548  260672    0.7     0.080000
169795  fe93d442b576ca5f3f6c354bbaa492499b1ae375  260672    0.7     0.010417
169796  fff735f54719b720fc4c6c723208ad1f06e9605e  260672    0.7     0.008621

[169797 rows x 4 columns]

CLUSTER:  793

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
169895  f421395ad380d1aa1212a6c5e7e9990f5364392c  533645    0.7     0.833333
169896  f421395ad380d1aa1212a6c5e7e9990f5364392c  543373    0.7     0.833333
169897  f421395ad380d1aa1212a6c5e7e9990f5364392c  638757    0.7     0.833333
169898  f4e7829efb1cd0db452a2a076b95cf42f0af46db  256764    0.7     0.084034
169899  ff3133b4f4366d2c452c001a8e04359de252fd06  256764    0.7     0.062500

[169900 rows x 4 columns]

CLUSTER:  282

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
169969  e80f443f834b051f9c6ec947ad70c2c5648d6250  277557    0.7     0.005780
169970  eeddcd5993e45fe403299ac7c5a25259f74f6f82  277557    0.7     0.018634
169971  f3ebfcefd164640dc1a19fb7029b34abd40bfaec  277557    0.7     0.250000
169972  f3ebfcefd164640dc1a19fb7029b34abd40bfaec  309047    0.7     0.250000
169973  f428faf8fa07de334478d3b6dce61feb08708b83  277557    0.7     0.045455

[169974 rows x 4 columns]

CLUSTER:  324

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
170546  fe4b9819211f375cdbfa14e509c022e1e1d76df6  257238    0.7     0.333333
170547  fe4b9819211f375cdbfa14e509c022e1e1d76df6  258180    0.7     0.333333
170548  fe4b9819211f375cdbfa14e509c022e1e1d76df6  282639    0.7     0.333333
170549  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  257238    0.7     0.083333
170550  fff735f54719b720fc4c6c723208ad1f06e9605e  257238    0.7     0.034483

[170551 rows x 4 columns]

CLUSTER:  627

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
170702  dc6c67ee19bd099a7f122b38b1feee7318b0aa96  292239    0.7     1.000000
170703  dc6c67ee19bd099a7f122b38b1feee7318b0aa96  292273    0.7     1.000000
170704  df57f1f301b44f9605dda2dcac4ab0a3a2b147d9  292123    0.7     0.023077
170705  f39b25a5e2a7c19df2dac1510f4b74adf2d536b9  292123    0.7     0.083333
170706  f7313ff7e23ea81d273a2eb720edeb518f90bf13  292123    0.7     0.059701

[170707 rows x 4 columns]

CLUSTER:  215

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
170750  f48ad36471a254f11c90a2246f82d5d61668cb96  270483    0.7     0.500000
170751  f48ad36471a254f11c90a2246f82d5d61668cb96  270511    0.7     0.500000
170752  f48ad36471a254f11c90a2246f82d5d61668cb96  270537    0.7     0.500000
170753  f48ad36471a254f11c90a2246f82d5d61668cb96  327824    0.7     0.500000
170754  f4fc3d006073fdc014dbafa4865f4d1a256956c6  270483    0.7     0.019417

[170755 rows x 4 columns]

CLUSTER:  516

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
171004  fe7aae0c2bca11bde1d3d6536620314302151438  258572    0.7     0.692308
171005  fe7aae0c2bca11bde1d3d6536620314302151438  258592    0.7     0.692308
171006  fe7aae0c2bca11bde1d3d6536620314302151438  258958    0.7     0.692308
171007  fe7aae0c2bca11bde1d3d6536620314302151438  262675    0.7     0.692308
171008  fe7aae0c2bca11bde1d3d6536620314302151438  262686    0.7     0.692308

[171009 rows x 4 columns]

CLUSTER:  517

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
172312  ff4c973f5c81baffa8d55049e00e117f0dc22782  258598    0.7     0.333333
172313  ff4c973f5c81baffa8d55049e00e117f0dc22782  258600    0.7     0.333333
172314  ff4c973f5c81baffa8d55049e00e117f0dc22782  258609    0.7     0.333333
172315  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  258598    0.7     0.048544
172316  ff8164315c407f57567651c4d7d4b83f28a4c69b  258598    0.7     0.023952

[172317 rows x 4 columns]

CLUSTER:  612

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
174940  fe90d54976fff5379d0a9676ceea203c8092bae1  257239    0.7     0.210526
174941  fe963d67cba6fce2d09881e64e75a22ea8c2137e  255852    0.7     0.033333
174942  ff5d4e317a2bec72f4ef7316c1493cdd87d19e58  255852    0.7     0.125000
174943  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  255852    0.7     0.062500
174944  ff8164315c407f57567651c4d7d4b83f28a4c69b  255852    0.7     0.011976

[174945 rows x 4 columns]

CLUSTER:  883

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
175144  fdb48f5653bceb74256f6d5ea1808f2cc2532237  320085    0.7     1.000000
175145  fdb48f5653bceb74256f6d5ea1808f2cc2532237  328749    0.7     1.000000
175146  fdb48f5653bceb74256f6d5ea1808f2cc2532237  328752    0.7     1.000000
175147  fdb48f5653bceb74256f6d5ea1808f2cc2532237  328762    0.7     1.000000
175148  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  309818    0.7     0.066667

[175149 rows x 4 columns]

CLUSTER:  70

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
176438  fe1569e4c93a3b8241c466b33f41556ab4631997  257164    0.7     0.150000
176439  fe1569e4c93a3b8241c466b33f41556ab4631997  257167    0.7     0.150000
176440  fe1b823cf30c0868fb57869751be5885c8d18cd1  257164    0.7     0.030303
176441  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257164    0.7     0.148148
176442  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257167    0.7     0.148148

[176443 rows x 4 columns]

CLUSTER:  809

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
177088  fda3c21c229c35690efb887a2f24b8769151a57d  270174    0.7     0.500000
177089  fda3c21c229c35690efb887a2f24b8769151a57d  271406    0.7     0.500000
177090  fda3c21c229c35690efb887a2f24b8769151a57d  278232    0.7     0.500000
177091  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  255783    0.7     0.013699
177092  feaf1269b7319434a2d2b525e6006529c5def2cb  255783    0.7     0.015152

[177093 rows x 4 columns]

CLUSTER:  519

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
178836  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  258408    0.7     0.666667
178837  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  258846    0.7     0.666667
178838  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  258851    0.7     0.666667
178839  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  258853    0.7     0.666667
178840  ffe0c5c9f64254f3cb1bb8f486e272d7ef8634f9  258857    0.7     0.666667

[178841 rows x 4 columns]

CLUSTER:  610

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
180267  fddd5cc7cf0612421e083483a715dc153bda7ebb  259231    0.7     0.969697
180268  fddd5cc7cf0612421e083483a715dc153bda7ebb  259319    0.7     0.969697
180269  fddd5cc7cf0612421e083483a715dc153bda7ebb  259355    0.7     0.969697
180270  fdec51dc149b0a5c7f84d523409123c0763861cb  255735    0.7     0.009174
180271  fff735f54719b720fc4c6c723208ad1f06e9605e  255735    0.7     0.068966

[180272 rows x 4 columns]

CLUSTER:  927

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
180738  fb2e6d195d6cc7b03720414222b0c7d225168096  255597    0.7     0.071429
180739  fba0ce17dc29938c7bdae65ca5b120060d341d82  255597    0.7     0.009615
180740  fbc5b3182634e138af6eae07540046d8fbe1a0ec  255597    0.7     0.080560
180741  fc80af70350ac198cd3db68104e3962639049d13  255597    0.7     0.061224
180742  fdf277193d5d66aebcdf98bbb4869c73e72bcf4a  255597    0.7     0.050000

[180743 rows x 4 columns]

CLUSTER:  539

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
180812  e35f0c37d205e9fc92c9c473b4359ade50f1e4b5  256782    0.7     0.166667
180813  e35f0c37d205e9fc92c9c473b4359ade50f1e4b5  256848    0.7     0.166667
180814  eae5acb68a2e898b41302847d7c43a77c31a123a  256782    0.7     0.146341
180815  eae5acb68a2e898b41302847d7c43a77c31a123a  256848    0.7     0.146341
180816  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  256782    0.7     0.008929

[180817 rows x 4 columns]

CLUSTER:  918

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
181172  f77c3aa83ef95d91fa693bf5d3b8b4daf9308a78  289424    0.7     1.000000
181173  f77c3aa83ef95d91fa693bf5d3b8b4daf9308a78  294915    0.7     1.000000
181174  fa8ceb8679294ec3bb8c0cae1663992c94deffe4  257159    0.7     0.068966
181175  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  257159    0.7     0.013699
181176  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  257159    0.7     0.033333

[181177 rows x 4 columns]

CLUSTER:  614

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
182101  fd485aa26a717b3ed9b23b6356c173288858ca7d  258630    0.7     0.250000
182102  fd485aa26a717b3ed9b23b6356c173288858ca7d  261434    0.7     0.250000
182103  fe93d442b576ca5f3f6c354bbaa492499b1ae375  258630    0.7     0.020833
182104  ff1c9148b686bfe19d232b4b13d72b72ca701c95  258630    0.7     0.028571
182105  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  258630    0.7     0.062500

[182106 rows x 4 columns]

CLUSTER:  954

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
182158  b6eb19e7366e958991d33349543e03bcf483c11a  641294    0.7     0.300000
182159  cde9609a39b7f8010fc92c9f9c124be99ebd06a0  271304    0.7     0.006957
182160  d29c2e5c3e2df29a13cde1da97c8feb14aef02cb  271304    0.7     0.031153
182161  e88500fb33f679b673f7e9c7e85480d281575c35  271304    0.7     0.088889
182162  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  271304    0.7     0.067925

[182163 rows x 4 columns]

CLUSTER:  801

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
182623  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  255898    0.7     0.021858
182624  fd5e1768a0d40482338d217859af33ef67df9578  255898    0.7     0.021505
182625  fe80fcdd52be0cf85d28c0e597401d25155753eb  255898    0.7     0.333333
182626  fe80fcdd52be0cf85d28c0e597401d25155753eb  268115    0.7     0.333333
182627  fe80fcdd52be0cf85d28c0e597401d25155753eb  273048    0.7     0.333333

[182628 rows x 4 columns]

CLUSTER:  821

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
183002  fb137b81722a6c011b334e1ffacdb915eda83d2c  277295    0.7     0.666667
183003  fb137b81722a6c011b334e1ffacdb915eda83d2c  277308    0.7     0.666667
183004  fb137b81722a6c011b334e1ffacdb915eda83d2c  277314    0.7     0.666667
183005  fb137b81722a6c011b334e1ffacdb915eda83d2c  277318    0.7     0.666667
183006  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  259530    0.7     0.007663

[183007 rows x 4 columns]

CLUSTER:  861

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
184363  ffb9fceb075325f87155b1b02c492a6127de2328  258902    0.7          1.0
184364  ffb9fceb075325f87155b1b02c492a6127de2328  265869    0.7          1.0
184365  ffb9fceb075325f87155b1b02c492a6127de2328  265882    0.7          1.0
184366  ffb9fceb075325f87155b1b02c492a6127de2328  266843    0.7          1.0
184367  ffb9fceb075325f87155b1b02c492a6127de2328  267212    0.7          1.0

[184368 rows x 4 columns]

CLUSTER:  928

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
185117  fcc6fd1f8302167ae9e3d2c40f2ba692c0bf5455  255620    0.7     0.133333
185118  fdf277193d5d66aebcdf98bbb4869c73e72bcf4a  255620    0.7     0.050000
185119  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  255620    0.7     0.013699
185120  feaf1269b7319434a2d2b525e6006529c5def2cb  255620    0.7     0.015152
185121  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  255620    0.7     0.041096

[185122 rows x 4 columns]

CLUSTER:  620

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
187403  ff8164315c407f57567651c4d7d4b83f28a4c69b  255862    0.7     0.083832
187404  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  255862    0.7     0.500000
187405  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  257225    0.7     0.500000
187406  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  259040    0.7     0.500000
187407  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  260849    0.7     0.500000

[187408 rows x 4 columns]

CLUSTER:  465

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
187644  fa3161260f2d55271807435c3c76038820df4cfa  275893    0.7     0.500000
187645  fa3161260f2d55271807435c3c76038820df4cfa  275900    0.7     0.500000
187646  fad7dca142b3718a4235b6727d44b4179bddee5c  256886    0.7     0.072727
187647  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  256886    0.7     0.054054
187648  ffa956d8158d97d351f8ee09c9f18aef5289aafb  256886    0.7     0.028369

[187649 rows x 4 columns]

CLUSTER:  839

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
188070  f93c35771a377534d9052957f22b87ee2ce65dd7  278536    0.7     0.142857
188071  fc70c04b70b4aa6c4114b03fb7f6a490af6b6b93  261585    0.7     0.011765
188072  fe045f566a51a0af398af0ba38893a9f07c14afe  261585    0.7     0.014409
188073  ff57b158bb7324a7b04536e19b3da40c36d98194  261585    0.7     0.250000
188074  ff57b158bb7324a7b04536e19b3da40c36d98194  278536    0.7     0.250000

[188075 rows x 4 columns]

CLUSTER:  849

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
188137  f183ec9b008a550d44a43e752c8bbac83edd2e07  607801    0.7     0.018382
188138  f26781613c8ad19d5f29b7857232df737649bfbc  607801    0.7     0.029412
188139  f650bde1c4a329826159054a2714a3d15ec88765  607801    0.7     0.071429
188140  fbf35ae5f81d68c465462bc6d7d6c7efb6118a4c  607801    0.7     0.025157
188141  fcfdf65e8a2ad4386406179a4966e763199e0987  607801    0.7     0.090909

[188142 rows x 4 columns]

CLUSTER:  851

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
188364  f6c73fa1bd41a039d7a0f437fb2daf0652f222b1  278920    0.7     0.010417
188365  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  278920    0.7     0.108108
188366  fd1c2ccee95c13a315b6156abad4175c713593e5  278920    0.7     0.272727
188367  fd1c2ccee95c13a315b6156abad4175c713593e5  278935    0.7     0.272727
188368  fe1569e4c93a3b8241c466b33f41556ab4631997  278920    0.7     0.033333

[188369 rows x 4 columns]

CLUSTER:  853

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
188892  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  261523    0.7     0.166667
188893  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  278963    0.7     0.166667
188894  ff05e71b488ced6f05de2fb66220693e5b93fbaa  261523    0.7     0.222222
188895  ff05e71b488ced6f05de2fb66220693e5b93fbaa  278963    0.7     0.222222
188896  ff8164315c407f57567651c4d7d4b83f28a4c69b  261523    0.7     0.011976

[188897 rows x 4 columns]

CLUSTER:  107

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
188992  e5b9413d14225bafcd2b637fd5a43aa661324eba  320362    0.7     0.666667
188993  e5b9413d14225bafcd2b637fd5a43aa661324eba  320364    0.7     0.666667
188994  e9127b0373daf8aa28a00d2a6db073f44362446d  255943    0.7     0.010000
188995  e9d71f1da12d7b09d17f790549a98facbf2a25d4  255943    0.7     0.034483
188996  f7313ff7e23ea81d273a2eb720edeb518f90bf13  255943    0.7     0.007463

[188997 rows x 4 columns]

CLUSTER:  109

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
189134  f1604e958847640c40e4de0e4b2ed19fd297374f  255919    0.7     0.045977
189135  f2f2a012f451f25592a978b42ca8db9184853634  255919    0.7     0.034483
189136  f945dc2821ad3d31bad1e083090863308dabc3f3  255919    0.7     0.080645
189137  fed86974c1b264f8d7b6e36200c7ad5ca8ef5a90  255919    0.7     0.051613
189138  ffefc26657096bc280e03a8663340d48ae0a460f  255919    0.7     0.016736

[189139 rows x 4 columns]

CLUSTER:  121

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
189503  fb8e1e8e43d66cb9d7b8dafd932a4b8a3b83c954  256087    0.7     0.309446
189504  fb8e1e8e43d66cb9d7b8dafd932a4b8a3b83c954  256091    0.7     0.309446
189505  fcdd027b9203a14c89bfc49c5bcf8ff980857808  256086    0.7     0.023438
189506  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  256086    0.7     0.004464
189507  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  256086    0.7     0.011494

[189508 rows x 4 columns]

CLUSTER:  128

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
190074  f9a82f16645978d8b8579c1d231f45d0a33e82fa  255815    0.7     0.235294
190075  f9a82f16645978d8b8579c1d231f45d0a33e82fa  256234    0.7     0.235294
190076  fab545bda7804c4e635b59b66cda77456ebf6c4c  255815    0.7     0.099174
190077  fe12bca2041e137d27b43cd6eb95b182e474e3fb  255815    0.7     0.190476
190078  fe12bca2041e137d27b43cd6eb95b182e474e3fb  256234    0.7     0.190476

[190079 rows x 4 columns]

CLUSTER:  157

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
190512  fd01074f428a9f6247123515777d2f41cafd051f  256548    0.7     0.500000
190513  fd01074f428a9f6247123515777d2f41cafd051f  258020    0.7     0.500000
190514  fd01074f428a9f6247123515777d2f41cafd051f  258035    0.7     0.500000
190515  fd35375b3183c02f96f606c0d1bfa0e350ace0f2  255873    0.7     0.285714
190516  fd35375b3183c02f96f606c0d1bfa0e350ace0f2  256548    0.7     0.285714

[190517 rows x 4 columns]

CLUSTER:  199

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
190788  fb160668e01b1aaa3e4d09be0254dbf8d0943cee  258640    0.7     0.428571
190789  fb160668e01b1aaa3e4d09be0254dbf8d0943cee  265126    0.7     0.428571
190790  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  258626    0.7     0.013423
190791  fe963d67cba6fce2d09881e64e75a22ea8c2137e  258626    0.7     0.025000
190792  ff21f204a3e3e275024c74c4b8102554131ca600  258626    0.7     0.042553

[190793 rows x 4 columns]

CLUSTER:  200

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
190895  fbdd00c2bd40de8790f065d5cd0d7dd5127dbec1  270196    0.7     0.037736
190896  fcbb2b28a67d4d54bef2b4d0142643c23240fcb4  270196    0.7     0.025316
190897  fde642e05c3c1c2e7b40aa1165d3556dd13c9c31  270196    0.7     0.206897
190898  fde642e05c3c1c2e7b40aa1165d3556dd13c9c31  284450    0.7     0.206897
190899  fe2fe6335af31d61823849bb39814079b39cbcb6  270196    0.7     0.133333

[190900 rows x 4 columns]

CLUSTER:  209

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7         1.00
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7         1.00
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7         1.00
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7         1.00
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7         1.00
...                                          ...     ...    ...          ...
190927  c549d1c15c294a557ae14b01b8c90ac24363f555  318644    0.7         0.50
190928  c549d1c15c294a557ae14b01b8c90ac24363f555  349598    0.7         0.50
190929  c549d1c15c294a557ae14b01b8c90ac24363f555  527961    0.7         0.50
190930  f6a96f584794988bba3b6f4c685e9d3669d308d8  270308    0.7         0.25
190931  f6a96f584794988bba3b6f4c685e9d3669d308d8  349598    0.7         0.25

[190932 rows x 4 columns]

CLUSTER:  625

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
191427  fc0e0a4142a95609d35889d09e8493c5447ca152  290831    0.7     1.000000
191428  fc0e0a4142a95609d35889d09e8493c5447ca152  291989    0.7     1.000000
191429  fe50ebc26954c1b7a61fd4d26c9afe3e879d51a3  207799    0.7     0.333333
191430  fe50ebc26954c1b7a61fd4d26c9afe3e879d51a3  208099    0.7     0.333333
191431  fe50ebc26954c1b7a61fd4d26c9afe3e879d51a3  269136    0.7     0.333333

[191432 rows x 4 columns]

CLUSTER:  791

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
192929  ff15d268f28bd209506f3c931d281b6c8c42bead  211913    0.7     0.009091
192930  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  211913    0.7     0.033333
192931  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  211913    0.7     0.082192
192932  ffc9639e31d4edee7f1f489137419d65ea15da5e  211913    0.7     0.200000
192933  ffc9639e31d4edee7f1f489137419d65ea15da5e  248238    0.7     0.200000

[192934 rows x 4 columns]

CLUSTER:  901

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
193279  fd1e15446cdd0fd54689766d6497aed4679607de  256073    0.7     0.333333
193280  fd1e15446cdd0fd54689766d6497aed4679607de  273631    0.7     0.333333
193281  fd1e15446cdd0fd54689766d6497aed4679607de  282649    0.7     0.333333
193282  fd7322fb943763b0e55f93872cd236cbfe93a0f3  256073    0.7     0.042553
193283  fe2c7ec8e3f94b6c08fce3592a8345ea0a262c78  256073    0.7     0.006329

[193284 rows x 4 columns]

CLUSTER:  920

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
193683  fa8ceb8679294ec3bb8c0cae1663992c94deffe4  266408    0.7     0.137931
193684  fbc5b3182634e138af6eae07540046d8fbe1a0ec  266408    0.7     0.012259
193685  fbe9ab23c2ce8e83edce22e2032cfdab13aea8ce  266408    0.7     0.057143
193686  fc9133b088c6bf10a080b06b70cabb94171d3beb  266408    0.7     0.244898
193687  fc9133b088c6bf10a080b06b70cabb94171d3beb  274824    0.7     0.244898

[193688 rows x 4 columns]

CLUSTER:  923

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
194696  fe1569e4c93a3b8241c466b33f41556ab4631997  255598    0.7     0.016667
194697  ff0faaa84071ddd01322d409dd4dbc1d0c27b2b5  255598    0.7     0.250000
194698  ff0faaa84071ddd01322d409dd4dbc1d0c27b2b5  255601    0.7     0.250000
194699  ff1c9148b686bfe19d232b4b13d72b72ca701c95  255598    0.7     0.057143
194700  ff29e537372aef3370837245a1f80ca929c8f5db  255598    0.7     0.055944

[194701 rows x 4 columns]

CLUSTER:  930

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
194792  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  283390    0.7     0.017544
194793  f8740aae607246e1398a8b2394d1f0e127d72a83  283390    0.7     0.015625
194794  f945dc2821ad3d31bad1e083090863308dabc3f3  283390    0.7     0.161290
194795  f945dc2821ad3d31bad1e083090863308dabc3f3  289537    0.7     0.161290
194796  fc047cbfad1c037438e15f7baaa6b755bfd091d4  283390    0.7     0.075000

[194797 rows x 4 columns]

CLUSTER:  540

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
195240  fe3b9912f20acca7c9ce23ff3bdb3792852289f7  256759    0.7     0.500000
195241  fe3b9912f20acca7c9ce23ff3bdb3792852289f7  260792    0.7     0.500000
195242  fe3b9912f20acca7c9ce23ff3bdb3792852289f7  260814    0.7     0.500000
195243  fe3b9912f20acca7c9ce23ff3bdb3792852289f7  260817    0.7     0.500000
195244  ff8164315c407f57567651c4d7d4b83f28a4c69b  256759    0.7     0.011976

[195245 rows x 4 columns]

CLUSTER:  131

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
196584  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  255658    0.7     0.041667
196585  ff305bf64c9f63ecb5e72567c9b992875f8e083d  255658    0.7     0.400000
196586  ff305bf64c9f63ecb5e72567c9b992875f8e083d  255663    0.7     0.400000
196587  ff305bf64c9f63ecb5e72567c9b992875f8e083d  255705    0.7     0.400000
196588  ffefc26657096bc280e03a8663340d48ae0a460f  255658    0.7     0.016736

[196589 rows x 4 columns]

CLUSTER:  185

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
197138  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  264336    0.7     0.047945
197139  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  264336    0.7     0.020833
197140  ff1c9148b686bfe19d232b4b13d72b72ca701c95  264336    0.7     0.028571
197141  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  264336    0.7     0.006849
197142  ff8c7c63debe0277dcf283f80f22e3409af212f2  264336    0.7     0.076923

[197143 rows x 4 columns]

CLUSTER:  232

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
197411  f57df7c9c84f3eb0748c803391b810ffcdee0a1a  309789    0.7     0.333333
197412  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  271038    0.7     0.170213
197413  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  271059    0.7     0.170213
197414  fa4eb842d88d613e9919314df5f74162e369100d  271038    0.7     0.082353
197415  ff21f204a3e3e275024c74c4b8102554131ca600  271038    0.7     0.042553

[197416 rows x 4 columns]

CLUSTER:  255

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
197459  e8be683e9825fd8c377e545e29c6a6fb123a8029  208921    0.7     0.040000
197460  ed38aae092a022a7f184d55b18e8d34e1ce4131f  208921    0.7     0.289855
197461  ed38aae092a022a7f184d55b18e8d34e1ce4131f  278585    0.7     0.289855
197462  ed38aae092a022a7f184d55b18e8d34e1ce4131f  321432    0.7     0.289855
197463  f1c99b961a2aa30b97cdd22965916f616816b759  208921    0.7     0.090909

[197464 rows x 4 columns]

CLUSTER:  501

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
197741  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  257018    0.7     0.008929
197742  ffebbc4d31d01f611848b0d608480608228fa110  257018    0.7     0.333333
197743  ffebbc4d31d01f611848b0d608480608228fa110  276993    0.7     0.333333
197744  ffebbc4d31d01f611848b0d608480608228fa110  278444    0.7     0.333333
197745  ffefc26657096bc280e03a8663340d48ae0a460f  257018    0.7     0.033473

[197746 rows x 4 columns]

CLUSTER:  895

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
198664  fe8fb699e1e514f5a49383187e7c1267f6d648d2  282815    0.7     0.016393
198665  fe963d67cba6fce2d09881e64e75a22ea8c2137e  282815    0.7     0.016667
198666  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  282815    0.7     0.033333
198667  ffc9639e31d4edee7f1f489137419d65ea15da5e  282815    0.7     0.200000
198668  ffc9639e31d4edee7f1f489137419d65ea15da5e  311344    0.7     0.200000

[198669 rows x 4 columns]

CLUSTER:  955

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
198673  c7df2101ccd676b1b9c176c2bfe79efdbb7b853f  538342    0.7     0.019324
198674  e4e7fc85f2cacae333bee95e7291f13b2bdcd442  538342    0.7     0.142857
198675  e4e7fc85f2cacae333bee95e7291f13b2bdcd442  870058    0.7     0.142857
198676  efe602f759ad0f0ad99ae0f7a7ee80923effe32b  538342    0.7     0.500000
198677  efe602f759ad0f0ad99ae0f7a7ee80923effe32b  870058    0.7     0.500000

[198678 rows x 4 columns]

CLUSTER:  956

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
198891  f8e96198e47bf96862bd81448831efbb391acab7  271339    0.7     0.333333
198892  f8e96198e47bf96862bd81448831efbb391acab7  271346    0.7     0.333333
198893  fa18f0ebf36d5102657beb1a70aecf688c768728  271335    0.7     0.045455
198894  ffc9639e31d4edee7f1f489137419d65ea15da5e  271335    0.7     0.200000
198895  ffc9639e31d4edee7f1f489137419d65ea15da5e  271339    0.7     0.200000

[198896 rows x 4 columns]

CLUSTER:  922

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
199118  f5d59c3a2f0e8f1dcb796955c35e9944a8b426de  255947    0.7     0.009009
199119  f60024c27597c5f3f60db5dbf97caa000cbbcc42  255947    0.7     0.015152
199120  f78238b670c5305b5028803c6004025e72b0546e  255947    0.7     0.035294
199121  f7bcdfd1fb1ff4f7c17169bd12f731b107ac17ed  255947    0.7     0.052288
199122  fbdd00c2bd40de8790f065d5cd0d7dd5127dbec1  255947    0.7     0.075472

[199123 rows x 4 columns]

CLUSTER:  867

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
199201  ec9750b95de680b1a9af3598c9dc24e4d66f61a4  279900    0.7     0.008499
199202  ef47e81df28e55b0df41c52143b18ca9e955f0b6  279900    0.7     0.034483
199203  f183ec9b008a550d44a43e752c8bbac83edd2e07  279900    0.7     0.011029
199204  f21dc202f265ae676cc60960d4baa0ae5d1249cb  279900    0.7     0.052632
199205  f26781613c8ad19d5f29b7857232df737649bfbc  279900    0.7     0.058824

[199206 rows x 4 columns]

CLUSTER:  371

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
200539  fdf9cc3e2af1ab8f17f47ba6f350a029169c6c40  260381    0.7     0.285714
200540  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  255769    0.7     0.078125
200541  febf731f9f1d9c6e09c2a91d664485ec793ad870  255769    0.7     0.072319
200542  ffa956d8158d97d351f8ee09c9f18aef5289aafb  255769    0.7     0.070922
200543  ffb7f8052ac61290650aebc539a9d376b33cf0de  255769    0.7     0.050000

[200544 rows x 4 columns]

CLUSTER:  704

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
200930  fba0ce17dc29938c7bdae65ca5b120060d341d82  258747    0.7     0.019231
200931  fbca663c568e1af678e2b2e89430ecefb5a3beb1  258747    0.7     0.050000
200932  fcdd027b9203a14c89bfc49c5bcf8ff980857808  258747    0.7     0.023438
200933  fe4f40ab8f76da7adee201dd58ee25366da71435  258747    0.7     0.037037
200934  fe8fb699e1e514f5a49383187e7c1267f6d648d2  258747    0.7     0.049180

[200935 rows x 4 columns]

CLUSTER:  779

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
201050  f977c8abcdd3050a5f1010e6a13d3c952ed09a23  267235    0.7     0.181818
201051  f977c8abcdd3050a5f1010e6a13d3c952ed09a23  267704    0.7     0.181818
201052  faeaae3c3ab1a1a7ee646370e13ff69d653d262d  267235    0.7     0.098485
201053  fefa453b4101d894073b31d4ed031f3cbfc2f939  267235    0.7     0.285714
201054  fefa453b4101d894073b31d4ed031f3cbfc2f939  267704    0.7     0.285714

[201055 rows x 4 columns]

CLUSTER:  3

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
201260  f74202b0a6c6046a9cd937ac2df1b48a15774c8f  263400    0.7     0.071429
201261  f869dbb065ad6a25f127bc8942c3de8671f18ca8  263400    0.7     0.190476
201262  f869dbb065ad6a25f127bc8942c3de8671f18ca8  282098    0.7     0.190476
201263  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  263400    0.7     0.034247
201264  ffefc26657096bc280e03a8663340d48ae0a460f  263400    0.7     0.075314

[201265 rows x 4 columns]

CLUSTER:  20

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
201393  fd19cb6950a62a534349f7a6e4acb72dc59fca62  308856    0.7     0.238095
201394  fdc800a601eb9b5b7720880be7d944328bf1ba2e  308856    0.7     0.250000
201395  fdc800a601eb9b5b7720880be7d944328bf1ba2e  308967    0.7     0.250000
201396  fe90d54976fff5379d0a9676ceea203c8092bae1  256396    0.7     0.052632
201397  fee6ae01d54d2dcfa882f209295064d7d63d17b5  256396    0.7     0.055556

[201398 rows x 4 columns]

CLUSTER:  796

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
201784  fec43eb547d813846008cb73c9aab1b4acaadb0e  311014    0.7     1.000000
201785  fee6ae01d54d2dcfa882f209295064d7d63d17b5  255805    0.7     0.055556
201786  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  255805    0.7     0.333333
201787  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  294858    0.7     0.333333
201788  ff51a4aa843bc17ec63ebeacec0514ead352a6bf  294859    0.7     0.333333

[201789 rows x 4 columns]

CLUSTER:  441

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
201872  e7f183bf2980c146fb1729f22c66993a5504dba3  353025    0.7     0.125000
201873  ef932e44a3e9da1d01f9c54424dcd66321f61676  353025    0.7     0.067797
201874  f0b9e7fb0cb745f80a848acb2349e827935c32ce  353025    0.7     0.033493
201875  f1514a70fbcb525c136d297c4aaec3d551df1978  353025    0.7     0.130435
201876  f16ec33cddee901ebe367ca941f31921ec340d94  353025    0.7     0.017241

[201877 rows x 4 columns]

CLUSTER:  711

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
203738  fefa453b4101d894073b31d4ed031f3cbfc2f939  256164    0.7     0.285714
203739  fefa453b4101d894073b31d4ed031f3cbfc2f939  258146    0.7     0.285714
203740  ff6d082c64341dda8deafe92b49259242fab86ff  256164    0.7     0.352941
203741  ff6d082c64341dda8deafe92b49259242fab86ff  258146    0.7     0.352941
203742  ff6d082c64341dda8deafe92b49259242fab86ff  258166    0.7     0.352941

[203743 rows x 4 columns]

CLUSTER:  187

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
203780  dfa95c76f8fa1938840cd16498c4b0e6ca53e716  321484    0.7     0.375000
203781  dfa95c76f8fa1938840cd16498c4b0e6ca53e716  340923    0.7     0.375000
203782  f1604e958847640c40e4de0e4b2ed19fd297374f  266116    0.7     0.045977
203783  fb542a12b1af50202070881929396087c9843ff7  266116    0.7     0.181818
203784  fb542a12b1af50202070881929396087c9843ff7  284682    0.7     0.181818

[203785 rows x 4 columns]

CLUSTER:  368

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
203974  fd303f960840afc37ee0c68ef77f0e7539ecdee8  270664    0.7     0.666667
203975  fd303f960840afc37ee0c68ef77f0e7539ecdee8  287537    0.7     0.666667
203976  fd303f960840afc37ee0c68ef77f0e7539ecdee8  287542    0.7     0.666667
203977  fd303f960840afc37ee0c68ef77f0e7539ecdee8  287546    0.7     0.666667
203978  fd303f960840afc37ee0c68ef77f0e7539ecdee8  310574    0.7     0.666667

[203979 rows x 4 columns]

CLUSTER:  597

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7       1.0000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7       1.0000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7       1.0000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7       1.0000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7       1.0000
...                                          ...     ...    ...          ...
204154  fd2b52f64cc334584730c280ab0c4304d0c6cd4c  273043    0.7       1.0000
204155  fd2b52f64cc334584730c280ab0c4304d0c6cd4c  273047    0.7       1.0000
204156  fd2b52f64cc334584730c280ab0c4304d0c6cd4c  273062    0.7       1.0000
204157  fd2b52f64cc334584730c280ab0c4304d0c6cd4c  295749    0.7       1.0000
204158  fd903799aa3b726a912c7059a927b680f89f9395  265829    0.7       0.0625

[204159 rows x 4 columns]

CLUSTER:  384

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
204261  f405868d68d556125f5e5b3e42d62c393a0a3c5f  288114    0.7     0.017241
204262  fa8ceb8679294ec3bb8c0cae1663992c94deffe4  288114    0.7     0.034483
204263  fbc5b3182634e138af6eae07540046d8fbe1a0ec  288114    0.7     0.003503
204264  fe1569e4c93a3b8241c466b33f41556ab4631997  288114    0.7     0.033333
204265  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  288114    0.7     0.066667

[204266 rows x 4 columns]

CLUSTER:  781

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7        1.000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7        1.000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7        1.000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7        1.000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7        1.000
...                                          ...     ...    ...          ...
205714  ff9405f644c0ee61d48180cdaa55e08843f1e35c  267425    0.7        0.375
205715  fffb2be68fef4b27a810b11a641d84052eb02347  265342    0.7        0.500
205716  fffb2be68fef4b27a810b11a641d84052eb02347  267422    0.7        0.500
205717  fffb2be68fef4b27a810b11a641d84052eb02347  267425    0.7        0.500
205718  fffb2be68fef4b27a810b11a641d84052eb02347  267426    0.7        0.500

[205719 rows x 4 columns]

CLUSTER:  944

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
205851  f4e89f97fbfd8988cc595c3212d0315c6d1f496f  262865    0.7     0.187500
205852  f4e89f97fbfd8988cc595c3212d0315c6d1f496f  270807    0.7     0.187500
205853  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  262865    0.7     0.017544
205854  f9ba5a24a5aa55f7cd30bc68a904167f0b1c5e3a  262865    0.7     0.117647
205855  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  262865    0.7     0.062500

[205856 rows x 4 columns]

CLUSTER:  950

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
205950  f087ab01613e75db6e0e74550cd9c1aad811d329  262637    0.7     0.048780
205951  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  262637    0.7     0.017544
205952  f78238b670c5305b5028803c6004025e72b0546e  262637    0.7     0.023529
205953  f9ba5a24a5aa55f7cd30bc68a904167f0b1c5e3a  262637    0.7     0.088235
205954  ff1c9148b686bfe19d232b4b13d72b72ca701c95  262637    0.7     0.014286

[205955 rows x 4 columns]

CLUSTER:  151

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206135  fae08b7c8ff3f9e7381cb0c03bbe0e5ad119f43d  281978    0.7     1.000000
206136  fae08b7c8ff3f9e7381cb0c03bbe0e5ad119f43d  294908    0.7     1.000000
206137  fd1e55b7b3e27e9df679c3a0cde16f44560e2589  257056    0.7     0.230769
206138  fd1e55b7b3e27e9df679c3a0cde16f44560e2589  257059    0.7     0.230769
206139  fdc800a601eb9b5b7720880be7d944328bf1ba2e  257056    0.7     0.025000

[206140 rows x 4 columns]

CLUSTER:  692

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206275  e1ae78058bf63763aa2116034885746d792e9d31  266021    0.7     0.068966
206276  e978328aca651088e18ece5f551a5401b2b59751  266021    0.7     0.333333
206277  e978328aca651088e18ece5f551a5401b2b59751  266934    0.7     0.333333
206278  e978328aca651088e18ece5f551a5401b2b59751  266937    0.7     0.333333
206279  f5721207dd623697000bb3f365f0bcd69237d04f  266021    0.7     0.090909

[206280 rows x 4 columns]

CLUSTER:  212

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206277  e978328aca651088e18ece5f551a5401b2b59751  266934    0.7     0.333333
206278  e978328aca651088e18ece5f551a5401b2b59751  266937    0.7     0.333333
206279  f5721207dd623697000bb3f365f0bcd69237d04f  266021    0.7     0.090909
206280  012a586d8eb640694764029822e4896d4b9534e7  698051    0.7     0.347826
206281  cd10a7f8b675e45d5accb4bc635d901d9f00f3ce  698051    0.7     0.054945

[206282 rows x 4 columns]

CLUSTER:  294

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206459  f5c441d1cc5d71d0734cf4fd28a08909c1faeaf2  259567    0.7     0.333333
206460  f5c441d1cc5d71d0734cf4fd28a08909c1faeaf2  263512    0.7     0.333333
206461  f68fa8c2be82ee506f60cc22011ee559a17be3eb  258192    0.7     0.172414
206462  f68fa8c2be82ee506f60cc22011ee559a17be3eb  259567    0.7     0.172414
206463  f8cb03a6663467465dd28d89e475f4497d2fed81  258192    0.7     0.023529

[206464 rows x 4 columns]

CLUSTER:  831

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206584  fac06f7d01a374cc3e66155d2eefd44fa8378143  278349    0.7     0.033333
206585  fcfd3dc349b249386633c889e84a2259de96ee2e  278349    0.7     0.060606
206586  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  278349    0.7     0.013423
206587  fe045f566a51a0af398af0ba38893a9f07c14afe  278349    0.7     0.011527
206588  fe963d67cba6fce2d09881e64e75a22ea8c2137e  278349    0.7     0.016667

[206589 rows x 4 columns]

CLUSTER:  832

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
206668  e1ad1e36977e605990e00a15c6d1317eaac2fffa  278364    0.7     0.217391
206669  e2515151def98ca33bce2cc83b93e01ad05b534e  278360    0.7     0.004167
206670  ec361e041697d5562adfd30acd7551388089b00e  278360    0.7     0.013699
206671  ee0daf00b8b6e0ed7354b13351cc44062d582b2f  278360    0.7     0.030303
206672  f15a6562055bbb711f83193930f21627b9734bfd  278360    0.7     0.086957

[206673 rows x 4 columns]

CLUSTER:  940

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
207442  fe2847e6fb001718f09fa8e6cf4f08c56810c0db  255840    0.7     0.500000
207443  fe2847e6fb001718f09fa8e6cf4f08c56810c0db  255874    0.7     0.500000
207444  fe2847e6fb001718f09fa8e6cf4f08c56810c0db  257475    0.7     0.500000
207445  fe2847e6fb001718f09fa8e6cf4f08c56810c0db  257476    0.7     0.500000
207446  ff29e537372aef3370837245a1f80ca929c8f5db  255840    0.7     0.013986

[207447 rows x 4 columns]

CLUSTER:  4

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
207807  fcb5374542a792189544532e9df4990043203949  344517    0.7     0.333333
207808  fcb5374542a792189544532e9df4990043203949  348301    0.7     0.333333
207809  fcb5374542a792189544532e9df4990043203949  349633    0.7     0.333333
207810  fcb9389b631e9d1fcfc369d7652c2cd9893be977  344517    0.7     0.028777
207811  fdbb172086d0cf78ee7e7b754a5db87192771f04  344517    0.7     0.107143

[207812 rows x 4 columns]

CLUSTER:  382

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
207965  f1b8292e06fc71909d54225491465eb5c998c9cd  312237    0.7     1.000000
207966  f1b8292e06fc71909d54225491465eb5c998c9cd  312242    0.7     1.000000
207967  f1b8292e06fc71909d54225491465eb5c998c9cd  312243    0.7     1.000000
207968  f1f7d5f3cda2b80a16e09c18884451ba2b6d7b00  288086    0.7     0.033333
207969  f29d2e059333ecd4aa4a12f3c8a88a2757ed7661  288086    0.7     0.100000

[207970 rows x 4 columns]

CLUSTER:  495

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
208230  fdfc6142d2b0f5bcb4e8cddd7625e488b1e330ce  282782    0.7     0.285714
208231  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  276354    0.7     0.240000
208232  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  282782    0.7     0.240000
208233  ff21f204a3e3e275024c74c4b8102554131ca600  276354    0.7     0.042553
208234  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  276354    0.7     0.019417

[208235 rows x 4 columns]

CLUSTER:  325

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
208500  f517d988e6dee7c2b133bfd92fc268659b889577  280956    0.7     0.142857
208501  f64bca65ec434dee8e5128135a341120d2b70e3f  255717    0.7     0.041667
208502  fbca663c568e1af678e2b2e89430ecefb5a3beb1  255717    0.7     0.100000
208503  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  255717    0.7     0.008929
208504  fe408396eb451a8fc4a412701ea1fa6d9951a3e9  255717    0.7     0.118421

[208505 rows x 4 columns]

CLUSTER:  547

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
208726  f88f07371f1304c1510ef1b6713e343cb23bae2f  265689    0.7     0.363636
208727  f88f07371f1304c1510ef1b6713e343cb23bae2f  265696    0.7     0.363636
208728  fad7dca142b3718a4235b6727d44b4179bddee5c  255860    0.7     0.036364
208729  fe90d54976fff5379d0a9676ceea203c8092bae1  255860    0.7     0.052632
208730  fe963d67cba6fce2d09881e64e75a22ea8c2137e  255860    0.7     0.016667

[208731 rows x 4 columns]

CLUSTER:  242

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
208858  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  272435    0.7     0.042553
208859  fde919610c66dcdc25a6be680cee82fc5b8912c8  272435    0.7     0.333333
208860  fde919610c66dcdc25a6be680cee82fc5b8912c8  272443    0.7     0.333333
208861  fde919610c66dcdc25a6be680cee82fc5b8912c8  272492    0.7     0.333333
208862  fe045f566a51a0af398af0ba38893a9f07c14afe  272435    0.7     0.017291

[208863 rows x 4 columns]

CLUSTER:  511

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209190  f7c30056eecf066cec2432b61e5321d3f5ccc2bc  255853    0.7     0.100000
209191  f80661a795f9f5e73ce62a0ba790d1230a9a181c  255853    0.7     0.085106
209192  f869fa8d9544fd803cc346c4b7f367a20f487f7d  255853    0.7     0.020000
209193  f97f06c0814df73ca39e8ebb1b7ef32ff06bf94c  255853    0.7     0.285714
209194  f97f06c0814df73ca39e8ebb1b7ef32ff06bf94c  261457    0.7     0.285714

[209195 rows x 4 columns]

CLUSTER:  693

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209430  fb0f8fdaa3d3be65f2d7cc540308a1fbb5f3c7ee  208019    0.7     0.105263
209431  fd2808d6b5512216edace855167012d73003cf50  208019    0.7     0.285714
209432  fd2808d6b5512216edace855167012d73003cf50  267195    0.7     0.285714
209433  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  208019    0.7     0.213592
209434  ff4e4bf12a834cf726debebe5b0d2d0ec9c56057  267195    0.7     0.213592

[209435 rows x 4 columns]

CLUSTER:  696

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209570  fbf50e5e12094529988564684ee3765335d2969b  312313    0.7     1.000000
209571  fbf50e5e12094529988564684ee3765335d2969b  319923    0.7     1.000000
209572  ff7c2640345094da41cd2ed0ac8d38697e9334e0  267928    0.7     0.333333
209573  ff7c2640345094da41cd2ed0ac8d38697e9334e0  267932    0.7     0.333333
209574  ff7c2640345094da41cd2ed0ac8d38697e9334e0  268544    0.7     0.333333

[209575 rows x 4 columns]

CLUSTER:  782

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209704  faed48e94690ea7c971315d879d8754d00920368  281262    0.7     0.190476
209705  fb230562a1cac962515aee7a8030338ebdb27dae  267437    0.7     0.006897
209706  fc70c04b70b4aa6c4114b03fb7f6a490af6b6b93  267437    0.7     0.011765
209707  ff4ea2a593e3f01c248e52be4d870d5f5d84b538  267437    0.7     0.200000
209708  ff4ea2a593e3f01c248e52be4d870d5f5d84b538  281262    0.7     0.200000

[209709 rows x 4 columns]

CLUSTER:  536

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209735  ee6f2fb75eacdc71c674a61d9996e30e8325c050  255879    0.7     0.250000
209736  ee6f2fb75eacdc71c674a61d9996e30e8325c050  266961    0.7     0.250000
209737  efa6db1fe7e0d4637876c5950470bed0775912aa  266961    0.7     0.097826
209738  f1bd4bef2d74fb77f773bb9f2bd905e89d98d683  255879    0.7     0.063158
209739  fe434369f9485b2be781af7c075aead1459c0486  255879    0.7     0.090909

[209740 rows x 4 columns]

CLUSTER:  266

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
209767  9d1ce7039ab3f5b57897e2ba44285f798fc370ef  341955    0.7     1.000000
209768  ac5f00984804024f4df2c8ee2b90f2791b12ee02  273831    0.7     0.054054
209769  b92db423120ea2be7b353aa255c86e275d8d8a77  273831    0.7     0.074074
209770  c86aabd0a83fe1296cfed0243816f59f9bcec9f6  273831    0.7     0.084746
209771  e5d951efe3ae159f8f2630f6536f5d4e12aac3d5  273831    0.7     0.100000

[209772 rows x 4 columns]

CLUSTER:  291

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
210297  f9db36631d5ecc221de00a92719e8d7f4d05f009  274889    0.7     1.000000
210298  fc92dfda413e5b619c324399e902e699157ded35  208040    0.7     0.019324
210299  fe3305690a1f68c2e1aaaad1652d74b42359c3b9  208040    0.7     0.100000
210300  fec423cc257da88e874e90d12604249676e339e4  208040    0.7     0.044444
210301  ff8c7c63debe0277dcf283f80f22e3409af212f2  208040    0.7     0.076923

[210302 rows x 4 columns]

CLUSTER:  398

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
210701  fe1b823cf30c0868fb57869751be5885c8d18cd1  269163    0.7     0.090909
210702  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  269163    0.7     0.020548
210703  ff15d268f28bd209506f3c931d281b6c8c42bead  269163    0.7     0.018182
210704  ff3133b4f4366d2c452c001a8e04359de252fd06  269163    0.7     0.062500
210705  ff8c7c63debe0277dcf283f80f22e3409af212f2  269163    0.7     0.076923

[210706 rows x 4 columns]

CLUSTER:  972

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
211000  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  261449    0.7     0.500000
211001  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  270125    0.7     0.500000
211002  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  271747    0.7     0.500000
211003  fcbb2b28a67d4d54bef2b4d0142643c23240fcb4  261388    0.7     0.012658
211004  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  261388    0.7     0.046980

[211005 rows x 4 columns]

CLUSTER:  736

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
211061  e9990a02d1f8e26a20c60728dab2a292e8e46a99  357390    0.7     0.153846
211062  e9990a02d1f8e26a20c60728dab2a292e8e46a99  540553    0.7     0.153846
211063  ed0c4f203611a1bb87edf87f261211a4b597ce7d  357390    0.7     0.012821
211064  f47f8a10b3ed7e1f78015a1c2524cc10e32944b8  357390    0.7     0.040000
211065  f8cf7d392a411430ac75dbed41b82db4717f0426  357390    0.7     0.071429

[211066 rows x 4 columns]

CLUSTER:  896

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
211306  f6143ff0c8fcb57bde17364495dace132131967c  342467    0.7     0.500000
211307  f6143ff0c8fcb57bde17364495dace132131967c  351092    0.7     0.500000
211308  f72308e1d4148fb90181ce8b9dda935e27a57ee2  311569    0.7     0.033613
211309  fcb9389b631e9d1fcfc369d7652c2cd9893be977  311569    0.7     0.003597
211310  fe1569e4c93a3b8241c466b33f41556ab4631997  311569    0.7     0.033333

[211311 rows x 4 columns]

CLUSTER:  937

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
211513  ee30f6b9a1011d9de2068a99b2070a7b6be47ce7  289544    0.7     0.166667
211514  f1ee06ae41380529eb3c56ad53fe3d9c3871e260  289543    0.7     0.041667
211515  f29d2e059333ecd4aa4a12f3c8a88a2757ed7661  289543    0.7     0.100000
211516  f7d540c060174f2147d871f2557a4dea5fb08d77  289543    0.7     0.045455
211517  f945dc2821ad3d31bad1e083090863308dabc3f3  289543    0.7     0.064516

[211518 rows x 4 columns]

CLUSTER:  882

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
211811  fe0e635415ec5f40d6859d40cd48ba5d485f6658  310414    0.7     1.000000
211812  fe0e635415ec5f40d6859d40cd48ba5d485f6658  310422    0.7     1.000000
211813  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  257815    0.7     0.068493
211814  fe96e235a658c039bd6f45b8d7395157ee608ef9  257815    0.7     0.272727
211815  fe96e235a658c039bd6f45b8d7395157ee608ef9  269262    0.7     0.272727

[211816 rows x 4 columns]

CLUSTER:  690

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
212023  f78238b670c5305b5028803c6004025e72b0546e  257418    0.7     0.005882
212024  fbb3ccdeffe3cd07ebfafc5cdd691f0d45b0f9f8  257418    0.7     0.142857
212025  fbb3ccdeffe3cd07ebfafc5cdd691f0d45b0f9f8  258803    0.7     0.142857
212026  fc1b6977192ebf5961c26521398d97aeac83536c  257418    0.7     0.200000
212027  fc1b6977192ebf5961c26521398d97aeac83536c  258803    0.7     0.200000

[212028 rows x 4 columns]

CLUSTER:  816

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
212033  92d15b9e26cf6f6ec94c9b1ed00d4f18a80475b4  273067    0.7     0.083333
212034  948dbf3de61ebd73287085198fc391d8ed50a60e  273067    0.7     0.111111
212035  a6087611bc761e52328df18bfba36f9e99c7c4e4  323978    0.7     0.083333
212036  ef42f9cf43ee74c0d5a957c1ffb9001aeb18530e  273067    0.7     0.250000
212037  ef42f9cf43ee74c0d5a957c1ffb9001aeb18530e  339359    0.7     0.250000

[212038 rows x 4 columns]

CLUSTER:  623

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
212049  cfa62171be07815dce1fb769e997b6965c3ea1b2  735776    0.7     0.031579
212050  d8b33b2dc9f2a44d48f217e06799d0886c5bcc9e  738886    0.7     0.315789
212051  d8b33b2dc9f2a44d48f217e06799d0886c5bcc9e  744345    0.7     0.315789
212052  d8b33b2dc9f2a44d48f217e06799d0886c5bcc9e  757967    0.7     0.315789
212053  f1bd4bef2d74fb77f773bb9f2bd905e89d98d683  735776    0.7     0.010526

[212054 rows x 4 columns]

CLUSTER:  629

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
212404  fecb4670715668e6724a8504638e611fabacece8  292675    0.7          1.0
212405  fecb4670715668e6724a8504638e611fabacece8  292694    0.7          1.0
212406  fecb4670715668e6724a8504638e611fabacece8  292717    0.7          1.0
212407  fecb4670715668e6724a8504638e611fabacece8  292726    0.7          1.0
212408  fecb4670715668e6724a8504638e611fabacece8  292732    0.7          1.0

[212409 rows x 4 columns]

CLUSTER:  686

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
212539  d85f46c150deb863e74c5ebeaf6d5d4f464d9289  340288    0.7     0.043956
212540  ed56207d511202a3102877307093aaace572152a  340288    0.7     0.079710
212541  efdd46d3601344e8d9dd90f4fd55fd84df3bbb0d  340288    0.7     0.131579
212542  f72308e1d4148fb90181ce8b9dda935e27a57ee2  340288    0.7     0.033613
212543  fcedcc3aeeffca615538ecc95234826f67a909e1  340288    0.7     0.031250

[212544 rows x 4 columns]

CLUSTER:  721

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
212868  fed3b125518286682229eac62f86f3ac57811830  259827    0.7     0.666667
212869  fed3b125518286682229eac62f86f3ac57811830  259830    0.7     0.666667
212870  fed3b125518286682229eac62f86f3ac57811830  288181    0.7     0.666667
212871  fed3b125518286682229eac62f86f3ac57811830  309524    0.7     0.666667
212872  fed3b125518286682229eac62f86f3ac57811830  309943    0.7     0.666667

[212873 rows x 4 columns]

CLUSTER:  729

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
213015  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  260774    0.7     0.333333
213016  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  260785    0.7     0.333333
213017  ff7c2640345094da41cd2ed0ac8d38697e9334e0  260730    0.7     0.333333
213018  ff7c2640345094da41cd2ed0ac8d38697e9334e0  260774    0.7     0.333333
213019  ff7c2640345094da41cd2ed0ac8d38697e9334e0  260785    0.7     0.333333

[213020 rows x 4 columns]

CLUSTER:  126

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
213098  e6b0878ef0fced9addc2d5df5abb45898930c261  313739    0.7     0.181818
213099  e9b429a431f59ee6762f1d4ec1086e386f4682fc  263774    0.7     0.038462
213100  f1604e958847640c40e4de0e4b2ed19fd297374f  263774    0.7     0.045977
213101  f4e6470744bdec8acd26505719ce7f16acb91b66  263774    0.7     0.133333
213102  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  263774    0.7     0.002364

[213103 rows x 4 columns]

CLUSTER:  892

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
213292  efa6db1fe7e0d4637876c5950470bed0775912aa  310688    0.7     0.032609
213293  eff5b9255b5f3a4d18bb4397e295f9974e8148ca  310688    0.7     0.052288
213294  f6fe8502ddc76dd9998e72f2ef519a8f54d02081  310688    0.7     0.018750
213295  fb2b20e7ef5d841acaade9f3bc90b7c440e09bcb  310688    0.7     0.037037
213296  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  310688    0.7     0.016779

[213297 rows x 4 columns]

CLUSTER:  510

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
213556  f80661a795f9f5e73ce62a0ba790d1230a9a181c  257047    0.7     0.006079
213557  f8864c532fb1433397c8515da7841b5a9702a80c  257047    0.7     0.017857
213558  f90221acf466cb1337329ec392a65b154776290d  257047    0.7     0.082192
213559  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  257047    0.7     0.006711
213560  ff7f70fd350101ceffb933f05cf15b8a7a6bbde9  257047    0.7     0.018519

[213561 rows x 4 columns]

CLUSTER:  750

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
213720  e3d6644d1dd9651e800ee04dc505f098335fa25b  262576    0.7     0.009070
213721  e601e165955f9895174755800a8652f19b3ce53d  262576    0.7     0.022222
213722  f55561f6fa39fc95260400310f453cbdf33b93df  262576    0.7     0.006536
213723  f80661a795f9f5e73ce62a0ba790d1230a9a181c  262576    0.7     0.018237
213724  f8cf3a0059220075a1bf0a51a0539e8319a32864  262576    0.7     0.073171

[213725 rows x 4 columns]

CLUSTER:  6

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
214010  f744cdf6b049a78462b3f7c39333be04b0fdabde  352595    0.7     0.666667
214011  f824767431dbe88e437f5be5da9aefdfceb12f3d  269531    0.7     0.256198
214012  f824767431dbe88e437f5be5da9aefdfceb12f3d  311829    0.7     0.256198
214013  fd19cb6950a62a534349f7a6e4acb72dc59fca62  269531    0.7     0.166667
214014  fd19cb6950a62a534349f7a6e4acb72dc59fca62  311829    0.7     0.166667

[214015 rows x 4 columns]

CLUSTER:  198

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
214090  e47a033ec3bc8b7d749e6b3f9f694e205de8cfdd  273300    0.7     0.162162
214091  ec9750b95de680b1a9af3598c9dc24e4d66f61a4  258676    0.7     0.002833
214092  f72308e1d4148fb90181ce8b9dda935e27a57ee2  258676    0.7     0.025210
214093  f8cb03a6663467465dd28d89e475f4497d2fed81  258676    0.7     0.023529
214094  fda3c21c229c35690efb887a2f24b8769151a57d  258676    0.7     0.125000

[214095 rows x 4 columns]

CLUSTER:  149

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
214337  f3854771391021d8ae46f24d4dec0aec274dedb7  256292    0.7     0.333333
214338  f3854771391021d8ae46f24d4dec0aec274dedb7  257744    0.7     0.333333
214339  f50d21178593dc9670e38f6112fdee75b78c7a90  256291    0.7     0.357143
214340  f50d21178593dc9670e38f6112fdee75b78c7a90  256292    0.7     0.357143
214341  f50d21178593dc9670e38f6112fdee75b78c7a90  257744    0.7     0.357143

[214342 rows x 4 columns]

CLUSTER:  172

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
214423  f6fa82988387fde0e4b20beb127ffa1a6bdeb635  347955    0.7     0.333333
214424  fb4b985e6461d157afb185b342d75108944eba55  342727    0.7     0.037559
214425  fbcb0b0ecb2b3283177901f855669f555977b6dc  342727    0.7     0.027778
214426  fdec51dc149b0a5c7f84d523409123c0763861cb  342727    0.7     0.055046
214427  feaf1269b7319434a2d2b525e6006529c5def2cb  342727    0.7     0.090909

[214428 rows x 4 columns]

CLUSTER:  728

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
214919  ff411cfa61303a9c0484c75c6f387059038b842e  260261    0.7          1.0
214920  ff411cfa61303a9c0484c75c6f387059038b842e  260268    0.7          1.0
214921  ff411cfa61303a9c0484c75c6f387059038b842e  260281    0.7          1.0
214922  ff411cfa61303a9c0484c75c6f387059038b842e  260308    0.7          1.0
214923  ff411cfa61303a9c0484c75c6f387059038b842e  260313    0.7          1.0

[214924 rows x 4 columns]

CLUSTER:  5

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
215482  fc8f5d42cb803e5bcd4500a453596b63304e7f69  348797    0.7     0.269231
215483  fc916911e0e518e53459590feca4f5ce1604fc38  284305    0.7     0.145455
215484  fc916911e0e518e53459590feca4f5ce1604fc38  348797    0.7     0.145455
215485  fe863522cb98dadaf97013e5702c907fd97a9474  284305    0.7     0.285714
215486  fe863522cb98dadaf97013e5702c907fd97a9474  348797    0.7     0.285714

[215487 rows x 4 columns]

CLUSTER:  28

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
215738  fcb9389b631e9d1fcfc369d7652c2cd9893be977  258219    0.7     0.079137
215739  fe5881afdfe808e5aa157dee9ab2aa035b0f72ce  256603    0.7     0.003831
215740  febf731f9f1d9c6e09c2a91d664485ec793ad870  256603    0.7     0.029925
215741  ff29e537372aef3370837245a1f80ca929c8f5db  256603    0.7     0.055944
215742  ffbb81debf44523b4d21e7f48fcda3e4fbb95f4e  256603    0.7     0.052830

[215743 rows x 4 columns]

CLUSTER:  862

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
216023  f8331f0bfc685b9f48077dd58bdc1a740e6ed10b  256988    0.7     0.176471
216024  f9226844b76573d5ae869700d75b44d42f017cd8  256006    0.7     0.045455
216025  fbfe27a0074c78abd077601c03d19e31c5273466  256006    0.7     0.066667
216026  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  256006    0.7     0.027397
216027  fe8fb699e1e514f5a49383187e7c1267f6d648d2  256006    0.7     0.016393

[216028 rows x 4 columns]

CLUSTER:  868

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
216165  f8bde0e2b6c339140f5a3fbeb24dd3c2f496042b  257171    0.7     0.035714
216166  f8f3989e8bf7ffa7ff39fd27341ab915225ddb48  257171    0.7     0.066667
216167  fa85a9d47c9a74d66269c1bb663cefdb78385e63  257171    0.7     0.026667
216168  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  257171    0.7     0.013423
216169  ff57b158bb7324a7b04536e19b3da40c36d98194  257171    0.7     0.125000

[216170 rows x 4 columns]

CLUSTER:  980

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
216886  fcbb2b28a67d4d54bef2b4d0142643c23240fcb4  256682    0.7     0.006329
216887  fcfd3dc349b249386633c889e84a2259de96ee2e  256682    0.7     0.242424
216888  fcfd3dc349b249386633c889e84a2259de96ee2e  258864    0.7     0.242424
216889  fe045f566a51a0af398af0ba38893a9f07c14afe  256682    0.7     0.023055
216890  fe93d442b576ca5f3f6c354bbaa492499b1ae375  256682    0.7     0.010417

[216891 rows x 4 columns]

CLUSTER:  794

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
217044  fdbb172086d0cf78ee7e7b754a5db87192771f04  294844    0.7     0.660714
217045  fdbb172086d0cf78ee7e7b754a5db87192771f04  354284    0.7     0.660714
217046  fdbb172086d0cf78ee7e7b754a5db87192771f04  518247    0.7     0.660714
217047  fdbb172086d0cf78ee7e7b754a5db87192771f04  533645    0.7     0.660714
217048  fdbb172086d0cf78ee7e7b754a5db87192771f04  534884    0.7     0.660714

[217049 rows x 4 columns]

CLUSTER:  814

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
217386  f7d31d7b6d52f2dec997dd220ca1bb6530820a66  277045    0.7     0.090426
217387  fae09c40bbf926196bf4695ca1cdd8e3c11ea6f3  277045    0.7     0.125000
217388  fcddd77ce1552dd5f836c72a2f777704aaa62f17  277045    0.7     0.250000
217389  fcddd77ce1552dd5f836c72a2f777704aaa62f17  277131    0.7     0.250000
217390  fe8fb699e1e514f5a49383187e7c1267f6d648d2  277045    0.7     0.049180

[217391 rows x 4 columns]

CLUSTER:  664

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
217518  e75a4a2e94deef8c5984ed407af86e1b81637eab  328142    0.7     0.500000
217519  e75a4a2e94deef8c5984ed407af86e1b81637eab  342356    0.7     0.500000
217520  e78f7a0020649f24e4b13ce0bfeb2c065e9bdcfb  315669    0.7     0.047619
217521  f1ecbdbffa627ca6a2a33e1f702ad52d7ca67c0e  315669    0.7     0.008511
217522  ff5481859cc1efde4393c90fd17753870c6e168c  315669    0.7     0.125000

[217523 rows x 4 columns]

CLUSTER:  537

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
217802  f8ac3f65d19c224bcbff9f4b71595049942d116f  267320    0.7     1.000000
217803  fb82ed56ac7234004f47ae0115d8ece3919f1489  256154    0.7     0.076923
217804  fd54fcefdecedb960d7c7686248358bec0578e37  256154    0.7     0.303030
217805  fd54fcefdecedb960d7c7686248358bec0578e37  267033    0.7     0.303030
217806  fd54fcefdecedb960d7c7686248358bec0578e37  267219    0.7     0.303030

[217807 rows x 4 columns]

CLUSTER:  659

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
218130  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  257401    0.7     0.005464
218131  fd73d3f38bb6259f0177120b4358cffcdbe53884  257401    0.7     0.500000
218132  fd73d3f38bb6259f0177120b4358cffcdbe53884  257416    0.7     0.500000
218133  fd73d3f38bb6259f0177120b4358cffcdbe53884  263158    0.7     0.500000
218134  fd73d3f38bb6259f0177120b4358cffcdbe53884  263417    0.7     0.500000

[218135 rows x 4 columns]

CLUSTER:  888

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
218157  e0253b76fb819a62f8d1481b5395b4d475ea4cde  328848    0.7     0.037037
218158  ec9750b95de680b1a9af3598c9dc24e4d66f61a4  328848    0.7     0.016997
218159  f68b4d9937342f64aff7ef19d869219389620df4  328848    0.7     0.046512
218160  f8129cab573fb7e2abe4d6a43604e77e3c194dc4  328851    0.7     0.051282
218161  fac1a80b06853dea7eb87d196376e5d09126578e  328848    0.7     0.052632

[218162 rows x 4 columns]

CLUSTER:  363

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
218737  fa6e6eb5a7a072fdc7e99727107ec8a7e4a1cc3d  309890    0.7     0.031746
218738  fad7dca142b3718a4235b6727d44b4179bddee5c  309890    0.7     0.109091
218739  fc6c7ba95ebd4789fd0e9bd72d17fa3f09610695  309890    0.7     0.114286
218740  fd0b9d9137a404b39d84e47e64e07c65e8f6ba05  309890    0.7     0.071429
218741  ff21f204a3e3e275024c74c4b8102554131ca600  309890    0.7     0.042553

[218742 rows x 4 columns]

CLUSTER:  724

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
219217  fcfdfed0e5f6dc22c6b324ab0e25590acdf7429b  259846    0.7     0.461538
219218  fcfdfed0e5f6dc22c6b324ab0e25590acdf7429b  259848    0.7     0.461538
219219  ffd24ec2ae25aea321acebccf1e1a08d314461cf  257755    0.7     0.333333
219220  ffd24ec2ae25aea321acebccf1e1a08d314461cf  259839    0.7     0.333333
219221  ffd24ec2ae25aea321acebccf1e1a08d314461cf  259846    0.7     0.333333

[219222 rows x 4 columns]

CLUSTER:  636

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
219358  fdf95635a138473d18698835c505c6eaa1d79207  315915    0.7          1.0
219359  fdf95635a138473d18698835c505c6eaa1d79207  342429    0.7          1.0
219360  fdf95635a138473d18698835c505c6eaa1d79207  345177    0.7          1.0
219361  fdf95635a138473d18698835c505c6eaa1d79207  349267    0.7          1.0
219362  fdf95635a138473d18698835c505c6eaa1d79207  352577    0.7          1.0

[219363 rows x 4 columns]

CLUSTER:  410

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
219519  f2b93fd1b7188d8dacaad569665492c7903e5d40  255707    0.7     0.031496
219520  f84a9bc5cd8b2485f861a78a148f90cfa46655c1  255707    0.7     0.285714
219521  f84a9bc5cd8b2485f861a78a148f90cfa46655c1  271871    0.7     0.285714
219522  faf539c96df4dc8ef88c99b03a7ed03499bb80ad  255707    0.7     0.181818
219523  faf539c96df4dc8ef88c99b03a7ed03499bb80ad  271871    0.7     0.181818

[219524 rows x 4 columns]

CLUSTER:  252

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
219522  faf539c96df4dc8ef88c99b03a7ed03499bb80ad  255707    0.7     0.181818
219523  faf539c96df4dc8ef88c99b03a7ed03499bb80ad  271871    0.7     0.181818
219524  01e4dafefddd468860136c94fafadd53c8310ba0  321176    0.7     0.051020
219525  3c8350bd16d15ab17e8afd9445b58a7ac09421f4  321164    0.7     0.012821
219526  9a8713661cf40184293705ee6784302a4a03eee2  321164    0.7     0.014706

[219527 rows x 4 columns]

CLUSTER:  355

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
219883  fefbde657496c313f573e1f0bb2ccdda6ce3c980  289921    0.7     1.000000
219884  fefbde657496c313f573e1f0bb2ccdda6ce3c980  289934    0.7     1.000000
219885  fefbde657496c313f573e1f0bb2ccdda6ce3c980  289986    0.7     1.000000
219886  fefbde657496c313f573e1f0bb2ccdda6ce3c980  289990    0.7     1.000000
219887  fff735f54719b720fc4c6c723208ad1f06e9605e  287327    0.7     0.017241

[219888 rows x 4 columns]

CLUSTER:  425

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
220058  f558e642d598c884fda9e781ced0214bf916f4f4  266847    0.7     0.153846
220059  f90da356f9a99574c29d0e33bd8ef2873920720c  261574    0.7     0.012579
220060  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  261574    0.7     0.027027
220061  fd1c2ccee95c13a315b6156abad4175c713593e5  261574    0.7     0.045455
220062  fe045f566a51a0af398af0ba38893a9f07c14afe  261574    0.7     0.034582

[220063 rows x 4 columns]

CLUSTER:  234

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
220199  f9b19722a10de7b0c109b4ee06bf6aa68a853146  208287    0.7     0.333333
220200  f9b19722a10de7b0c109b4ee06bf6aa68a853146  271344    0.7     0.333333
220201  f9b19722a10de7b0c109b4ee06bf6aa68a853146  271365    0.7     0.333333
220202  fa0fb44823e2d6b57e3e1b29ac6c183b0ff5cd90  208287    0.7     0.042553
220203  fa4eb842d88d613e9919314df5f74162e369100d  208287    0.7     0.141176

[220204 rows x 4 columns]

CLUSTER:  241

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
220306  e8ec02548b4579ce29a65c79cbeb925439c2f6d5  282533    0.7     1.000000
220307  e8ec02548b4579ce29a65c79cbeb925439c2f6d5  341850    0.7     1.000000
220308  efc3e641850540fbc244f5290ddbc72816559d3f  272053    0.7     0.012500
220309  f68fa8c2be82ee506f60cc22011ee559a17be3eb  272053    0.7     0.103448
220310  f879fffd9b5d10abccf60536ee4a37df62fda8a1  272053    0.7     0.051282

[220311 rows x 4 columns]

CLUSTER:  445

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
220636  fbf71886e89afb53c48f20c1ff71359ddd0c66b0  275605    0.7     0.151515
220637  fcfc3b681f3c663d62c3063701c11878c62db5b6  275603    0.7     0.400000
220638  fcfc3b681f3c663d62c3063701c11878c62db5b6  275605    0.7     0.400000
220639  fcfc3b681f3c663d62c3063701c11878c62db5b6  275607    0.7     0.400000
220640  fe045f566a51a0af398af0ba38893a9f07c14afe  275603    0.7     0.011527

[220641 rows x 4 columns]

CLUSTER:  113

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
220730  ef98f7dff5d0f25d1e6e991459abd943b4af3aba  256063    0.7     0.011940
220731  f5b745b968522a214f21b66057b2d61fd91a2eea  256063    0.7     0.017241
220732  fa661b585efe5c5300a7cb2f3ea6670c04bd150a  256063    0.7     0.125000
220733  fb5af0da71fa64c49b5a3e6d107c508a18b88d1a  256063    0.7     0.008197
220734  fc567de6203b2dbbca28461f825d0412829eb01b  256063    0.7     0.022727

[220735 rows x 4 columns]

CLUSTER:  220

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
221006  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  269432    0.7     0.666667
221007  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270191    0.7     0.666667
221008  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270581    0.7     0.666667
221009  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270618    0.7     0.666667
221010  fedaf20656a4aa30daac65bdddd6c74c948bd2fa  270622    0.7     0.666667

[221011 rows x 4 columns]

CLUSTER:  331

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
221495  fd73d3f38bb6259f0177120b4358cffcdbe53884  268372    0.7     0.500000
221496  fd73d3f38bb6259f0177120b4358cffcdbe53884  274863    0.7     0.500000
221497  fd73d3f38bb6259f0177120b4358cffcdbe53884  276823    0.7     0.500000
221498  fd73d3f38bb6259f0177120b4358cffcdbe53884  282650    0.7     0.500000
221499  ff21f204a3e3e275024c74c4b8102554131ca600  274863    0.7     0.042553

[221500 rows x 4 columns]

CLUSTER:  372

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222348  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  266498    0.7     0.013699
222349  ff21f204a3e3e275024c74c4b8102554131ca600  266498    0.7     0.042553
222350  ff7adae511933c6abcc6f7b8173d73d1bd9d688f  266498    0.7     0.048193
222351  ff8164315c407f57567651c4d7d4b83f28a4c69b  266498    0.7     0.005988
222352  fff735f54719b720fc4c6c723208ad1f06e9605e  266498    0.7     0.034483

[222353 rows x 4 columns]

CLUSTER:  400

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222421  ecc9ac9b134ff01b781bb1e2b7c9f12ed9f42f0a  266188    0.7     0.333333
222422  ecc9ac9b134ff01b781bb1e2b7c9f12ed9f42f0a  274489    0.7     0.333333
222423  f0b9e7fb0cb745f80a848acb2349e827935c32ce  259004    0.7     0.014354
222424  f428faf8fa07de334478d3b6dce61feb08708b83  259004    0.7     0.045455
222425  f94db077d32f4a3779c3589baec25860f0b893c9  259004    0.7     0.111111

[222426 rows x 4 columns]

CLUSTER:  907

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222702  fcdd027b9203a14c89bfc49c5bcf8ff980857808  256374    0.7     0.007812
222703  fd7322fb943763b0e55f93872cd236cbfe93a0f3  256374    0.7     0.042553
222704  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  256374    0.7     0.008929
222705  ff7adae511933c6abcc6f7b8173d73d1bd9d688f  256374    0.7     0.265060
222706  ff7adae511933c6abcc6f7b8173d73d1bd9d688f  256573    0.7     0.265060

[222707 rows x 4 columns]

CLUSTER:  392

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222746  de65256b12905980c159cec74df2dfd517f3bf21  288151    0.7     0.052632
222747  f1c99b961a2aa30b97cdd22965916f616816b759  288151    0.7     0.060606
222748  f7ea6d8329b38ed75f617c6c4768615229316467  288151    0.7     0.166667
222749  f7ea6d8329b38ed75f617c6c4768615229316467  288155    0.7     0.166667
222750  f95ef3fbf469357d1dda6521c84b81fb346ac239  288151    0.7     0.012346

[222751 rows x 4 columns]

CLUSTER:  984

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222780  c1bc511c60573fae900042f2b419501e7229a381  289668    0.7     0.008621
222781  d9caca36bd39c10cbc014253ec80645e2ee71a8a  289668    0.7     0.001748
222782  dcfdfcc07d6e1a931538b67b60840783804be534  289668    0.7     0.142857
222783  dcfdfcc07d6e1a931538b67b60840783804be534  299440    0.7     0.142857
222784  f4b18c370089f4e0a6f74aa6d4389cd6531f9cd7  289668    0.7     0.009464

[222785 rows x 4 columns]

CLUSTER:  958

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222799  8fc8ff1f09c302e7cdc16814a2a6dabdc3258b0a  271398    0.7     0.166667
222800  8fc8ff1f09c302e7cdc16814a2a6dabdc3258b0a  291411    0.7     0.166667
222801  aada333fd6cc54de1c3faa1978e1a5ad91ffbe21  271398    0.7     0.030303
222802  cd309ecd408c18958d9a03452b1443c11f84ea2f  291411    0.7     0.043478
222803  e7c2aeddc3760066daf507f1d9ea1b0e8c8f83b1  271398    0.7     0.020833

[222804 rows x 4 columns]

CLUSTER:  438

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222898  f8291349be1b760d3548c1a5cb0a6c5b493888b4  322168    0.7     1.000000
222899  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  261970    0.7     0.011820
222900  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  261970    0.7     0.099099
222901  fca7cea455d431b1f7bb1ed38011e1064a041567  261970    0.7     0.235294
222902  fca7cea455d431b1f7bb1ed38011e1064a041567  275576    0.7     0.235294

[222903 rows x 4 columns]

CLUSTER:  584

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
222974  fd5531dfe9cacf748f45101d16c8092aa41522a8  511543    0.7     0.500000
222975  fef80b3959acb0e63e2b8d28d0fda7288731738f  352446    0.7     0.444444
222976  fef80b3959acb0e63e2b8d28d0fda7288731738f  352702    0.7     0.444444
222977  fef80b3959acb0e63e2b8d28d0fda7288731738f  511543    0.7     0.444444
222978  fef80b3959acb0e63e2b8d28d0fda7288731738f  551691    0.7     0.444444

[222979 rows x 4 columns]

CLUSTER:  415

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223033  f3704d074cc7b33d6f01e942c597c8d2454ac95d  275086    0.7     0.007233
223034  f84a9bc5cd8b2485f861a78a148f90cfa46655c1  275088    0.7     0.285714
223035  f84a9bc5cd8b2485f861a78a148f90cfa46655c1  275093    0.7     0.285714
223036  f8c907547cf21a58063f45879c6f36b7094c14c1  275086    0.7     0.005814
223037  fcb9389b631e9d1fcfc369d7652c2cd9893be977  275086    0.7     0.014388

[223038 rows x 4 columns]

CLUSTER:  417

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223081  eb15e50b7c6fb14267482d31ecae0b8501c69ab4  354088    0.7     0.600000
223082  eb15e50b7c6fb14267482d31ecae0b8501c69ab4  690390    0.7     0.600000
223083  eb15e50b7c6fb14267482d31ecae0b8501c69ab4  756450    0.7     0.600000
223084  f454d916775180a8e0cd7f11ccb00fcce0b61c6a  321568    0.7     0.062500
223085  f4dd899e32e90852950b8acb0b853dca22c39d29  321568    0.7     0.006289

[223086 rows x 4 columns]

CLUSTER:  631

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223315  f3cdbf2a7ead6b25ad23508a0b043f28a5ae3e1c  272782    0.7     0.285714
223316  f59315ff64f3e0bfa5122ce3f9b0a01a762dd53b  258383    0.7     0.250000
223317  f59315ff64f3e0bfa5122ce3f9b0a01a762dd53b  272782    0.7     0.250000
223318  f5b745b968522a214f21b66057b2d61fd91a2eea  258383    0.7     0.017241
223319  f60f8301885ae449a852290b4f3c93178437c537  258383    0.7     0.111111

[223320 rows x 4 columns]

CLUSTER:  829

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223347  e64579df6a6f5b0dd7ce826da46353802933be03  313948    0.7     0.008547
223348  ec11c06544ec2e4fc3a5274c51f194f7757e64f3  313948    0.7     0.013793
223349  edfd415231768ecf3f2a66281ee7672acaece258  313948    0.7     0.028571
223350  f899e361d529dcfd4ebecbebaf391e8b414f4bb8  313948    0.7     0.275862
223351  f899e361d529dcfd4ebecbebaf391e8b414f4bb8  354099    0.7     0.275862

[223352 rows x 4 columns]

CLUSTER:  707

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223452  e2574defc9c726ae2af058f50fc37c5e68042776  347264    0.7     0.333333
223453  ed56207d511202a3102877307093aaace572152a  317320    0.7     0.289855
223454  ed56207d511202a3102877307093aaace572152a  345391    0.7     0.289855
223455  ed56207d511202a3102877307093aaace572152a  347264    0.7     0.289855
223456  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  317320    0.7     0.002364

[223457 rows x 4 columns]

CLUSTER:  102

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223519  ed56207d511202a3102877307093aaace572152a  263885    0.7     0.079710
223520  f3704d074cc7b33d6f01e942c597c8d2454ac95d  263885    0.7     0.047016
223521  f52e14883697c236da3f7365c0aa379c74bf61f2  263885    0.7     0.086957
223522  fcc6fd1f8302167ae9e3d2c40f2ba692c0bf5455  263885    0.7     0.133333
223523  ff8164315c407f57567651c4d7d4b83f28a4c69b  263885    0.7     0.023952

[223524 rows x 4 columns]

CLUSTER:  174

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223845  fa9454f36bedee9de69ea5e9b2afe5db8ba93390  345666    0.7     0.333333
223846  fa9454f36bedee9de69ea5e9b2afe5db8ba93390  348146    0.7     0.333333
223847  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  311545    0.7     0.010067
223848  fddd5cc7cf0612421e083483a715dc153bda7ebb  311545    0.7     0.030303
223849  fff735f54719b720fc4c6c723208ad1f06e9605e  311545    0.7     0.008621

[223850 rows x 4 columns]

CLUSTER:  195

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
223931  f7adeb36d0016ed730cb62fd6a6b6f56ad8e7794  658209    0.7     1.000000
223932  f7adeb36d0016ed730cb62fd6a6b6f56ad8e7794  658221    0.7     1.000000
223933  f7adeb36d0016ed730cb62fd6a6b6f56ad8e7794  702134    0.7     1.000000
223934  fb230562a1cac962515aee7a8030338ebdb27dae  272831    0.7     0.027586
223935  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  272831    0.7     0.006849

[223936 rows x 4 columns]

CLUSTER:  270

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224043  f38dba44bf1a3fe39a354fd99677da3d5f2114a2  274080    0.7     0.052632
224044  f59eea2f49517c135df882109cf6c3cf0ee8685c  274080    0.7     0.090909
224045  f62ae7f7d4b5863fa8d7531d6e34de999e49ef6e  274080    0.7     0.038462
224046  f8007b09b7eb3ee2c697f3417f5d0a7ce335d65e  274080    0.7     0.227273
224047  f8007b09b7eb3ee2c697f3417f5d0a7ce335d65e  274125    0.7     0.227273

[224048 rows x 4 columns]

CLUSTER:  402

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224043  f38dba44bf1a3fe39a354fd99677da3d5f2114a2  274080    0.7     0.052632
224044  f59eea2f49517c135df882109cf6c3cf0ee8685c  274080    0.7     0.090909
224045  f62ae7f7d4b5863fa8d7531d6e34de999e49ef6e  274080    0.7     0.038462
224046  f8007b09b7eb3ee2c697f3417f5d0a7ce335d65e  274080    0.7     0.227273
224047  f8007b09b7eb3ee2c697f3417f5d0a7ce335d65e  274125    0.7     0.227273

[224048 rows x 4 columns]

CLUSTER:  784

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224372  fb230562a1cac962515aee7a8030338ebdb27dae  267445    0.7     0.006897
224373  fb5af0da71fa64c49b5a3e6d107c508a18b88d1a  267445    0.7     0.032787
224374  fc70c04b70b4aa6c4114b03fb7f6a490af6b6b93  267445    0.7     0.011765
224375  fcbb2b28a67d4d54bef2b4d0142643c23240fcb4  267445    0.7     0.025316
224376  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  267445    0.7     0.033333

[224377 rows x 4 columns]

CLUSTER:  841

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224703  fd0386986b06856e122aa1c52b4d5ae6f3ad107c  265700    0.7     0.125000
224704  fe045f566a51a0af398af0ba38893a9f07c14afe  265700    0.7     0.011527
224705  fe3305690a1f68c2e1aaaad1652d74b42359c3b9  265700    0.7     0.100000
224706  fe8fb699e1e514f5a49383187e7c1267f6d648d2  265700    0.7     0.016393
224707  ff57b158bb7324a7b04536e19b3da40c36d98194  265700    0.7     0.125000

[224708 rows x 4 columns]

CLUSTER:  844

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224964  fcb9389b631e9d1fcfc369d7652c2cd9893be977  279331    0.7     0.028777
224965  fcc5ef7b6611f47fc24d64ecfe4a014d6d3d6000  279331    0.7     0.016667
224966  feaf1269b7319434a2d2b525e6006529c5def2cb  279331    0.7     0.015152
224967  ff04dcfe9f0bc3de26f91cd2a099d68d56d83acc  279331    0.7     0.125000
224968  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  279331    0.7     0.033333

[224969 rows x 4 columns]

CLUSTER:  764

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
224987  d2b1c3b206f7f80bf752c9df811e1f8a465c5efa  840617    0.7     0.666667
224988  d2b1c3b206f7f80bf752c9df811e1f8a465c5efa  736238    0.7     0.666667
224989  d2b1c3b206f7f80bf752c9df811e1f8a465c5efa  744948    0.7     0.666667
224990  dfcea9cee064059ad39e93b0af6dfcd9e8fd6d94  736238    0.7     0.100000
224991  f23168818e5656b18873d12c586eb51d0cc97d9f  736238    0.7     0.121212

[224992 rows x 4 columns]

CLUSTER:  921

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225097  e45c5de8820415fac20164ac6a6506c438a0c6c3  255904    0.7     0.016667
225098  ec20036fab18c5cd3d4d63fd7fd30614206d2907  255904    0.7     0.047101
225099  ecb29aebd97e14e1d202b5c368c4bf5e41bd71c2  255904    0.7     0.040000
225100  fd1fbe2905f508691558777b0f06d1008ea1c8bc  255904    0.7     0.044444
225101  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  255904    0.7     0.026846

[225102 rows x 4 columns]

CLUSTER:  349

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225707  ff7c782aa4b5f15e359406784853642b5062c3a9  268070    0.7     0.581395
225708  ff7c782aa4b5f15e359406784853642b5062c3a9  279190    0.7     0.581395
225709  ff7c782aa4b5f15e359406784853642b5062c3a9  279778    0.7     0.581395
225710  ff7c782aa4b5f15e359406784853642b5062c3a9  287215    0.7     0.581395
225711  ff7c782aa4b5f15e359406784853642b5062c3a9  287216    0.7     0.581395

[225712 rows x 4 columns]

CLUSTER:  179

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225804  fc9357d57af6fe08f42b38ea2512be6de04adce1  531825    0.7     0.473684
225805  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  320767    0.7     0.500000
225806  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  356473    0.7     0.500000
225807  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  525256    0.7     0.500000
225808  ff90a4a164a8a868ede2774f4be03d5cb97e5c34  531825    0.7     0.500000

[225809 rows x 4 columns]

CLUSTER:  183

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225854  e3735c42377323a4d03ca6903564a5ebef308468  255831    0.7     0.030303
225855  e68a66e947e3834298b34c13898038cd09d39c41  255831    0.7     0.066667
225856  eff5b9255b5f3a4d18bb4397e295f9974e8148ca  255831    0.7     0.026144
225857  f8bde0e2b6c339140f5a3fbeb24dd3c2f496042b  255831    0.7     0.047619
225858  f8cb03a6663467465dd28d89e475f4497d2fed81  255831    0.7     0.023529

[225859 rows x 4 columns]

CLUSTER:  871

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225908  e05fd4e3d310e1f3d8f3699d57a5f3eaebb8ec60  328289    0.7     0.020121
225909  e343e26aca11e1e01993d58ff28ec1ede482586b  328289    0.7     0.006211
225910  e9d09f83d2d6c7eb9573c598a1ea96669b9fdf39  328289    0.7     0.026316
225911  ed1b79ff4dcf07f3f83c22da4de04336b9c17322  328289    0.7     0.114286
225912  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  328289    0.7     0.006849

[225913 rows x 4 columns]

CLUSTER:  783

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
225989  dfb7ddcaeb214ceb5cc9578d3ad19fabd1d9ecf0  361776    0.7     0.153846
225990  e92c804ce14f600ed84580e364751545749e84a9  267441    0.7     0.031746
225991  f237b0e26f22f62e269f23c13aa14b56d7e5fee1  267441    0.7     0.357143
225992  f237b0e26f22f62e269f23c13aa14b56d7e5fee1  361776    0.7     0.357143
225993  f237b0e26f22f62e269f23c13aa14b56d7e5fee1  601825    0.7     0.357143

[225994 rows x 4 columns]

CLUSTER:  948

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226030  a78193921f72b920089149dfef5bc835e4bb351b  289599    0.7     0.023392
226031  ce9bee2c7e13712eb0a6b0a0b8ca9d90f90ce038  261171    0.7     0.029851
226032  e606182860473be3c8376df59cbbf19be10b84d0  261171    0.7     0.033333
226033  f60024c27597c5f3f60db5dbf97caa000cbbcc42  261171    0.7     0.015152
226034  f6c73fa1bd41a039d7a0f437fb2daf0652f222b1  261171    0.7     0.005208

[226035 rows x 4 columns]

CLUSTER:  146

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226153  d909bbde03c28ceaab8874fd1c8972d5e58bd838  256280    0.7     0.013514
226154  daab3322d226e0885daf9ef8a521a53ccc21c2d7  256280    0.7     0.003155
226155  eff5b9255b5f3a4d18bb4397e295f9974e8148ca  256280    0.7     0.006536
226156  fc2ce2a8338282687722682a5314759132db920c  256280    0.7     0.130435
226157  feaf1269b7319434a2d2b525e6006529c5def2cb  256280    0.7     0.045455

[226158 rows x 4 columns]

CLUSTER:  418

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226655  f9560f521fad6a4ca2aec9b1474ed30ff900afcd  270324    0.7     0.050633
226656  fbc5b3182634e138af6eae07540046d8fbe1a0ec  270324    0.7     0.003503
226657  fcb9389b631e9d1fcfc369d7652c2cd9893be977  270324    0.7     0.017986
226658  fe045f566a51a0af398af0ba38893a9f07c14afe  270324    0.7     0.077810
226659  fe2a7092cc389d4cbb513cf90d15394e6b6dbe81  270324    0.7     0.017857

[226660 rows x 4 columns]

CLUSTER:  69

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226765  f3c4513dabe0f63a0b7438a12e0ba2982253470a  357301    0.7     0.200000
226766  f3c4513dabe0f63a0b7438a12e0ba2982253470a  534040    0.7     0.200000
226767  f78238b670c5305b5028803c6004025e72b0546e  357301    0.7     0.035294
226768  f7f80e94f759c80a043c06cf7e1e2dd17be0d1cc  357301    0.7     0.022727
226769  fa24ef9ff8df29c608b7ad96e22d24dea5d8b10f  357301    0.7     0.016722

[226770 rows x 4 columns]

CLUSTER:  638

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226805  e4cf6512d10666e48398e910561c4241cc817c27  349262    0.7     0.500000
226806  e4cf6512d10666e48398e910561c4241cc817c27  353122    0.7     0.500000
226807  e4cf6512d10666e48398e910561c4241cc817c27  551025    0.7     0.500000
226808  ec3e8580db45f9b7f518deb8fe2be1be3d88db6d  288791    0.7     0.015686
226809  fad7dca142b3718a4235b6727d44b4179bddee5c  288791    0.7     0.072727

[226810 rows x 4 columns]

CLUSTER:  898

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226841  e25ff1c796d5e523b92ca8e6bd687a4c90b90668  311351    0.7     0.039370
226842  e64579df6a6f5b0dd7ce826da46353802933be03  311351    0.7     0.008547
226843  e9b429a431f59ee6762f1d4ec1086e386f4682fc  311351    0.7     0.009615
226844  f15a6562055bbb711f83193930f21627b9734bfd  311351    0.7     0.086957
226845  f31e9866c7530614810fba020c6c7b20fdec6f35  311351    0.7     0.080000

[226846 rows x 4 columns]

CLUSTER:  904

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
226862  da19ea59d5d8f18338a257180c9d05773eef75d7  313150    0.7     0.142857
226863  da19ea59d5d8f18338a257180c9d05773eef75d7  313153    0.7     0.142857
226864  e64042e7397091f55e23607d4a49ba300ebd47cf  312732    0.7     0.048387
226865  e7f1870663b1b6958a764ac936b6f5412fbae13f  312732    0.7     0.006173
226866  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  312732    0.7     0.017544

[226867 rows x 4 columns]

CLUSTER:  820

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227083  f6b85791b718695ecda590e14dffacb016cde1da  274312    0.7     0.023364
227084  f932590c4901a27f3460a9ea0a64f6c3de59c592  274312    0.7     0.030303
227085  f9560f521fad6a4ca2aec9b1474ed30ff900afcd  274312    0.7     0.025316
227086  feace9a190aef744dfda2223d09ff45066c473d3  274312    0.7     0.250000
227087  feace9a190aef744dfda2223d09ff45066c473d3  277223    0.7     0.250000

[227088 rows x 4 columns]

CLUSTER:  123

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227194  ec72825c0c51a7c91da87fb2872ebf24e3736531  364049    0.7     0.500000
227195  ec72825c0c51a7c91da87fb2872ebf24e3736531  538077    0.7     0.500000
227196  eecda918c8dc37faade1ce77836fa56810d4fc95  256963    0.7     0.041494
227197  efa6db1fe7e0d4637876c5950470bed0775912aa  256963    0.7     0.010870
227198  f63552625a8f11dced3daf70d81348898dc20d56  256963    0.7     0.080000

[227199 rows x 4 columns]

CLUSTER:  135

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227250  e19a53a3e84279222de0ded375187af22048b213  256111    0.7     0.135135
227251  e734a6a59558b4dbdf1fa9b8e299d0f26c641ca0  256111    0.7     0.333333
227252  e734a6a59558b4dbdf1fa9b8e299d0f26c641ca0  256461    0.7     0.333333
227253  e734a6a59558b4dbdf1fa9b8e299d0f26c641ca0  279686    0.7     0.333333
227254  e8e5e87c64d8e29e65eac39d7bb92bc7a6293059  256111    0.7     0.015564

[227255 rows x 4 columns]

CLUSTER:  691

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227332  f2a5218821597663089dadd1fd63751bcb4071f4  260252    0.7     0.124088
227333  f2b93fd1b7188d8dacaad569665492c7903e5d40  260252    0.7     0.007874
227334  f693d171a9c62e35c57d2937932f06d72204a323  260252    0.7     0.062500
227335  fd2808d6b5512216edace855167012d73003cf50  260252    0.7     0.285714
227336  fd2808d6b5512216edace855167012d73003cf50  260293    0.7     0.285714

[227337 rows x 4 columns]

CLUSTER:  607

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227339  a62d495c87837a66849e5e2bcbee868070fcb94c  523232    0.7     0.009662
227340  a6727e6c12c4521f110d5877ba6b9f9d997a9981  523232    0.7     0.048780
227341  a941c11ff4413a032f301b785765946e62f70290  523232    0.7     0.023810
227342  d4145de7bb1a1ebc7fdd363ce87868f5ac13762e  523232    0.7     0.038462
227343  f73e0277ddb09490b92d38212eeb59dce753f836  523232    0.7     0.047619

[227344 rows x 4 columns]

CLUSTER:  911

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227362  905bab1d40b0f3e10c076704bb0e737f4ad99d36  866209    0.7     0.500000
227363  905bab1d40b0f3e10c076704bb0e737f4ad99d36  883442    0.7     0.500000
227364  92a8fdeafd821234e37bd98df926fe2d8c8dd4bd  334387    0.7     0.070175
227365  bfecc07fefbcf0c3f3f033e6871a0daa78bb582c  334387    0.7     0.001957
227366  c9baba6993df9e16f59d90a0d069d656ed70272b  334387    0.7     0.002639

[227367 rows x 4 columns]

CLUSTER:  273

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
227443  f3170dc1750bc8e554dc0055bb9f5af43a30de20  358477    0.7          1.0
227444  f3170dc1750bc8e554dc0055bb9f5af43a30de20  607487    0.7          1.0
227445  f3170dc1750bc8e554dc0055bb9f5af43a30de20  639576    0.7          1.0
227446  f3170dc1750bc8e554dc0055bb9f5af43a30de20  799260    0.7          1.0
227447  f3170dc1750bc8e554dc0055bb9f5af43a30de20  819775    0.7          1.0

[227448 rows x 4 columns]

CLUSTER:  945

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227531  e7d47e650733fa95c0996e698f74054d51c2fb62  341355    0.7     1.000000
227532  e7d47e650733fa95c0996e698f74054d51c2fb62  354447    0.7     1.000000
227533  e80f443f834b051f9c6ec947ad70c2c5648d6250  270954    0.7     0.031792
227534  f4b18c370089f4e0a6f74aa6d4389cd6531f9cd7  270954    0.7     0.006309
227535  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  270954    0.7     0.008772

[227536 rows x 4 columns]

CLUSTER:  134

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
227555  f95e126a586f370c990dfd48612c2417ea843289  256110    0.7          0.6
227556  f95e126a586f370c990dfd48612c2417ea843289  350317    0.7          0.6
227557  f95e126a586f370c990dfd48612c2417ea843289  355652    0.7          0.6
227558  f95e126a586f370c990dfd48612c2417ea843289  795701    0.7          0.6
227559  f95e126a586f370c990dfd48612c2417ea843289  914715    0.7          0.6

[227560 rows x 4 columns]

CLUSTER:  182

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227621  f2ede3b62a6aca56633a3735f9f93b7038edc070  265863    0.7     0.188811
227622  f2ede3b62a6aca56633a3735f9f93b7038edc070  265870    0.7     0.188811
227623  f57a5f6521b8a814cae15145130287ed4e37dfc0  265863    0.7     0.333333
227624  f57a5f6521b8a814cae15145130287ed4e37dfc0  265870    0.7     0.333333
227625  f57a5f6521b8a814cae15145130287ed4e37dfc0  265874    0.7     0.333333

[227626 rows x 4 columns]

CLUSTER:  186

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227649  ade88ff85e59cc5b64dbbbb4828243fb68418291  258849    0.7     0.051613
227650  cd5fd8b0da33faa8e43908512bd70e20dc5cba5f  258849    0.7     0.003401
227651  d343856d03debb0fab9811ba6c756d0199530e54  258849    0.7     0.018957
227652  dabcd47c1df38a601d1f3ac6e6160c5859e9ac52  258849    0.7     0.007143
227653  f0dd25d131bf9972794195041857486defceb8d5  258849    0.7     0.011173

[227654 rows x 4 columns]

CLUSTER:  188

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227787  eff5b9255b5f3a4d18bb4397e295f9974e8148ca  266120    0.7     0.078431
227788  f1604e958847640c40e4de0e4b2ed19fd297374f  266120    0.7     0.045977
227789  f498cdbbdaa4de6830e66db7a39cce4737504d33  266120    0.7     0.070175
227790  f4b314213dec5a088fbc192f9c183a49e92e2062  266120    0.7     0.013699
227791  fd5e1768a0d40482338d217859af33ef67df9578  266120    0.7     0.021505

[227792 rows x 4 columns]

CLUSTER:  189

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
227976  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  255823    0.7     0.400000
227977  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  257296    0.7     0.400000
227978  fedd3cfd0d2d72d88d2605c6be4fca860f081bc9  257299    0.7     0.400000
227979  ff05e71b488ced6f05de2fb66220693e5b93fbaa  255823    0.7     0.055556
227980  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  255823    0.7     0.013699

[227981 rows x 4 columns]

CLUSTER:  190

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228123  f0862449b95c1030ad3e5f01be0636f11e725d84  270131    0.7     0.250000
228124  f2ef16503ce82416bb8aec1cae7b0e58aa2ef368  270043    0.7     0.181818
228125  f2ef16503ce82416bb8aec1cae7b0e58aa2ef368  270131    0.7     0.181818
228126  f2f2a012f451f25592a978b42ca8db9184853634  270043    0.7     0.055172
228127  f58db741ca9f4163e076db738e5573ad94223435  270043    0.7     0.055556

[228128 rows x 4 columns]

CLUSTER:  211

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228218  f58d4e2997ef075e32705664045998d28243cf2b  255796    0.7     0.043796
228219  f73544c35031d07a1d321c652a45c8a70c062065  255796    0.7     0.035088
228220  f8bde0e2b6c339140f5a3fbeb24dd3c2f496042b  255796    0.7     0.047619
228221  fe89fcceaa2bcc3a92047b3c6f4f8f8b1fa47a20  255796    0.7     0.013699
228222  ff570a8fe9f8f5f96bdb9224e1fe14ded064e61d  255796    0.7     0.034247

[228223 rows x 4 columns]

CLUSTER:  222

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228279  f97837727b6e7ad3ab3f839c3a8301d83f05b0aa  270753    0.7     0.148148
228280  f97837727b6e7ad3ab3f839c3a8301d83f05b0aa  270762    0.7     0.148148
228281  fa3161260f2d55271807435c3c76038820df4cfa  270753    0.7     0.250000
228282  fa3161260f2d55271807435c3c76038820df4cfa  270762    0.7     0.250000
228283  fa4eb842d88d613e9919314df5f74162e369100d  270753    0.7     0.058824

[228284 rows x 4 columns]

CLUSTER:  225

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228403  f3b3c78220b9e344e61f038d97a622ebf0eb8d70  255818    0.7     0.079365
228404  f8007b09b7eb3ee2c697f3417f5d0a7ce335d65e  255818    0.7     0.045455
228405  f8e896d1d70725fbda6f5aef52e16f458ab8a5c0  255818    0.7     0.086957
228406  fc8368b80f71bc76f578b6f42b2d9c00646bc334  255818    0.7     0.040000
228407  fc92dfda413e5b619c324399e902e699157ded35  255818    0.7     0.077295

[228408 rows x 4 columns]

CLUSTER:  239

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
228448  ff7e21770a973ffb525dc49cb0ee103d282a9f7d  323023    0.7          0.5
228449  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  271854    0.7          0.5
228450  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  271903    0.7          0.5
228451  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  323023    0.7          0.5
228452  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  341074    0.7          0.5

[228453 rows x 4 columns]

CLUSTER:  247

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
228448  ff7e21770a973ffb525dc49cb0ee103d282a9f7d  323023    0.7          0.5
228449  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  271854    0.7          0.5
228450  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  271903    0.7          0.5
228451  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  323023    0.7          0.5
228452  ffb5a9e25dc376b8471c074eb05e81a0a3750e0d  341074    0.7          0.5

[228453 rows x 4 columns]

CLUSTER:  253

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228498  d2681721296755c3dd48f973b45ed306830cb42e  258684    0.7     0.009146
228499  d50101e30a0c0741127c7e67e363860cbd09ead0  258684    0.7     0.066667
228500  e35db8823eaa99f054744307002448a92d493a1f  258684    0.7     0.064516
228501  ef31fee232247bbd9a04c9d3aed52c7f3acfd26d  258684    0.7     0.038462
228502  fbc5b3182634e138af6eae07540046d8fbe1a0ec  258684    0.7     0.001751

[228503 rows x 4 columns]

CLUSTER:  926

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7         1.00
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7         1.00
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7         1.00
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7         1.00
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7         1.00
...                                          ...     ...    ...          ...
228572  f7c43852a4b4daa21475cbe4ab6d25347921e7b8  336784    0.7         1.00
228573  f7c43852a4b4daa21475cbe4ab6d25347921e7b8  336851    0.7         1.00
228574  f7c43852a4b4daa21475cbe4ab6d25347921e7b8  354159    0.7         1.00
228575  f7c43852a4b4daa21475cbe4ab6d25347921e7b8  549590    0.7         1.00
228576  fbfcf62e0ad4aa2cf2604bafcd28d26fd2edb59d  281305    0.7         0.04

[228577 rows x 4 columns]

CLUSTER:  746

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
228850  ed0c4f203611a1bb87edf87f261211a4b597ce7d  319601    0.7     0.012821
228851  f0787fd8c681b3428e998b6355d86bccce6f346a  319601    0.7     0.043478
228852  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  319601    0.7     0.016548
228853  f8cf3a0059220075a1bf0a51a0539e8319a32864  319601    0.7     0.024390
228854  fe0c1eff87c6b02ef95e8d262f1b9b12c99c664a  319601    0.7     0.058824

[228855 rows x 4 columns]

CLUSTER:  811

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229192  fb85e6dd71ac44adf67b01c724e3a671baf94672  278713    0.7     0.076923
229193  fcbb2b28a67d4d54bef2b4d0142643c23240fcb4  278713    0.7     0.101266
229194  fd87dd24d4f9d7976066ebd0203381fb7144907a  278713    0.7     0.285714
229195  fd87dd24d4f9d7976066ebd0203381fb7144907a  278733    0.7     0.285714
229196  ff29e537372aef3370837245a1f80ca929c8f5db  278713    0.7     0.027972

[229197 rows x 4 columns]

CLUSTER:  660

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229382  ea534dae40a82967731ec2c812b5848d498c0b3e  277235    0.7     0.021277
229383  ed1bb1e7946fbd4014838001043fe43ec2e999b2  277235    0.7     0.012903
229384  edba6c8e4a45abb8c76225efc0e0ae6cb6ccaf1e  277235    0.7     0.090909
229385  f5b745b968522a214f21b66057b2d61fd91a2eea  277235    0.7     0.004310
229386  ffcc6f19a01a8ddb93e50e04027aa74821eaf0cc  277235    0.7     0.125000

[229387 rows x 4 columns]

CLUSTER:  951

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229528  ff1c9148b686bfe19d232b4b13d72b72ca701c95  271263    0.7     0.014286
229529  ff6aba19e56804134768d21fbe43fcc9aa450221  271263    0.7     0.500000
229530  ff6aba19e56804134768d21fbe43fcc9aa450221  271285    0.7     0.500000
229531  ff6aba19e56804134768d21fbe43fcc9aa450221  271287    0.7     0.500000
229532  ff6aba19e56804134768d21fbe43fcc9aa450221  289606    0.7     0.500000

[229533 rows x 4 columns]

CLUSTER:  725

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229786  f2d3e7124e435dcf0fe93adf20b0dbce82ef7d41  259819    0.7     0.250000
229787  f6b5f889d9b1af5d5dbb75ca7d9cd9596c616b3e  258649    0.7     0.047619
229788  f78238b670c5305b5028803c6004025e72b0546e  258649    0.7     0.011765
229789  fefa453b4101d894073b31d4ed031f3cbfc2f939  258649    0.7     0.142857
229790  fefa453b4101d894073b31d4ed031f3cbfc2f939  259819    0.7     0.142857

[229791 rows x 4 columns]

CLUSTER:  228

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229836  dd3cbe91ccab02ff077a7bde8f2d1459345a303f  270953    0.7     0.083333
229837  eda13df8b4c94383a753bbf81acdf5c86ebc8c21  270953    0.7     0.013699
229838  f07e95a0e9438687533587d5ba62bcbd6e2cc86e  270953    0.7     0.095238
229839  f234938fadc422a91a093ece30f611eb0797d4e1  270953    0.7     0.021277
229840  fbc5b3182634e138af6eae07540046d8fbe1a0ec  270953    0.7     0.007005

[229841 rows x 4 columns]

CLUSTER:  251

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229840  fbc5b3182634e138af6eae07540046d8fbe1a0ec  270953    0.7     0.007005
229841  03b6a61bf17cb85da06524057f418f95ec97a2d8  697598    0.7     0.023529
229842  0e97ff4fd370951dc6299c1873ff24e2dddd907d  272867    0.7     0.005988
229843  4522f0c4d4ab2fff98015f9e128346f3e4c6180f  272867    0.7     0.056818
229844  f8129cab573fb7e2abe4d6a43604e77e3c194dc4  272867    0.7     0.025641

[229845 rows x 4 columns]

CLUSTER:  962

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229848  6ed7f9c4bf427bf63b50320a6321b6f857e6c1a4  271454    0.7     0.090909
229849  bc63183a1b9dbf6dff9202a64ad1b781febb6755  271454    0.7     0.007092
229850  caa93f58cf739de87567d07f88b11b509e70c7af  271454    0.7     0.015385
229851  e3a52dbd65ba98b32218ceb22340c718477c6d0d  271454    0.7     0.200000
229852  e3a52dbd65ba98b32218ceb22340c718477c6d0d  355389    0.7     0.200000

[229853 rows x 4 columns]

CLUSTER:  776

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
229929  f1ee06ae41380529eb3c56ad53fe3d9c3871e260  763417    0.7     0.083333
229930  f2b5e0d4628742318e3e11f9b0535c8a9f2c723b  763417    0.7     0.039604
229931  fd2f0549036c243a1b15ba6cc59c98ba6fea6bae  763417    0.7     0.010417
229932  fffb2be68fef4b27a810b11a641d84052eb02347  763417    0.7     0.250000
229933  fffb2be68fef4b27a810b11a641d84052eb02347  763420    0.7     0.250000

[229934 rows x 4 columns]

CLUSTER:  778

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230207  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  267154    0.7     0.007092
230208  f9226844b76573d5ae869700d75b44d42f017cd8  267154    0.7     0.136364
230209  fcdd027b9203a14c89bfc49c5bcf8ff980857808  267154    0.7     0.031250
230210  fd2f0549036c243a1b15ba6cc59c98ba6fea6bae  267154    0.7     0.010417
230211  fdc800a601eb9b5b7720880be7d944328bf1ba2e  267154    0.7     0.075000

[230212 rows x 4 columns]

CLUSTER:  730

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230317  f1864a9eb07f707018a110f29490b90cd986d339  261023    0.7     0.142857
230318  f1864a9eb07f707018a110f29490b90cd986d339  314047    0.7     0.142857
230319  f7f80e94f759c80a043c06cf7e1e2dd17be0d1cc  261023    0.7     0.017045
230320  f879fffd9b5d10abccf60536ee4a37df62fda8a1  261023    0.7     0.102564
230321  fb61bf678cf1157be60c326dc466627d71dca9a6  261023    0.7     0.105263

[230322 rows x 4 columns]

CLUSTER:  949

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230382  e8bbd5ef3a362e7d0551ce3f6ad97792da0f43a0  261193    0.7     0.012500
230383  f0fde208ef4ec8a4f54f170800bdb591fd773fc7  261193    0.7     0.333333
230384  f0fde208ef4ec8a4f54f170800bdb591fd773fc7  271235    0.7     0.333333
230385  f0fde208ef4ec8a4f54f170800bdb591fd773fc7  271241    0.7     0.333333
230386  fb82ed56ac7234004f47ae0115d8ece3919f1489  261193    0.7     0.076923

[230387 rows x 4 columns]

CLUSTER:  952

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230513  edba6c8e4a45abb8c76225efc0e0ae6cb6ccaf1e  518414    0.7     0.181818
230514  f07d9dfc2d36e955a1176c3f1dd84f4db5d3fe62  268926    0.7     0.045455
230515  f0b9e7fb0cb745f80a848acb2349e827935c32ce  268926    0.7     0.009569
230516  fba0ce17dc29938c7bdae65ca5b120060d341d82  268926    0.7     0.009615
230517  ff1c9148b686bfe19d232b4b13d72b72ca701c95  268926    0.7     0.028571

[230518 rows x 4 columns]

CLUSTER:  133

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
230856  ffff06c13f23ab304cfcb83035a1cecab8f5492d  282278    0.7          1.0
230857  ffff06c13f23ab304cfcb83035a1cecab8f5492d  296119    0.7          1.0
230858  ffff06c13f23ab304cfcb83035a1cecab8f5492d  296161    0.7          1.0
230859  ffff06c13f23ab304cfcb83035a1cecab8f5492d  296166    0.7          1.0
230860  ffff06c13f23ab304cfcb83035a1cecab8f5492d  296168    0.7          1.0

[230861 rows x 4 columns]

CLUSTER:  498

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230937  f31e9866c7530614810fba020c6c7b20fdec6f35  257018    0.7     0.120000
230938  f4dd899e32e90852950b8acb0b853dca22c39d29  257018    0.7     0.553459
230939  f4dd899e32e90852950b8acb0b853dca22c39d29  257549    0.7     0.553459
230940  f4dd899e32e90852950b8acb0b853dca22c39d29  272998    0.7     0.553459
230941  f4dd899e32e90852950b8acb0b853dca22c39d29  276372    0.7     0.553459

[230942 rows x 4 columns]

CLUSTER:  508

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230984  efbeced96487031c15792d231e42d7de42dafee9  705297    0.7     0.333333
230985  efbeced96487031c15792d231e42d7de42dafee9  818673    0.7     0.333333
230986  f59315ff64f3e0bfa5122ce3f9b0a01a762dd53b  288302    0.7     0.250000
230987  f59315ff64f3e0bfa5122ce3f9b0a01a762dd53b  352423    0.7     0.250000
230988  fa24ef9ff8df29c608b7ad96e22d24dea5d8b10f  288302    0.7     0.010033

[230989 rows x 4 columns]

CLUSTER:  677

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
230995  91166b27d5d138dc073cfa6bd1585fa01116799b  720229    0.7     0.500000
230996  91166b27d5d138dc073cfa6bd1585fa01116799b  755083    0.7     0.500000
230997  91166b27d5d138dc073cfa6bd1585fa01116799b  883470    0.7     0.500000
230998  9787e888647279578dc3f0c5ffd79dfc28a0f571  533279    0.7     0.125000
230999  c3e2c85d4f0b99069562e5a7a2e7643656cdd5fd  293711    0.7     0.006231

[231000 rows x 4 columns]

CLUSTER:  702

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231053  e2515151def98ca33bce2cc83b93e01ad05b534e  258742    0.7     0.016667
231054  e8fb97ea478c0104ebcc19c620ffa08c0e8cb32d  258742    0.7     0.042683
231055  f8a4e7380399d0e5945e2c66b950eeb7c5607d5d  258742    0.7     0.030928
231056  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  258742    0.7     0.009456
231057  fe1b823cf30c0868fb57869751be5885c8d18cd1  258742    0.7     0.030303

[231058 rows x 4 columns]

CLUSTER:  714

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231056  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  258742    0.7     0.009456
231057  fe1b823cf30c0868fb57869751be5885c8d18cd1  258742    0.7     0.030303
231058  03cf0b5afd9ac46bdfdd1be67704bae2196e0f5b  855962    0.7     0.023077
231059  5adac708350639563e1c64bc2e7c9acc02a0029d  855962    0.7     0.034783
231060  65a5bf262bb08663a5199ad478b38e0ca0e14c2a  855962    0.7     0.095238

[231061 rows x 4 columns]

CLUSTER:  717

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231065  4ac545de8dc9c9240fc0666e43fc0973f275d656  314505    0.7     0.013304
231066  75186be82e3c1292a960a8a2395fc7cb1de56346  314505    0.7     0.007299
231067  77f0100e476dedbcb469a4c3000deb7412af386a  314505    0.7     0.020101
231068  89297f1f2744c423f6d9828039c8c9774ffe436a  833687    0.7     0.069307
231069  9629b828e7b7785c71ec9ff68124586401af981b  314505    0.7     0.003937

[231070 rows x 4 columns]

CLUSTER:  752

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231136  d227147203506b5fa30ec4f636a5e68b93ebee19  257432    0.7     0.004464
231137  dc39d732ce20d3fc22408f0ebec377570bbf0afb  257432    0.7     0.363636
231138  dc39d732ce20d3fc22408f0ebec377570bbf0afb  262662    0.7     0.363636
231139  dc39d732ce20d3fc22408f0ebec377570bbf0afb  262665    0.7     0.363636
231140  e4e588eea1b79fd542ecd6d422d6116e485dab07  257432    0.7     0.032258

[231141 rows x 4 columns]

CLUSTER:  757

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7          1.0
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7          1.0
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7          1.0
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7          1.0
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7          1.0
...                                          ...     ...    ...          ...
231170  e540820632b9a9264f0de3fba75cad2229b38935  702237    0.7          0.3
231171  f5e488ae34d0f1bbb4f34f2f15288c814fba8b18  262713    0.7          0.5
231172  f5e488ae34d0f1bbb4f34f2f15288c814fba8b18  531487    0.7          0.5
231173  f5e488ae34d0f1bbb4f34f2f15288c814fba8b18  702237    0.7          0.5
231174  f5e488ae34d0f1bbb4f34f2f15288c814fba8b18  724232    0.7          0.5

[231175 rows x 4 columns]

CLUSTER:  137

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231499  f88a3e4c6b4aa27ae94d4e25b5ea3aac1a034245  256574    0.7     0.235294
231500  faf3f4c4e1f441b972ddbde10fda7376de1efa31  256573    0.7     0.062500
231501  fbc5b3182634e138af6eae07540046d8fbe1a0ec  256573    0.7     0.042907
231502  fe963d67cba6fce2d09881e64e75a22ea8c2137e  256573    0.7     0.233333
231503  fe963d67cba6fce2d09881e64e75a22ea8c2137e  256574    0.7     0.233333

[231504 rows x 4 columns]

CLUSTER:  361

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231775  f58db741ca9f4163e076db738e5573ad94223435  308454    0.7     0.333333
231776  f8a4e7380399d0e5945e2c66b950eeb7c5607d5d  282041    0.7     0.020619
231777  fdf9cc3e2af1ab8f17f47ba6f350a029169c6c40  282041    0.7     0.142857
231778  fdf9cc3e2af1ab8f17f47ba6f350a029169c6c40  283066    0.7     0.142857
231779  fff735f54719b720fc4c6c723208ad1f06e9605e  282041    0.7     0.017241

[231780 rows x 4 columns]

CLUSTER:  395

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231801  c9baba6993df9e16f59d90a0d069d656ed70272b  318787    0.7     0.001319
231802  d860f7afb9f46efc5c618cc8752855f7f18a4905  318787    0.7     0.082474
231803  de7a9564df468f9b5a9bece3edb259251e285541  318787    0.7     0.009524
231804  e98e7a46beee9ea9102ca52a14b277ddbfa9470a  318787    0.7     0.027778
231805  fc2b12ddcab515a0e8fd26b47b50f87b3b519bcc  318787    0.7     0.108108

[231806 rows x 4 columns]

CLUSTER:  292

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
231876  f05a3ee2fe86d4866c13ea9a4033755643f80c67  275004    0.7     0.085714
231877  f2f250cc29169fb0255a7d40c37e024a921d0824  275004    0.7     0.033613
231878  f788544e81612e4c6b0e2efab0431d38bdf6a4a7  275004    0.7     0.006173
231879  f80a3f3ce48e37ec7ea11f99663dbe927bbe6b17  275004    0.7     0.049383
231880  fc047cbfad1c037438e15f7baaa6b755bfd091d4  275004    0.7     0.025000

[231881 rows x 4 columns]

CLUSTER:  329

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232021  f60024c27597c5f3f60db5dbf97caa000cbbcc42  273262    0.7     0.015152
232022  fb5af0da71fa64c49b5a3e6d107c508a18b88d1a  273262    0.7     0.008197
232023  fbfdbc72ff82b4ce31b12210610f439ec3349b0d  273262    0.7     0.056604
232024  fd7322fb943763b0e55f93872cd236cbfe93a0f3  273262    0.7     0.085106
232025  feaf1269b7319434a2d2b525e6006529c5def2cb  273262    0.7     0.045455

[232026 rows x 4 columns]

CLUSTER:  735

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232062  ca2f2afb67e6c982df7160ee6364dac92c706287  261105    0.7     0.125000
232063  cb96c017c3abc2768d4e8d3e6b13fce1699509e8  261105    0.7     0.018868
232064  dae60b9c28cdd35fdd7f1c7b50eda623ca1979c6  261105    0.7     0.200000
232065  dae60b9c28cdd35fdd7f1c7b50eda623ca1979c6  261110    0.7     0.200000
232066  e2515151def98ca33bce2cc83b93e01ad05b534e  261105    0.7     0.008333

[232067 rows x 4 columns]

CLUSTER:  744

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232326  fc1b6977192ebf5961c26521398d97aeac83536c  261783    0.7     0.100000
232327  fefe0c50844f6fc390a2dad054ae4f69bf689447  261783    0.7     0.333333
232328  fefe0c50844f6fc390a2dad054ae4f69bf689447  261804    0.7     0.333333
232329  fefe0c50844f6fc390a2dad054ae4f69bf689447  261872    0.7     0.333333
232330  ff6d082c64341dda8deafe92b49259242fab86ff  261783    0.7     0.058824

[232331 rows x 4 columns]

CLUSTER:  894

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232489  fb4b985e6461d157afb185b342d75108944eba55  259506    0.7     0.007042
232490  fc80af70350ac198cd3db68104e3962639049d13  259506    0.7     0.204082
232491  fc80af70350ac198cd3db68104e3962639049d13  311339    0.7     0.204082
232492  fcb9389b631e9d1fcfc369d7652c2cd9893be977  259506    0.7     0.014388
232493  ff2c05c6f553d430e3b3a0bb1e2526a7c780f5be  259506    0.7     0.033333

[232494 rows x 4 columns]

CLUSTER:  354

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232575  f014b3be1c37268442ffd90602047eaa004bcce5  314119    0.7     1.000000
232576  f014b3be1c37268442ffd90602047eaa004bcce5  333530    0.7     1.000000
232577  f014b3be1c37268442ffd90602047eaa004bcce5  333687    0.7     1.000000
232578  f5eb2e54d2163873aacf27a43db86b3a0cc3edf2  284374    0.7     0.003273
232579  fd0386986b06856e122aa1c52b4d5ae6f3ad107c  284374    0.7     0.041667

[232580 rows x 4 columns]

CLUSTER:  973

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232794  fbfcf62e0ad4aa2cf2604bafcd28d26fd2edb59d  257474    0.7     0.066667
232795  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  257474    0.7     0.500000
232796  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  276047    0.7     0.500000
232797  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  276138    0.7     0.500000
232798  fc325183fc8298bc8fb83f8cae7cb1cce38cfa5c  278279    0.7     0.500000

[232799 rows x 4 columns]

CLUSTER:  154

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
232994  f52e14883697c236da3f7365c0aa379c74bf61f2  255871    0.7     0.130435
232995  f5cb2c95f568458b13e32ca9e9168e95cdabec04  255871    0.7     0.176471
232996  f5cb2c95f568458b13e32ca9e9168e95cdabec04  258000    0.7     0.176471
232997  fbc5b3182634e138af6eae07540046d8fbe1a0ec  255871    0.7     0.001751
232998  fc567de6203b2dbbca28461f825d0412829eb01b  255871    0.7     0.022727

[232999 rows x 4 columns]

CLUSTER:  960

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233110  ef0e4e7801b15a7c2358a676de45b909f0373285  271437    0.7     0.007712
233111  ef8a886582abb2f4db26acfdb6d37ba21b87b5e5  271433    0.7     0.005952
233112  f6a5db86b72089be5d4a75fe418e9b8746437cdc  271433    0.7     0.111111
233113  fe1569e4c93a3b8241c466b33f41556ab4631997  271433    0.7     0.083333
233114  ff1c9148b686bfe19d232b4b13d72b72ca701c95  271433    0.7     0.057143

[233115 rows x 4 columns]

CLUSTER:  688

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233140  ee619b23f03a5b95e7d51e5973603211e2fb9e61  816256    0.7     0.428571
233141  ee619b23f03a5b95e7d51e5973603211e2fb9e61  821022    0.7     0.428571
233142  ee619b23f03a5b95e7d51e5973603211e2fb9e61  845934    0.7     0.428571
233143  f490350ed37169078de81078ac5ab0c6991cf460  816169    0.7     0.012048
233144  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  816169    0.7     0.032787

[233145 rows x 4 columns]

CLUSTER:  299

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233243  e88f26613219b017377d226f0293f986860d2799  258678    0.7     0.025974
233244  ee6905ad4b4ea75606e6233b2aa59e22673bfaab  258678    0.7     0.071429
233245  f68fa8c2be82ee506f60cc22011ee559a17be3eb  258678    0.7     0.034483
233246  fb82ed56ac7234004f47ae0115d8ece3919f1489  258678    0.7     0.076923
233247  fd33fc302864c7ba8bc3d61fb890f4132aecfc24  258678    0.7     0.032787

[233248 rows x 4 columns]

CLUSTER:  352

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233470  f8bde0e2b6c339140f5a3fbeb24dd3c2f496042b  260416    0.7     0.023810
233471  fbfdbc72ff82b4ce31b12210610f439ec3349b0d  260416    0.7     0.226415
233472  fbfdbc72ff82b4ce31b12210610f439ec3349b0d  268649    0.7     0.226415
233473  fe408396eb451a8fc4a412701ea1fa6d9951a3e9  260416    0.7     0.065789
233474  ff7bc2371339c2fcb7b5adf04b3391f5a1f40b33  260416    0.7     0.062500

[233475 rows x 4 columns]

CLUSTER:  543

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233756  f38e6ea4f09538ddbaa42b8e0a11c7083c8626cf  258990    0.7     0.277778
233757  f5b745b968522a214f21b66057b2d61fd91a2eea  255733    0.7     0.004310
233758  fa6fb81f7d732f5dd8a497c540564830f5b9d8c7  255733    0.7     0.214286
233759  fa6fb81f7d732f5dd8a497c540564830f5b9d8c7  258990    0.7     0.214286
233760  fe90d54976fff5379d0a9676ceea203c8092bae1  255733    0.7     0.026316

[233761 rows x 4 columns]

CLUSTER:  396

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233773  8314ff029b877411b9138143abe00da770db6043  288161    0.7     0.181818
233774  923f22e79d2fd054d3929bdc48e3eb5e1dcb1d99  288158    0.7     0.015385
233775  9dd025e31f1b71de6a7ffe5464985bef77186e57  288158    0.7     0.064516
233776  a23b1bc16f60c315d0cb5beae16b801ddf7974f0  288158    0.7     0.074074
233777  bb40f3b060700875d25b081c8f5155bb04d10c95  288158    0.7     0.063492

[233778 rows x 4 columns]

CLUSTER:  573

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233856  d0f2e0e39ed4d9167b023f721597b58745b2f44b  256762    0.7     0.076923
233857  d1ec1513dda1b2800d740253f8ccddc465207ca5  256762    0.7     0.026667
233858  d60ebe5e48762869b760b6f4f477b523408a39f9  256762    0.7     0.038462
233859  f0b72e49690a6d217611cef3fd8e83740fbed148  256762    0.7     0.052632
233860  f88450a77e79f1e00674324eb7c746c725247a42  256762    0.7     0.015228

[233861 rows x 4 columns]

CLUSTER:  513

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
233962  ed0c4f203611a1bb87edf87f261211a4b597ce7d  261680    0.7     0.153846
233963  f1ecbdbffa627ca6a2a33e1f702ad52d7ca67c0e  257375    0.7     0.017021
233964  f5b745b968522a214f21b66057b2d61fd91a2eea  257375    0.7     0.017241
233965  f80661a795f9f5e73ce62a0ba790d1230a9a181c  261680    0.7     0.071429
233966  fed86974c1b264f8d7b6e36200c7ad5ca8ef5a90  257375    0.7     0.012903

[233967 rows x 4 columns]

CLUSTER:  100

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234062  eb92145d1fdb48bf8e8335dc034ad29a42d3b2dd  255887    0.7     0.285714
234063  eb92145d1fdb48bf8e8335dc034ad29a42d3b2dd  255892    0.7     0.285714
234064  f35cecb882e70d317a5d3fca30b23aa478f56906  255887    0.7     0.100000
234065  fbc5b3182634e138af6eae07540046d8fbe1a0ec  255887    0.7     0.031524
234066  fd4acbf9f486521f2d899e7fff031ff8b1e5a007  255887    0.7     0.013423

[234067 rows x 4 columns]

CLUSTER:  326

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234129  f07e95a0e9438687533587d5ba62bcbd6e2cc86e  273173    0.7     0.011905
234130  f0dde21bf8239825a3fd4e4b4bac49b37ef9503a  285353    0.7     0.017143
234131  f4b18c370089f4e0a6f74aa6d4389cd6531f9cd7  273173    0.7     0.003155
234132  fa78ec3eccef31a9a539afd7e038c336e5262894  273173    0.7     0.070588
234133  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  273173    0.7     0.010929

[234134 rows x 4 columns]

CLUSTER:  394

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234287  f99692abbb917f96cedda926a4bb9a02059d2656  314457    0.7     0.315789
234288  f99692abbb917f96cedda926a4bb9a02059d2656  314633    0.7     0.315789
234289  fcef46e75d8a0d1bcd78e235f1a757d9b1857a89  288500    0.7     0.166667
234290  fcef46e75d8a0d1bcd78e235f1a757d9b1857a89  314457    0.7     0.166667
234291  fd53e8aa5f302a6cd7bc70d88e00b9ab0d1567f0  288500    0.7     0.047619

[234292 rows x 4 columns]

CLUSTER:  571

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234346  e5f7d1a25902d73ddac68f247b12504e672f5de3  258501    0.7     0.190476
234347  e5f7d1a25902d73ddac68f247b12504e672f5de3  261133    0.7     0.190476
234348  e9d52b0b5001d4af71c8492dac6c08657d28884e  258501    0.7     0.033898
234349  f3253138b5717bc1477838f0953810159395eed9  258501    0.7     0.125000
234350  fd1d9694d5b2b6a5a7fa53e5cea3842719427b13  258501    0.7     0.021858

[234351 rows x 4 columns]

CLUSTER:  708

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234365  a0b3fb1c096e92f377265edbdeb7a044c6521703  323728    0.7     0.150943
234366  a4c2cd1d7cf8cb1a38c4789c656776f5d9400381  361567    0.7     0.015686
234367  b35ea6a87cf3e74aa73d3f13776eeae573ea6202  258756    0.7     0.085714
234368  b5052466ba5ae45f1ff310d8e21dbe36cbcd174a  258756    0.7     0.017857
234369  d8bcb4857049984d8013e4b3cda96ba8067f7ec0  258756    0.7     0.020408

[234370 rows x 4 columns]

CLUSTER:  836

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234383  d8bcb4857049984d8013e4b3cda96ba8067f7ec0  315952    0.7     0.034014
234384  ece29c0378423a5a6051324493014bc3d135a26c  351490    0.7     0.006608
234385  eff5b9255b5f3a4d18bb4397e295f9974e8148ca  315952    0.7     0.006536
234386  fc567de6203b2dbbca28461f825d0412829eb01b  315952    0.7     0.151515
234387  fc567de6203b2dbbca28461f825d0412829eb01b  351490    0.7     0.151515

[234388 rows x 4 columns]

CLUSTER:  946

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234561  f0ba46c1022eaf63f2176e0dc5fbc1ea32a05881  261280    0.7     0.108108
234562  f0dde21bf8239825a3fd4e4b4bac49b37ef9503a  261445    0.7     0.017143
234563  f223c6b73b01c8e39a2e070dcccf494c42547ea4  261280    0.7     0.136364
234564  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  261280    0.7     0.017544
234565  f5e81a8bd10e3c2f27c4f9cb7e43131ea9973d3f  261280    0.7     0.125000

[234566 rows x 4 columns]

CLUSTER:  961

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234561  f0ba46c1022eaf63f2176e0dc5fbc1ea32a05881  261280    0.7     0.108108
234562  f0dde21bf8239825a3fd4e4b4bac49b37ef9503a  261445    0.7     0.017143
234563  f223c6b73b01c8e39a2e070dcccf494c42547ea4  261280    0.7     0.136364
234564  f5a8cf5866b3782daec0038d8aaeeaccc674dec3  261280    0.7     0.017544
234565  f5e81a8bd10e3c2f27c4f9cb7e43131ea9973d3f  261280    0.7     0.125000

[234566 rows x 4 columns]

CLUSTER:  970

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234713  f79b60c0cbdf3fed43b838d0262600908bcce122  271596    0.7     0.333333
234714  f79b60c0cbdf3fed43b838d0262600908bcce122  271637    0.7     0.333333
234715  f899e361d529dcfd4ebecbebaf391e8b414f4bb8  261398    0.7     0.068966
234716  ffc9639e31d4edee7f1f489137419d65ea15da5e  261398    0.7     0.200000
234717  ffc9639e31d4edee7f1f489137419d65ea15da5e  271596    0.7     0.200000

[234718 rows x 4 columns]

CLUSTER:  353

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234731  d77c091d61edf0711244105c6fbc145422577e09  522229    0.7     0.333333
234732  d77c091d61edf0711244105c6fbc145422577e09  552015    0.7     0.333333
234733  e401ed5042fdb446c3109b2f5a8483faddc5005b  520980    0.7     0.004673
234734  f5b745b968522a214f21b66057b2d61fd91a2eea  522229    0.7     0.017241
234735  f63552625a8f11dced3daf70d81348898dc20d56  520980    0.7     0.020000

[234736 rows x 4 columns]

CLUSTER:  385

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234752  d7cff7f0fcd0bd578974651a982166fed02d007f  281177    0.7     0.073171
234753  e64327c80489107d5808eb40abcf2346526a042a  281177    0.7     0.029412
234754  f8a6c71b5651427c9ab4ccbe2dcdcb69006158a7  281177    0.7     0.016548
234755  fefa453b4101d894073b31d4ed031f3cbfc2f939  281177    0.7     0.142857
234756  fefa453b4101d894073b31d4ed031f3cbfc2f939  334718    0.7     0.142857

[234757 rows x 4 columns]

CLUSTER:  749

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234812  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  262553    0.7     0.666667
234813  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  289203    0.7     0.666667
234814  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  289204    0.7     0.666667
234815  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  642737    0.7     0.666667
234816  ff6cb24d5efcee61c0da71e05ed15fa11a7d14be  724223    0.7     0.666667

[234817 rows x 4 columns]

CLUSTER:  411

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234888  f2e8e09d69e23bf9ecaa8bffacfc305f0061b5a5  346203    0.7     0.169492
234889  f3051441d7d6506eb11989986e9aca398f9f387f  346203    0.7     0.016260
234890  f485b9442fc10542e8c6f5352726980c785b0484  318794    0.7     0.200000
234891  f485b9442fc10542e8c6f5352726980c785b0484  346203    0.7     0.200000
234892  f8c907547cf21a58063f45879c6f36b7094c14c1  318794    0.7     0.034884

[234893 rows x 4 columns]

CLUSTER:  419

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234888  f2e8e09d69e23bf9ecaa8bffacfc305f0061b5a5  346203    0.7     0.169492
234889  f3051441d7d6506eb11989986e9aca398f9f387f  346203    0.7     0.016260
234890  f485b9442fc10542e8c6f5352726980c785b0484  318794    0.7     0.200000
234891  f485b9442fc10542e8c6f5352726980c785b0484  346203    0.7     0.200000
234892  f8c907547cf21a58063f45879c6f36b7094c14c1  318794    0.7     0.034884

[234893 rows x 4 columns]

CLUSTER:  462

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

                                       IDUsuario   Llave  Nivel  Pertenencia
0       00063d52cf68c65d2a569e95c40345c4a305ccc7  211814    0.7     1.000000
1       00063d52cf68c65d2a569e95c40345c4a305ccc7  255792    0.7     1.000000
2       00063d52cf68c65d2a569e95c40345c4a305ccc7  256223    0.7     1.000000
3       00063d52cf68c65d2a569e95c40345c4a305ccc7  256477    0.7     1.000000
4       00063d52cf68c65d2a569e95c40345c4a305ccc7  256510    0.7     1.000000
...                                          ...     ...    ...          ...
234912  8c8e96e5134fbf8b8ae31e05bce2399b424b7965  914670    0.7     1.000000
234913  8c8e96e5134fbf8b8ae31e05bce2399b424b7965  924642    0.7     1.000000
234914  a7359b6302a73bf47eb33df5f94ee6f758f57138  275822    0.7     0.021505
234915  bd2093223b45680f4da908dcb251a1fc2995aa5a  275822    0.7     0.008850
234916  fe045f566a51a0af398af0ba38893a9f07c14afe  275822    0.7     0.040346

[234917 rows x 4 columns]

CLUSTER:  523

<ipython-input-33-d043a82d3f93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = usuarios["Peso"].apply(lambda x: float(x))
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-33-d043a82d3f93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usuarios["Peso"] = (usuarios["Peso"]) / (max_value)
<ipython-input-73-18f587b0e1fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prestamos_cluster["Pertenencia"] = prestamos_cluster["Pertenencia"].astype(float)

KeyboardInterrupt:

In [ ]:
recomendaciones_final_decena = recomendaciones_nivel(pesos_clustering_decena, 0.2, 10)

In [ ]:
recomendaciones_final_centena = recomendaciones_nivel(pesos_clustering_centena, 0.1, 10)
display(recomendaciones_final_centena)

In [411]:
def recomendaciones_usuario(id_usuario, df_recomendaciones):
    recomendaciones_u = df_recomendaciones.loc[df_recomendaciones["IDUsuario"] == id_usuario]
    display(recomendaciones_u)
    return recomendaciones_u

In [419]:
recomendaciones_tres_niveles = pd.DataFrame(columns = ['IDUsuario', 'Llave', 'Nivel'])
recomendaciones_tres_niveles = pd.concat([recomendaciones_tres_niveles, recomendaciones_final_unidad], ignore_index = True)
recomendaciones_tres_niveles = pd.concat([recomendaciones_tres_niveles, recomendaciones_final_decena], ignore_index = True)
recomendaciones_tres_niveles = pd.concat([recomendaciones_tres_niveles, recomendaciones_final_centena], ignore_index = True)

recomendaciones = recomendaciones_usuario('33c7a2220802831409c62333e13f068363a5d768', recomendaciones_tres_niveles)

                                       IDUsuario   Llave  Nivel
16984   33c7a2220802831409c62333e13f068363a5d768  918693    0.7
16985   33c7a2220802831409c62333e13f068363a5d768  864918    0.7
16986   33c7a2220802831409c62333e13f068363a5d768  903848    0.7
169677  33c7a2220802831409c62333e13f068363a5d768  258828    0.7
169678  33c7a2220802831409c62333e13f068363a5d768  897767    0.7
169679  33c7a2220802831409c62333e13f068363a5d768  348787    0.7
213066  33c7a2220802831409c62333e13f068363a5d768  903821    0.7
213067  33c7a2220802831409c62333e13f068363a5d768  849385    0.7
213068  33c7a2220802831409c62333e13f068363a5d768  928308    0.7
301533  33c7a2220802831409c62333e13f068363a5d768  846089    0.2
393042  33c7a2220802831409c62333e13f068363a5d768  741157    0.1

In [420]:
recomendaciones_data = pd.DataFrame(data=recomendaciones)
join_data = pd.DataFrame(data=join)
recomendaciones_completas = pd.merge(recomendaciones_data, join_data, left_on='Llave', right_on='Llave', how='inner')

In [421]:
recomendaciones_completas["Titulo"].unique()

array(['Java how to program early objects Paul Deitel, Harvey Deitel',
       'Ajax, rich internet aplications y desarrollo web para programadores Paul J. Deitel y Harvey M. Deitel ; traductor José Luis Gómez Celador ; editores Víctor Manuel Ruiz Calderón y Susana Krahe Pérez-Rubín',
       'The R book Michael J. Crawley, Imperial college London at Silwood Park, UK.',
       'Programming language pragmatics Michael Lee Scott',
       'Inteligencia artificial fundamentos, práctica y aplicaciones Alberto García Serrano',
       'Hands-on machine learning with Scikit-Learn and TensorFlow concepts, tools, and techniques to build intelligent systems Aurélien Géron',
       'Real analysis Modern techniques and their applications Por Gerald B. Folland',
       'Real analysis Barry Simon',
       'Calculo James Stewart ; traducción Eduardo Ojeda Pena',
       'Arduino curso práctico de formación Óscar Torrente Artero',
       'Process mining data science in action Wil van der Aalst',
       'Fundamentals of database systems Ramez Aziz Elmasri and Shamkant B. Navathe',
       'Data science John D. Kelleher and Brendan Tierney',
       'Matemáticas básicas para economistas con notas históricas y contextos económicos editor Sergio Monsalve ; coautores Ömer Özak, Fernando Puerta',
       'Alexandros to hellenikon paidion Mario Díaz Avila, e libro "A Greek boy at home" a W.H.D. Rouse anno 1909 conscripto',
       'Thai phrasebook & dictionary',
       'The unexpected universe by Loren C. Eiseley'], dtype=object)

In [1]:
import os
os.system('jupyter nbconvert --to html ClusteringYRecomendacionesDifusas.ipynb')

0

In [13]:
pesos_usuarios_unidad['IDUsuario'] = join.IDUsuario.unique()
pesos_usuarios_decena['IDUsuario'] = join.IDUsuario.unique()
pesos_usuarios_centena['IDUsuario'] = join.IDUsuario.unique()
pesos_usuarios_unidad.columns

Index([        720,         540,         512,         712,         741,
               814,         823,         330,         863,         696,
       ...
               114,          34,         673,         447,         600,
               653,         263,          91,         586, 'IDUsuario'],
      dtype='object', length=756)

In [71]:
def pesos_completos_usuario(id_usuario):
    pesos_unidad = pesos_usuarios_unidad.loc[pesos_usuarios_unidad["IDUsuario"] == id_usuario]
    pesos_decena = pesos_usuarios_decena.loc[pesos_usuarios_decena["IDUsuario"] == id_usuario]
    pesos_centena = pesos_usuarios_centena.loc[pesos_usuarios_centena["IDUsuario"] == id_usuario]
    
    pesos_unidad_copy = pesos_unidad.copy()
    pesos_decena_copy = pesos_decena.copy()
    pesos_centena_copy = pesos_centena.copy()
    
    pesos_unidad_copy = pesos_unidad_copy.drop(labels = ["IDUsuario"], axis = 1)
    pesos_decena_copy = pesos_decena_copy.drop(labels = ["IDUsuario"], axis = 1)
    pesos_centena_copy = pesos_centena_copy.drop(labels = ["IDUsuario"], axis = 1)
    
    #Top Deweys
    
    pesos_unidad_copy = pesos_unidad_copy.T
    pesos_decena_copy = pesos_decena_copy.T
    pesos_centena_copy = pesos_centena_copy.T
    
    pesos_unidad_copy = pesos_unidad_copy.sort_values(by=[0], ascending = False)
    pesos_decena_copy = pesos_decena_copy.sort_values(by=[0], ascending = False)
    pesos_centena_copy = pesos_centena_copy.sort_values(by=[0], ascending = False)
    
    pesos_unidad_copy = pesos_unidad_copy.T
    pesos_decena_copy = pesos_decena_copy.T
    pesos_centena_copy = pesos_centena_copy.T
    
    #Top Dewey normalizado
    
    pesos_unidad_norm = normalizar_pesos(pesos_unidad)
    pesos_decena_norm = normalizar_pesos(pesos_decena)
    pesos_centena_norm = normalizar_pesos(pesos_centena)
    
    pesos_unidad_norm_copy = pesos_unidad_norm.copy()
    pesos_decena_norm_copy = pesos_decena_norm.copy()
    pesos_centena_norm_copy = pesos_centena_norm.copy()
    
    pesos_unidad_norm_copy = pesos_unidad_norm_copy.T
    pesos_decena_norm_copy = pesos_decena_norm_copy.T
    pesos_centena_norm_copy = pesos_centena_norm_copy.T
    
    pesos_unidad_norm_copy = pesos_unidad_norm_copy.sort_values(by=[0], ascending = False)
    pesos_decena_norm_copy = pesos_decena_norm_copy.sort_values(by=[0], ascending = False)
    pesos_centena_norm_copy = pesos_centena_norm_copy.sort_values(by=[0], ascending = False)
    
    pesos_unidad_norm_copy = pesos_unidad_norm_copy.T
    pesos_decena_norm_copy = pesos_decena_norm_copy.T
    pesos_centena_norm_copy = pesos_centena_norm_copy.T
    '''
    pesos_unidad_copy['Total'] = pesos_unidad_copy.sum(axis = 1)
    pesos_decena_copy['Total'] = pesos_decena_copy.sum(axis = 1)
    pesos_centena_copy['Total'] = pesos_centena_copy.sum(axis = 1)
    '''
    
    return [pesos_unidad_copy, pesos_decena_copy, pesos_centena_copy, pesos_unidad_norm_copy, pesos_decena_norm_copy, pesos_centena_norm_copy]

In [72]:
pesos_usuario_test = pesos_completos_usuario('c361c772cd0220bb16dcfb2ad803e4903334ab94')
pd.set_option('max_columns',40)
display(pesos_usuario_test[3])
display(pesos_usuario_test[4])
display(pesos_usuario_test[5])

,720,378,428,726,711,770,155,746,582,584,771,589,725,586,728,458,637,544,535,587,...,362,814,677,537,717,757,599,871,348,950,266,636,593,830,695,590,159,438,341,324
0,0.380952,0.095238,0.095238,0.095238,0.047619,0.047619,0.047619,0.047619,0.02381,0.02381,0.02381,0.02381,0.02381,0.02381,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,720,370,420,580,770,710,740,150,440,780,600,170,760,660,250,20,640,950,830,670,...,410,540,320,900,880,500,850,930,590,520,730,110,790,450,610,120,680,910,0,30
0,0.5,0.095238,0.095238,0.095238,0.071429,0.047619,0.047619,0.047619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,700,500,300,400,100,800,600,900,-900,0,200
0,0.666667,0.095238,0.095238,0.095238,0.047619,0.0,0.0,0.0,0.0,0.0,0.0