In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_json('https://www.dropbox.com/s/5iw2kgh45g4p1mk/joinCluster.json?dl=1')

In [66]:
df.head(3)

,RowID,Fecha,IDItem,NumeroUbicacion,Dewey,Ubicacion,Llave,Programa,Facultad,IDUsuario,...,Autor,Titulo,AnioPublicacion,DeweyEspecifico,TemaDewey,Temas,Union,Peso_x,Peso_y,cluster
0,Row0,1547050497000,80000005327627,720.98 A71S,720,COL-GRAL-2,866245,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,...,"Arango Cardinal, Silvia 1948-",Ciudad y arquitectura seis generaciones que co...,2012.0,720.98,Arquitectura latinoamericana,"[arquitectur, histori, amer, latin]",arquitectur histori amer latin,0.25,5.25,16
1,Row1,1547050500000,80000001191496,720.9861 A71,720,COL-GRAL-2,309945,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,...,"Arango Cardinal, Silvia 1948-",Historia de la arquitectura en Colombia Silvia...,1993.0,720.9861,Arquitectura colombiana,"[arquitectur, colonial, histori, colombi]",arquitectur colonial histori colombi,0.25,5.25,16
2,Row2,1547138763000,80000004979759,540 CH15Q 2010,540,COL-GRAL-3,822727,CARRERA DE ARQUITECTURA,arquitectura y diseño,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,...,"Chang, Raymond",Química Raymond Chang ; revisión técnica Rosa ...,2010.0,540,Química,[quimic],quimic,0.25,5.50,1

Se creará un DataFrame el cual tendrá como columnas: IDUsuario, Fecha, Llave, Calificacion. Cada fila del dataframe representa una retroalimentación por parte del usuario cuando se realiza una recomendación. El usuario unicamente puede dicidir si le gustó o no la recomendación a través de botones de like y dislike por lo cual el atributo calificación solo tendrá dos valores. Si a el usuario le agrada la recomendación se da un valor de 1 si no -1. Esto con el fin de modificar los pesos que tienen los usuarios por dewey cuando se generan los clusters y en caso de que las recomendaciones no sean adecuadas cambiar al usuario de cluster.

In [67]:
calificaciones = pd.DataFrame(columns= ["IDUsuario", "Year", "IDItem", "Calificación"])
calificaciones

Empty DataFrame
Columns: [IDUsuario, Year, IDItem, Calificación]
Index: []

In [68]:
import random
def aleatorios(num):
    for i in range(num):
        id = random.choice(df.IDUsuario.unique())
        IDItem = random.choice(df.IDItem.unique())
        cal = random.choice([-1,1])
        anio = random.choice([2021])
        calificaciones.loc[i] = [id,anio,IDItem,cal]

In [69]:
aleatorios(100)

In [70]:
calificaciones

,IDUsuario,Year,IDItem,Calificación
0,6926f3cc9831555dba467a7b80248559029c9603,2021,80000001089948,-1
1,074023b66cc5071945a94f906c60595471d3c973,2021,80000004512734,-1
2,534a8f9c06a6c9b45ce3e2744ecdde70278dda9c,2021,80000003820649,1
3,1e25fe01f8c4467ac51a4132b5808b055af9e540,2021,80000001698458,1
4,7abefa817000547230b0a4dcabe0d7fc0d1bd3ea,2021,80000002121351,-1
...,...,...,...,...
95,4051d4c121d7370475ec5dbe59da4833bff9f40c,2021,80000005584345,-1
96,85075a72c6725da4c122449e1451169686f79899,2021,80000003213918,-1
97,93c44c1af59743480321e2834969280dab7f31df,2021,80000004525246,1
98,205db3494dca89236b977c50c6b08e6a09fd7036,2021,80000003864230,-1
99,b58a479d336f793e435b0620a750b8680fa3edf1,2021,80000002643578,-1

In [71]:
def aleatorioCluster(num, cluster):
    sub = df.loc[df.cluster == cluster]
    for i in range(num):
        id = random.choice(sub.IDUsuario.unique())
        IDItem = random.choice(df.IDItem.unique())
        cal = random.choice([-1,1])
        anio = random.choice([2021])
        calificaciones.loc[i] = [id,anio,IDItem,cal]

In [72]:
aleatorioCluster(100,3)

In [73]:
def librosRelacionados(num, cluster):
    sub = df.loc[df.cluster == cluster]
    for i in range(num):
        id = random.choice(sub.IDUsuario.unique())
        IDItem = random.choice(sub.IDItem.unique())
        cal = random.choice([-1,1])
        anio = random.choice([2021])
        calificaciones.loc[i] = [id,anio,IDItem,cal]

In [74]:
aleatorioCluster(100,3)

In [75]:
def agregarUsuario(id, anio, IDItem, cal):
    i = calificaciones.shape[0]
    calificaciones.loc[i] = [id,anio,IDItem,cal]

In [76]:
agregarUsuario("fa31e19dc88b6af2b708328dac335c8ead738c1e", 2021, 80000005327627, -1)

Tras obtener las recomendaciones con los feedbacks que dan los usuarios podemos realizar un append a las tabla de prestamos.

In [77]:
datasetPrestamos = pd.read_json('https://www.dropbox.com/s/ez2uzrfwmvzpim8/PRESTAMOS-BGENERAL.json?dl=1')

In [78]:
datasetPrestamos.head(3)

,RowID,Mes,Fecha,IDItem,NumeroUbicacion,Dewey,Ubicacion,TipoItem,Llave,Perfil,Programa,Facultad,IDUsuario,Year
0,Row0,Enero,1547050497000,80000005327627,720.98 A71S,720,COL-GRAL-2,LIBRO,866245,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019
1,Row1,Enero,1547050500000,80000001191496,720.9861 A71,720,COL-GRAL-2,LIBRO,309945,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019
2,Row2,Enero,1547138763000,80000004979759,540 CH15Q 2010,540,COL-GRAL-3,LIBRO,822727,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,2019

In [79]:
datasetPrestamos = datasetPrestamos.append(calificaciones)

In [82]:
datasetPrestamos.reset_index(inplace=True)
datasetPrestamos

,level_0,index,RowID,Mes,Fecha,IDItem,NumeroUbicacion,Dewey,Ubicacion,TipoItem,Llave,Perfil,Programa,Facultad,IDUsuario,Year,Calificación
0,0,0,Row0,Enero,1.547050e+12,80000005327627,720.98 A71S,720,COL-GRAL-2,LIBRO,866245,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019,NaN
1,1,1,Row1,Enero,1.547050e+12,80000001191496,720.9861 A71,720,COL-GRAL-2,LIBRO,309945,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,c361c772cd0220bb16dcfb2ad803e4903334ab94,2019,NaN
2,2,2,Row2,Enero,1.547139e+12,80000004979759,540 CH15Q 2010,540,COL-GRAL-3,LIBRO,822727,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,2019,NaN
3,3,3,Row3,Enero,1.547139e+12,80000004509512,512 B151,510,COL-GRAL-3,LIBRO,784541,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,87b0e5a61ed712ddfaf5d478ad68c87c825997e9,2019,NaN
4,4,4,Row4,Enero,1.547300e+12,80000005270756,712 M17E,710,COL-GRAL-2,LIBRO,858473,A-EGRESADO,CARRERA DE ARQUITECTURA,arquitectura y diseño,afe8c17ba351d274fc5671978918f0c93032d88f,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489833,489833,96,NaN,NaN,NaN,80000004656100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7b5f5e8531271b5493bced65250e77f3edd31edd,2021,1
489834,489834,97,NaN,NaN,NaN,80000001407561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ec11c06544ec2e4fc3a5274c51f194f7757e64f3,2021,1
489835,489835,98,NaN,NaN,NaN,80000001178246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bf20d53ffe868c3c554c4178f7fd8e656550d8a3,2021,1
489836,489836,99,NaN,NaN,NaN,80000005582653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2b0b9e665ac7d70d9f31965b9050358783aadb11,2021,-1
489837,489837,100,NaN,NaN,NaN,80000005327627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fa31e19dc88b6af2b708328dac335c8ead738c1e,2021,-1

In [84]:
datasetPrestamos.to_json (r'/Users/juansebastianangaritatorres/Downloads/PRESTAMOS-BGENERAL-FEEDBACK.json')